<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-xxl-12 footer_top_part_css">
            <div class="col-12 col-md-6 col-xxl-6 ">
                <div class="browse_categories">
                    <div class="text_browse_categories">
                        Ready to Xpand Differently?
                    </div>
                    <div class="button_browse_categories gap-3">
                        <button routerLink="/how-it-works" (click)="apiService.routePage('how-it-works','form')">CONSULT NOW</button>
                        <button (click)="openWhatsApp('9024588535', 'Hello')"
                        type="button">TALK TO US</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-6 ">
                <div class="footer_img_css w-100">
                    <img src="../../assets/images/footer_img_1.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-xxl-12" style="background-color: #EBEBEB; align-items: center; display: flex; justify-content: center; padding-bottom: 10px;">
            <div class="col-12 col-md-12 col-xxl-12">

                <div class="row">
                    <div class="col-12 col-md-10 col-xxl-10 offset-xxl-1 offset-md-1 footer_details_css mt-5">
                        <div class="footer_logo_css">
                            <img src="../../assets/images/logo-ddd.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-11 col-xxl-11 offset-xxl-1 offset-md-1 footer_details_css mt-0">
                        <div class="col-12 col-md-4 col-xxl-4 mt-4">
                            <div class="footer_details_data_css">
                                <p class="avx_footer_css">AVX Mediaworkz</p>
                                <p class="avx_address_css">Mumbai & Noida</p>
                            </div>
                            <div class="footer_icon_css">
                                <div>
                                    <p class="follow_text_css">Follow Us On :</p>
                                </div>
                                <div>
                                    <!-- <img src="https://cdn-icons-png.flaticon.com/128/3670/3670124.png?ga=GA1.2.3377681.1681707924&semt=ais" alt=""> -->
                                    <img src="../../assets/images/fb_icon.svg" alt="">
                                    <!-- <img src="https://cdn-icons-png.flaticon.com/128/3955/3955024.png?ga=GA1.2.3377681.1681707924&semt=ais" alt=""> -->
                                    <img src="../../assets/images/instagram_icon.svg" alt="">
                                    <!-- <img src="https://cdn-icons-png.flaticon.com/128/1377/1377213.png?ga=GA1.2.3377681.1681707924&semt=ais" alt=""> -->
                                    <img src="../../assets/images/linkedin_icon.svg" alt="">
                                    <!-- <img src="https://cdn-icons-png.flaticon.com/128/3670/3670163.png?ga=GA1.2.3377681.1681707924&semt=ais" alt=""> -->
                                    <img src="../../assets/images/youtube_icon.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-xxl-4 d-flex justify-content-center  mt-4">
                            <div class="contact_us_css">
                                <p class="contact_us_data">Contact Us :</p>
                                <p class="contact_us_data_menu_css"><img src="../../assets/images/call_icon.svg" alt=""> +91 7665516516</p>
                                <p class="contact_us_data_menu_css"><img src="../../assets/images/whasapp_icon.svg" alt=""> +91 7665516516</p>
                                <p class="contact_us_data_menu_css"><img src="../../assets/images/mail_icon.svg" alt=""> info&#64;gmail.com</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-xxl-4 policies_css  mt-4">
                            <div class="contact_us_css">
                                <p class="contact_us_data">Policies :</p>
                                <p class="contact_us_data_menu_css">Terms & Conditions</p>
                                <p class="contact_us_data_menu_css">Privacy Policy</p>
                                <p class="contact_us_data_menu_css">Cookie Policy</p>
                                <p class="contact_us_data_menu_css">More...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-xxl-12 footer_bottom_css">
            <div class="footer_bottom_css_text_left">
                All Rights Reserved © 2024
            </div>
            <div class="footer_bottom_css_text_right">
                Designed & Developed by : <a target="_blank" href="https://prilient.com/"><b>PRILIENT TECHNOLOGIES</b></a>
            </div>
        </div>
    </div>
</div>