.creativeAsset{
    font-size: 30px;
    font-weight: bold;
    }
    .creativeAssetSearch{
        display: flex;
    border-radius: 10px;
    border: 2px solid #000;
    
    background: #F8F9FF;
    }
    
    .searchBar{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 90%;
    border-bottom: 2px solid #BCBBC3;
    padding-bottom: 10px;
    }
    
    .creativeAssetSearch input{
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
    padding: 0 0 0 10px;
    }
    
    
    .creativeAssetsSearchIcon{
        width: 40px;
    height: 40px;
    padding: 6px;
       background-color: #393939;
    }
    

    .tAble_css{
        border: 1px solid #E6E5FD;
        min-width: 1000px;
    }
    .tHead_css{
        height: 60px;
    }
    .tHead_css tr th{
        text-align: center;
        vertical-align: middle;
    }
    .tBody_css tr{
        height: 60px;
        border-bottom: 4px solid #E6E5FD;
    }
    .tBody_css tr td{
        text-align: center;
        vertical-align: middle;
    }

    .img_dwonLoad_1{
        transition: transform .3s ease;
      }
      .img_dwonLoad_1:active{
        transform: scale(.9);
      }


      .icon_t_e_e i {
        padding: 0px 5px;
        cursor: pointer;
      }
      .icon_t_e_e i:nth-child(1) {
        color: red;
      }
      .icon_t_e_e i:nth-child(2) {
        color: green;
      }
      .icon_t_e_e i:nth-child(3) {
        color: black;
      }
/* 
      .header_css_button_project{
        display: flex;
        justify-content: end;
    }
    .header_css_button_project button{
        font-size: 19px;
        background-color: yellow;
        outline: none;
        padding: 10px;
        border: 1px solid yellow;
        border-radius: 10px;
        transition: transform .3s ease;
    }
    .header_css_button_project button:active{
        transform: scale(.9);
    } */


    .text_add_p_css {
        text-align: center;
        color: #000;
        font-weight: bold;
      }
    .add_css_pro_code {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
      }
      .add_css_pro_code label {
        font-size: 17px;
        font-weight: bold;
      }
      .add_css_pro_code input,
      .add_css_pro_code select {
        font-size: 15px;
        border: 2.5px solid #555353;
        border-radius: 5px;
        padding: 15px;
        margin: 5px;
        width: 80%;
      }
      .save_css_button_code {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
      }
      .save_css_button_code button {
        background-color: yellow;
        color: #000;
        outline: none;
        border: 1px solid yellow;
        border-radius: 5px;
        padding: 10px 40px;
      }
      .save_css_button_code button:active {
        transform: scale(0.9);
      }