.creativeAsset{
    font-size: 30px;
    font-weight: bold;
    }
   

    .tAble_css{
        border: 1px solid #E6E5FD;
        min-width: 1000px;
    }
    .tHead_css{
        height: 60px;
    }
    .tHead_css tr th{
        text-align: center;
        vertical-align: middle;
    }
    .tBody_css tr{
        height: 60px;
        border-bottom: 4px solid #E6E5FD;
    }
    .tBody_css tr td{
        width: 300px;
        text-align: center;
        vertical-align: middle;
    }

    .img_dwonLoad_1{
        transition: transform .3s ease;
      }
      .img_dwonLoad_1:active{
        transform: scale(.9);
      }


     