
<div class="d-flex flex-wrap justify-content-center align-items-center mt-5">
    <div class="searchBar">
        <div class="added_positions_list_right" *ngIf="currentcreativeAssetTablePage === 1">
            <div class="added_positions_under_head">Show</div>
            <div>
              <select class="added_positions_under_head_select" [(ngModel)]="creativeAssetTablePageperPage">
                <option value="12">12</option>
                <option value="24">24</option>
                <option value="36">36</option>
                <option value="48">48</option>
                <option value="60">60</option>
              </select>
            </div>
            <div class="added_positions_under_head">Enteries</div>
          </div>
        <div class="creativeAssetSearch">
            <input type="text" id="searchBar" placeholder="Search" [(ngModel)]="searchcreativeAssetTable"
            (keyup)="FiltercreativeAssetTable()"> <img
                src="../../../assets/images/creativeAssetsSearchIcon.svg" alt="" class="creativeAssetsSearchIcon">
        </div>
    </div>
    
</div>

<div class="d-flex flex-wrap justify-content-center align-items-center mt-4" *ngIf="getPaginatedcreativeAssetTableData().length !== 0">
    <div class="d-flex justify-content-start align-items-start" style="width: 90%;">
        <div class="creativeAsset">
            Creative Assets
        </div>
    </div>

</div>

<div class="">
    <div class="col-12 col-md-12 mt-4 px-5 overflow-auto" *ngIf="getPaginatedcreativeAssetTableData().length !== 0">
<!-- <div class="d-flex flex-wrap justify-content-center align-items-center mt-4">
    <div class="d-flex flex-wrap justify-content-center align-items-start" style="width: 90%;"> -->
        <table class="table tAble_css table-striped">
            <thead class="table-dark tHead_css">
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Assign To</th>
                    <th scope="col">Download</th>
                </tr>
            </thead>
            <tbody class="tBody_css">
                <tr *ngFor="let item of getPaginatedcreativeAssetTableData(); let i = index;">
                    <td >{{ i + 1 }}</td>
                    <td>{{ item.title ||
                        "-"}}</td>
                    <td> {{ item.createdAt | date:'dd/MM/yyyy'|| "-" }}</td>
                    <td>
                        <i class="fa fa-users" data-bs-toggle="modal"
                                        data-bs-target="#viewProjectOpp" (click)="sendId_Data(item._id)"></i>
                            <!-- <mat-form-field class="w-75" >
                                <mat-label>Assign</mat-label>
                                <mat-select  multiple aria-required="true" [(value)]="item.member">
                                    <mat-option *ngFor="let getTeamMember of getTeamMemberList"
                                        [value]="getTeamMember?._id">{{getTeamMember?.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button class="btn btn-sm btn-success m-1" *ngIf="item.member && item.member.length > 0" (click)="assignCreativeAssetsToTeamMember(item.member, item._id)">Save</button> -->
                    </td>
                        <td>
                            <div class="img_dwonLoad_1" >
                                <!-- <a href="https://api-avx.prilient.com/upload/creative_attach/4434894d-425c-44ec-b87b-5e2f9d5ddc0e.png" download>Download</a> -->
                                <a [href]="'https://api-avx.prilient.com/download?url=' + item.url" download>
                                <img src="../../../assets/images/dwonLoad_1.svg" style="width: 40px; height: 40px;" alt="">
                                </a>
                            </div>
                        </td>
                        

                </tr>

            </tbody>

        </table>
    </div>

    <div class="modal-footer mb-2" style="width: 80%;">
        <div class="col-md-12" *ngIf="getTotalPagescreativeAssetTable() > 1">
          <div class="table_footer mt-2">
            <button class="btn btn-secondary d-flex justify-content-center align-items-center"
              style="background-color:yellow; color: #000;" (click)="previouscreativeAssetTablePage()"
              [disabled]="currentcreativeAssetTablePage == 1">
              <i class="fa fa-angle-left"></i> Previous
            </button>
            <div class="recruitment_list_number">
              <div *ngFor="let pageNumber of getPageNumberscreativeAssetTable()"
                [class.active_num]="pageNumber === currentcreativeAssetTablePage" class="recruitment_list_number_value"
                (click)="changePagecreativeAssetTable(pageNumber)">
                {{ pageNumber }}
              </div>
            </div>
            <button class="btn btn-secondary d-flex justify-content-center align-items-center"
              style="background-color:yellow; color: #000;" (click)="nextPagecreativeAssetTable()"
              [disabled]="currentcreativeAssetTablePage == getTotalPagescreativeAssetTable()">
              Next <i class="fa fa-angle-right"></i>
            </button>
    
          </div>
        </div>
      </div>
</div>


<div class="not_data_img_div" *ngIf="getPaginatedcreativeAssetTableData().length == 0">
    <p class="not-found-text">Data Not Found!</p>
    <img class="not-found-image" src="/assets/images/notFound.png" alt="Image Not Found">
  </div>


<div class="modal fade" style=" --bs-modal-zindex: 1000 !important;background-color: #58585867 !important;"
id="viewProjectOpp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
<div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
        <div class="modal-header" style="background-color: yellow;">
            <div class="col-12 col-md-12 d-flex flex-nowrap">
                <div class="col-11 col-md-11 text_add_p_css">
                    <div class="modal-title fs-5" id="exampleModalLabel">Assign To</div>
                </div>
                <div class="col-1 col-md-1 text-end text-white"><button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button></div>
            </div>
        </div>
        <div class="modal-body m-4">
            <!-- <form #saveAssignToForm="ngForm" > -->
            <form #saveAssignToForm="ngForm" (ngSubmit)="assignCreativeAssetsToTeamMember(assignTo)">
                <div class="col-12 col-md-12 d-flex justify-content-center align-items-center">

                    <div class="teamMemberAdd">
                        <mat-form-field>
                            <mat-label>Assign To</mat-label>
                            <mat-select multiple aria-required="true" [(value)]="assignTo">
                                <mat-option *ngFor="let getTeamMember of getTeamMemberList"
                                        [value]="getTeamMember?._id">{{getTeamMember?.name}}</mat-option>
                                        <mat-option *ngIf="getTeamMemberList.length == 0">Not Found</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                </div>
                <div class="col-12 col-md-12">
                    <div class="save_css_button_code">
                        <button [disabled]="saveAssignToForm.invalid"  data-bs-dismiss="modal" aria-label="Close">Save</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</div>