
    <div class="d-flex flex-wrap justify-content-center align-items-center mt-5">
        <div class="searchBar">
            <div class="header_css_button_project">
                <button data-bs-toggle="modal" data-bs-target="#addFileSharing"><i class="fa fa-plus"></i> Add
                    New</button>
                    <div class="added_positions_list_right" *ngIf="currentFileSharingTablePage === 1">
                        <div class="added_positions_under_head">Show</div>
                        <div>
                            <select class="added_positions_under_head_select" [(ngModel)]="FileSharingTablePageperPage">
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                                <option value="48">48</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                        <div class="added_positions_under_head">Enteries</div>
                    </div>
            </div>
            <div class="creativeAssetSearch">
                <input type="text" id="searchBar" placeholder="Search" [(ngModel)]="searchFileSharingTable" (keyup)="FilterFileSharingTable()">
                <img src="../../../assets/images/creativeAssetsSearchIcon.svg" alt="" class="creativeAssetsSearchIcon">
            </div>
        </div>
    
    </div>


    <div class="d-flex flex-wrap justify-content-center align-items-center mt-4" *ngIf="getPaginatedFileSharingTableData().length !== 0">
        <div class="d-flex justify-content-start align-items-start" style="width: 90%;">
            <div class="creativeAsset">
                File Sharing
            </div>
        </div>
    
    </div>
        <div class="">
            <div class="col-12 col-md-12 mt-4 px-5 overflow-auto" *ngIf="getPaginatedFileSharingTableData().length !== 0">
                <table class="table tAble_css table-striped">
                    <thead class="table-dark tHead_css">
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">File Name</th>
                            <th scope="col">File No.</th>
                            <th scope="col">Date</th>
                            <th scope="col">Download</th>
                            <th scope="col">Client Review</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="tBody_css">
                        <tr *ngFor="let projectData of getPaginatedFileSharingTableData(); let i = index">

                            <td scope="row" [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">{{i+1}}</td>
                            <td [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">{{ projectData.project_id.name ||
                                "-"}}</td>
                            <td [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">{{ projectData.original_name || "-"
                                }}</td>
                                <td [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">{{ projectData.file_number || "-"
                                }}</td>
                                <td [ngClass]="{ 'bg-secondary': !projectData.is_enabled }"> <i class="far fa-calendar"></i> {{ projectData.createdAt | date:
                                    'dd/MM/yyyy' || "-" }}</td>
                                <td [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">
                                <div class="img_dwonLoad_1" >
                                    <a [href]="'https://api-avx.prilient.com/download?url=' + projectData.url" download>
                                    <img src="../../../assets/images/dwonLoad_1.svg" class="w-25" alt="">
                                    </a>
                                </div>
                            </td>
                            <td [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">
                                <button class="view_data_css_22"  data-bs-toggle="modal" 
                                data-bs-target="#viewClientReview" (click)="sendData(projectData.is_accpeted,projectData.review_comment,projectData.is_viewed_by_client)">View</button>
                                
                            </td>
                            <td [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">
                                <div class="icon_t_e_e">
                                    <i class="fa fa-trash" *ngIf="projectData.is_enabled" (click)="deleteFileSharing(projectData._id,projectData.is_enabled)"></i>
                                    <i class="fas fa-trash-restore-alt" *ngIf="!projectData.is_enabled" (click)="deleteFileSharing(projectData._id,projectData.is_enabled)"></i>
                                    <i class="fas fa-edit" data-bs-toggle="modal"
                                    data-bs-target="#updateNewFile" (click)="updateFileData(projectData.project_id._id,projectData._id,projectData.original_name)"  *ngIf="projectData.is_enabled"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer mb-2" style="width: 80%;">
                <div class="col-md-12" *ngIf="getTotalPagesFileSharingTable() > 1">
                  <div class="table_footer mt-2">
                    <button class="btn btn-secondary d-flex justify-content-center align-items-center"
                      style="background-color:yellow; color: #000;" (click)="previousFileSharingTablePage()"
                      [disabled]="currentFileSharingTablePage == 1">
                      <i class="fa fa-angle-left"></i> Previous
                    </button>
                    <div class="recruitment_list_number">
                      <div *ngFor="let pageNumber of getPageNumbersFileSharingTable()"
                        [class.active_num]="pageNumber === currentFileSharingTablePage" class="recruitment_list_number_value"
                        (click)="changePageFileSharingTable(pageNumber)">
                        {{ pageNumber }}
                      </div>
                    </div>
                    <button class="btn btn-secondary d-flex justify-content-center align-items-center"
                      style="background-color:yellow; color: #000;" (click)="nextPageFileSharingTable()"
                      [disabled]="currentFileSharingTablePage == getTotalPagesFileSharingTable()">
                      Next <i class="fa fa-angle-right"></i>
                    </button>
            
                  </div>
                </div>
                </div>
        </div>

        <div class="not_data_img_div" *ngIf="getPaginatedFileSharingTableData().length == 0">
            <p class="not-found-text">Data Not Found!</p>
            <img class="not-found-image" src="/assets/images/notFound.png" alt="Image Not Found">
          </div>
    <!-- </div> -->
    
    <div class="modal fade" id="addFileSharing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: yellow;">
                    <div class="col-12 col-md-12 d-flex flex-nowrap">
                        <div class="col-11 col-md-11 text_add_p_css">
                            <div class="modal-title fs-5" id="exampleModalLabel">Add File</div>
                        </div>
                        <div class="col-1 col-md-1 text-end text-white">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body m-4">
                    <form #saveFileSharingForm="ngForm" (ngSubmit)="saveFileSharing(FileSharing)">
                        <div class="col-12 col-md-12 d-flex flex-wrap">
                           
                            
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Project</label>
                                    <select [(ngModel)]="FileSharing.project_id" name="project_id" required>
                                        <option value="" disabled selected>Select Project</option>
                                        <option *ngFor="let project_id of projectsName" [value]="project_id._id">
                                            {{project_id.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Upload Doc.</label>
                                    <input type="file" (change)="onChangeFileSharing($event)"
                                        [(ngModel)]="FileSharing.file_sharing" name="file_sharing">
                                </div>
                            </div>
                          
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="save_css_button_code">
                                <button [disabled]="saveFileSharingForm.invalid">Save</button>
                            </div>
                        </div>
                    </form>
    
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="viewClientReview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header" style="background-color: yellow;">
                    <div class="col-12 col-md-12 d-flex flex-nowrap">
                        <div class="col-11 col-md-11 text_add_p_css">
                            <div class="modal-title fs-5" id="exampleModalLabel">Description</div>
                        </div>
                        <div class="col-1 col-md-1 text-end text-white"><button type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button></div>
                    </div>
                </div>
                <div class="modal-body m-4">
                    <div>
                        <div class="col-12 col-md-12 d-flex flex-wrap" *ngIf="is_viewed_by_client">
                            <div class="col-12 col-md-12 d-flex flex-column justify-content-center align-items-center gap-3">
                              <div class="accect_button" *ngIf="is_accpeted == true">
                                <button>Accept</button>
                              </div>
                              <div class="decline_button" *ngIf="is_accpeted == false">
                                <button>Decline</button>
                              </div>
                              <div *ngIf="is_accpeted == false">{{review_comment}}</div>
                            </div>
                          </div>
                          <div class="col-12 col-md-12 d-flex flex-wrap justify-content-center align-items-center" *ngIf="is_viewed_by_client == false">
                            <div class="add_css_pro_code">
                                Client has not seen yet.
                            </div>
                        </div>
                          <div class="col-12 col-md-12 d-flex flex-wrap justify-content-center align-items-center" *ngIf="is_viewed_by_client && is_accpeted == undefined">
                            <div class="add_css_pro_code">
                                Client has seen.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateNewFile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: yellow;">
                    <div class="col-12 col-md-12 d-flex flex-nowrap">
                        <div class="col-11 col-md-11 text_add_p_css">
                            <div class="modal-title fs-5" id="exampleModalLabel">Update {{filsharing_name_data}} File
                            </div>
                        </div>
                        <div class="col-1 col-md-1 text-end text-white"><button type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button></div>
                    </div>
                </div>
                <div class="modal-body m-4">
                    <form #saveFileSharingUpdateForm="ngForm" (ngSubmit)="updateFileSharing()">
                        <div class="col-12 col-md-12 d-flex flex-wrap">
                           
                            
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Project</label>
                                    <select [(ngModel)]="project_id_data" name="project_id_data" required>
                                        <option value="" disabled selected>Select Project</option>
                                        <option *ngFor="let project_id of projectsName" [value]="project_id._id">
                                            {{project_id.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Upload Doc.</label>
                                    <input type="file" (change)="onChangeFileSharingUpdate($event)"
                                        [(ngModel)]="file_sharing" name="file_sharing">
                                        <span>{{filsharing_name_data}}</span>
                                </div>
                            </div>
                            <!-- <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Upload Doc.</label>
                                    <input type="file" (change)="onChangeFileSharingUpdate($event)"
                                        [ngModel]="file_sharing ? file_sharing.original_name : ''" name="file_sharing">
                                </div>
                            </div> -->
                            
                          
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="save_css_button_code">
                                <button [disabled]="saveFileSharingUpdateForm.invalid">Save</button>
                            </div>
                        </div>
                    </form>
    
                </div>
            </div>
        </div>
    </div>