
<div class="d-flex flex-wrap justify-content-center align-items-center mt-5">
    <div class="searchBar">
        <div class="added_positions_list_right" *ngIf="currentcreativeAssetTablePage === 1">
            <div class="added_positions_under_head">Show</div>
            <div>
              <select class="added_positions_under_head_select" [(ngModel)]="creativeAssetTablePageperPage">
                <option value="12">12</option>
                <option value="24">24</option>
                <option value="36">36</option>
                <option value="48">48</option>
                <option value="60">60</option>
              </select>
            </div>
            <div class="added_positions_under_head">Enteries</div>
          </div>
        <div class="creativeAssetSearch">
            <input type="text" id="searchBar" placeholder="Search" [(ngModel)]="searchcreativeAssetTable"
            (keyup)="FiltercreativeAssetTable()">  <img
                src="../../../assets/images/creativeAssetsSearchIcon.svg" alt="" class="creativeAssetsSearchIcon">
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center align-items-center mt-4" *ngIf="getPaginatedcreativeAssetTableData().length !== 0">
    <div class="d-flex justify-content-start align-items-start" style="width: 90%;">
        <div class="creativeAsset">
            Creative Assets
        </div>
    </div>

</div>

<div class="">
    <div class="col-12 col-md-12 mt-4 px-5 overflow-auto" *ngIf="getPaginatedcreativeAssetTableData().length !== 0">
<!-- <div class="d-flex flex-wrap justify-content-center align-items-center mt-4">
    <div class="d-flex flex-wrap justify-content-center align-items-start" style="width: 90%;"> -->
        <table class="table tAble_css table-striped">
            <thead class="table-dark tHead_css">
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Document</th>
                </tr>
            </thead>
            <tbody class="tBody_css">
                <tr *ngFor="let item of getPaginatedcreativeAssetTableData(); let i = index;">
                    <td >{{ i + 1 }}</td>
                    <td>{{ item.name ||
                        "-"}}</td>
                    <td><i class="far fa-calendar"></i> {{ item.date | date:
                        'dd/MM/yyyy' || "-" }}</td>
                        <td>
                            <div class="img_dwonLoad_1" >
                                <img src="../../../assets/images/dwonLoad_1.svg" style="width: 40px; height: 40px;" alt="">
                            </div>
                        </td>

                </tr>

            </tbody>

        </table>
    </div>
    <div class="modal-footer mb-2" style="width: 80%;">
        <div class="col-md-12" *ngIf="getTotalPagescreativeAssetTable() > 1">
          <div class="table_footer mt-2">
            <button class="btn btn-secondary d-flex justify-content-center align-items-center"
              style="background-color:yellow; color: #000;" (click)="previouscreativeAssetTablePage()"
              [disabled]="currentcreativeAssetTablePage == 1">
              <i class="fa fa-angle-left"></i> Previous
            </button>
            <div class="recruitment_list_number">
              <div *ngFor="let pageNumber of getPageNumberscreativeAssetTable()"
                [class.active_num]="pageNumber === currentcreativeAssetTablePage" class="recruitment_list_number_value"
                (click)="changePagecreativeAssetTable(pageNumber)">
                {{ pageNumber }}
              </div>
            </div>
            <button class="btn btn-secondary d-flex justify-content-center align-items-center"
              style="background-color:yellow; color: #000;" (click)="nextPagecreativeAssetTable()"
              [disabled]="currentcreativeAssetTablePage == getTotalPagescreativeAssetTable()">
              Next <i class="fa fa-angle-right"></i>
            </button>
    
          </div>
        </div>
      </div>

</div>

<div class="not_data_img_div" *ngIf="getPaginatedcreativeAssetTableData().length == 0">
    <p class="not-found-text">Data Not Found!</p>
    <img class="not-found-image" src="/assets/images/notFound.png" alt="Image Not Found">
  </div>