.navbar_css {
  box-shadow: 1px 0px 5px #000;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  background-color: yellow;
}
.sub_head_css{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_head_css i:nth-child(1){
  font-size: 20px;
  padding: 10px;
}
.sub_head_css i:nth-child(2){
  font-size: 30px;
  padding: 10px;
}
.body_part::-webkit-scrollbar {
  width: 0.5em;
}

.body_part::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.header_menu img {
  height: 95px;
  padding: 10px;
}
.header_menu_profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.header_menu_profile img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.post_css {
  background-color: yellow;
  border-radius: 10px;
  padding: 10px;
  color: #000;
}

.profile_img_on_header img {
  height: 50px;
  width: 50px;
}
.menu_options {
  margin-top: 0px;
  background-color: transparent;
  /* background-color: #353B4C; */
}
.menu_options ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.menu_options ul li:hover {
  background-color: #b3b3b38a;
  /* background-color: #3B3A70; */
}
.hove_active{
    background-color: #b3b3b38a; 
}
.menu_options ul li div {
  height: 50px;
  cursor: pointer;
}
.menu_img_css_1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_img_css_1 img {
  height: 20px;
  width: 20px;
}
.text_menu_css {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 18px;
}
.log_out_css {
  height: 50px;
  font-size: 20px;
  gap: 10px;
  cursor: pointer;
}
.log_out_css:active {
  transform: scale(0.95);
}

.add_css_pro_code {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.add_css_pro_code label {
  font-size: 17px;
  font-weight: bold;
}
.add_css_pro_code input,
.add_css_pro_code select {
  font-size: 15px;
  border: 2.5px solid #555353;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
  width: 80%;
  /* font-weight: bold; */
}

.text_add_p_css {
  text-align: center;
  color: #000000;
  font-weight: bold;
}
.profile_icon_img {
  padding: 10px;
}
.profile_icon_img i {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  color: #fff;
  letter-spacing: 3px;
  cursor: pointer;
}
.profile_icon_img i:active {
  transform: scale(0.9);
}
.profile_icon_img i:nth-child(1) {
  /* padding: 10px; */
  background-color: green;
}
.profile_icon_img i:nth-child(3) {
  /* padding: 10px; */
  background-color: red;
}
.profile_data_img_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_data_img_div img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}