.form-control {
  border: var(--bs-border-width) solid #797a7a;
}
.form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .input-error {
    color: red;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  
  /* @media (max-width: 767px) {
    .form-group {
      margin-bottom: 15px;
    }
  
    .btn-primary {
      width: 100%;
    }
  }
   */

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .container {
    animation: fadeIn 1s ease-in-out;
  }
  .img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 5px;
  }
  
 
  
  .img img {
    max-width: 100%;
    height: auto;
  }
  
  .form {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
  }
  


  /* @media screen and (max-width: 1050px){
    .container{
      grid-gap: 5rem;
    }
  }
  
  @media screen and (max-width: 1000px){
    form{
      width: 290px;
    }
  
    
  
    .img img{
      width: 400px;
    }
  }
  
  @media screen and (max-width: 900px){
    .container{
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
    }
  
    .img{
      width: 400px;
      margin-left: 7rem;
    }
    form#registration-form{
      width: 415px;
      margin-left: -2rem;
    }
  } */


/* upload image in document start */
.profile-header-img {
  float: left;
  width: 7.5rem;
  height: 7.8rem;
  overflow: hidden;
  z-index: 10;
  margin: 0 1.25rem -1.25rem 0;
  padding: 0.1875rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 50%;
  background: #fff;
}

/* image hover upload start */

.profile-header-img .upload-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 50%;
  padding-top: 30px;
  color: #000;
}

.profile-header-img:hover .upload-overlay {
  display: block;
}

/* Initially hide the "Upload Image" button */
.image-container .add-to-cart {
  background: #7C25D8;
  color: #131212;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  padding: 5px 6px;
  position: absolute;
  left: 0;
  bottom: -60px;
  transition: all 0.3s ease 0s;
  opacity: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

/* Show the "Upload Image" button when hovering over the image container */
.image-container:hover .add-to-cart {
  bottom: 0;
  opacity: 1;
}

/* Add a hover effect to the button */
.image-container .add-to-cart:hover {
  text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
.square-image {
  width: 150px; /* You can adjust the width and height as needed */
  height: 150px;
  object-fit: cover; /* This property ensures the image covers the square container */
}


/* image hover upload end */

.profile-info-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.friend-list,
.img-grid-list {
  margin: -1px;
  list-style-type: none;
}
.profile-info-list > li.title {
  font-size: 0.625rem;
  font-weight: 700;
  color: #8a8a8f;
  padding: 0 0 0.3125rem;
}
.profile-info-list > li + li.title {
  padding-top: 1.5625rem;
}
.profile-info-list > li {
  padding: 0.625rem 0;
}
.profile-info-list > li .field {
  font-weight: 700;
}
.profile-info-list > li .value {
  color: #666;
}
.profile-info-list > li.img-list a {
  display: inline-block;
}
.profile-info-list > li.img-list a img {
  max-width: 2.25rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  border-radius: 2.5rem;
}
.coming-soon-cover img,
.email-detail-attachment .email-attachment .document-file img,
.email-sender-img img,
.friend-list .friend-img img,
.profile-header-img img {
  max-width: 100%;
}
.table.table-profile th {
  border: none;
  color: #000;
  padding-bottom: 0.3125rem;
  padding-top: 0;
}
.table.table-profile td {
  border-color: #c8c7cc;
}
.table.table-profile tbody + thead > tr > th {
  padding-top: 1.5625rem;
}
.table.table-profile .field {
  color: #666;
  font-weight: 600;
  width: 25%;
  text-align: right;
}
.table.table-profile .value {
  font-weight: 500;
}
.profile-header {
  position: relative;
  overflow: hidden;
}
.profile-header .profile-header-cover {
  background: url(https://bootdey.com/img/Content/bg1.jpg) center no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.profile-header .profile-header-cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.85) 100%);
}
.profile-header .profile-header-content,
.profile-header .profile-header-tab,
.profile-header-img,
body .fc-icon {
  position: relative;
}
.profile-header .profile-header-tab {
  background: #fff;
  list-style-type: none;
  margin: -1.25rem 0 0;
  padding: 0 0 0 8.75rem;
  border-bottom: 1px solid #c8c7cc;
  white-space: nowrap;
}
.profile-header .profile-header-tab > li {
  display: inline-block;
  margin: 0;
}
.profile-header .profile-header-tab > li > a {
  display: block;
  color: #000;
  line-height: 1.25rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.75rem;
  border: none;
}
.profile-header .profile-header-tab > li.active > a,
.profile-header .profile-header-tab > li > a.active {
  color: #007aff;
}
.profile-header .profile-header-content:after,
.profile-header .profile-header-content:before {
  content: "";
  display: table;
  clear: both;
}
.profile-header .profile-header-content {
  color: #fff;
  padding: 1.25rem;
}
body .fc th a,
body .fc-ltr .fc-basic-view .fc-day-top .fc-day-number,
body .fc-widget-header a {
  color: #000;
}
.profile-header-img {
  float: left;
  width: 7.5rem;
  height: 7.8rem;
  overflow: hidden;
  z-index: 10;
  margin: 0 1.25rem -1.25rem 0;
  padding: 0.1875rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 50%;
  background: #fff;
}
.profile-header-info h4 {
  font-weight: 500;
  margin-bottom: 0.3125rem;
}
.profile-container {
  padding: 1.5625rem;
}
/* upload image in document end */