.ms-1 {
    margin-left: 1.25rem !important;
    font-size: 15px;
}

li {
    padding: 8px;
}


li a {
    cursor: pointer;
}


/* for modal open start*/
.modal {
    background-color: #797a7a;
}

/* .modal-content {
    width: 80%;
    margin: 2rem auto 2rem auto;
  
} */

#exampleModalFullscreenXxlLabel {
    margin-left: 26rem;
}

/* for modal open end */



/*for user profile start */
/* .profile-info-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.friend-list,
.img-grid-list {
    margin: -1px;
    list-style-type: none;
}

.profile-info-list>li.title {
    font-size: 0.625rem;
    font-weight: 700;
    color: #8a8a8f;
    padding: 0 0 0.3125rem;
}

.profile-info-list>li+li.title {
    padding-top: 1.5625rem;
}

.profile-info-list>li {
    padding: 0.625rem 0;
}

.profile-info-list>li .field {
    font-weight: 700;
}

.profile-info-list>li .value {
    color: #666;
}

.profile-info-list>li.img-list a {
    display: inline-block;
}

.profile-info-list>li.img-list a img {
    max-width: 2.25rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    border-radius: 2.5rem;
}

.coming-soon-cover img,
.email-detail-attachment .email-attachment .document-file img,
.email-sender-img img,
.friend-list .friend-img img,
.profile-header-img img {
    max-width: 100%;
}

.table.table-profile th {
    border: none;
    color: #000;
    padding-bottom: 0.3125rem;
    padding-top: 0;
}

.table.table-profile td {
    border-color: #c8c7cc;
}

.table.table-profile tbody+thead>tr>th {
    padding-top: 1.5625rem;
}

.table.table-profile .field {
    color: #666;
    font-weight: 600;
    width: 25%;
    text-align: right;
}

.table.table-profile .value {
    font-weight: 500;
}

.profile-header {
    position: relative;
    overflow: hidden;
}

.profile-header .profile-header-cover {
    background: url(https://bootdey.com/img/Content/bg1.jpg) center no-repeat;
    background-size: 100% auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.profile-header .profile-header-cover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.85) 100%);
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab,
.profile-header-img,
body .fc-icon {
    position: relative;
}

.profile-header .profile-header-tab {
    background: #fff;
    list-style-type: none;
    margin: -1.25rem 0 0;
    padding: 0 0 0 8.75rem;
    border-bottom: 1px solid #c8c7cc;
    white-space: nowrap;
}

.profile-header .profile-header-tab>li {
    display: inline-block;
    margin: 0;
}

.profile-header .profile-header-tab>li>a {
    display: block;
    color: #000;
    line-height: 1.25rem;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.75rem;
    border: none;
}

.profile-header .profile-header-tab>li.active>a,
.profile-header .profile-header-tab>li>a.active {
    color: #007aff;
}

.profile-header .profile-header-content:after,
.profile-header .profile-header-content:before {
    content: "";
    display: table;
    clear: both;
}

.profile-header .profile-header-content {
    color: #fff;
    padding: 1.25rem;
}

body .fc th a,
body .fc-ltr .fc-basic-view .fc-day-top .fc-day-number,
body .fc-widget-header a {
    color: #000;
}

.profile-header-img {
    float: left;
    width: 7.5rem;
    height: 7.5rem;
    overflow: hidden;
    z-index: 10;
    margin: 0 1.25rem -1.25rem 0;
    padding: 0.1875rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    background: #fff;
}

.profile-header-info h4 {
    font-weight: 500;
    margin-bottom: 0.3125rem;
}

.profile-container {
    padding: 1.5625rem;
}

@media (max-width: 967px) {
    .profile-header-img {
        width: 5.625rem;
        height: 5.625rem;
        margin: 0;
    }

    .profile-header-info {
        margin-left: 6.5625rem;
        padding-bottom: 0.9375rem;
    }

    .profile-header .profile-header-tab {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .profile-header .profile-header-cover {
        background-position: top;
    }

    .profile-header-img {
        width: 3.75rem;
        height: 3.75rem;
        margin: 0;
    }

    .profile-header-info {
        margin-left: 4.6875rem;
        padding-bottom: 0.9375rem;
    }

    .profile-header-info h4 {
        margin: 0 0 0.3125rem;
    }

    .profile-header .profile-header-tab {
        white-space: nowrap;
        overflow: scroll;
        padding: 0;
    }

    .profile-container {
        padding: 0.9375rem 0.9375rem 3.6875rem;
    }

    .friend-list>li {
        float: none;
        width: auto;
    }
}

.profile-info-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.friend-list,
.img-grid-list {
    margin: -1px;
    list-style-type: none;
}

.profile-info-list>li.title {
    font-size: 0.625rem;
    font-weight: 700;
    color: #8a8a8f;
    padding: 0 0 0.3125rem;
}

.profile-info-list>li+li.title {
    padding-top: 1.5625rem;
}

.profile-info-list>li {
    padding: 0.625rem 0;
}

.profile-info-list>li .field {
    font-weight: 700;
}

.profile-info-list>li .value {
    color: #666;
}

.profile-info-list>li.img-list a {
    display: inline-block;
}

.profile-info-list>li.img-list a img {
    max-width: 2.25rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    border-radius: 2.5rem;
}

.coming-soon-cover img,
.email-detail-attachment .email-attachment .document-file img,
.email-sender-img img,
.friend-list .friend-img img,
.profile-header-img img {
    max-width: 100%;
}

.table.table-profile th {
    border: none;
    color: #000;
    padding-bottom: 0.3125rem;
    padding-top: 0;
}

.table.table-profile td {
    border-color: #c8c7cc;
}

.table.table-profile tbody+thead>tr>th {
    padding-top: 1.5625rem;
}

.table.table-profile .field {
    color: #666;
    font-weight: 600;
    width: 25%;
    text-align: right;
}

.table.table-profile .value {
    font-weight: 500;
}

.friend-list {
    padding: 0;
}

.friend-list>li {
    float: left;
    width: 50%;
}

.friend-list>li>a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 0.625rem;
    margin: 1px;
    background: #fff;
}

.friend-list>li>a:after,
.friend-list>li>a:before {
    content: "";
    display: table;
    clear: both;
}

.friend-list .friend-img {
    float: left;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    background: #efeff4;
}

.friend-list .friend-info {
    margin-left: 3.625rem;
}

.friend-list .friend-info h4 {
    margin: 0.3125rem 0;
    font-size: 0.875rem;
    font-weight: 600;
}

.friend-list .friend-info p {
    color: #666;
    margin: 0;
} */

/* for user profile end */

.table-bordered {
    border: 1px solid #000;
    /* Set the border width and color */
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #000;
    /* Set the border width and color for table cells */
}

.pointer {
    cursor: pointer;
}


#registeration {
    width: 100%;
}

.form-control {
    border: var(--bs-border-width) solid #797a7a;
}




/* design part start */
.align-items-start {
    width: 291px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 21px;
    border: 1px solid #ABABAB;
    background: #FFF;
    margin: auto;
}

.CardImg {
    width: 207.707px;
    height: 210.036px;
    flex-shrink: 0;
    margin-left: 3rem;
}

h3,
.text-body-emphasis {
    color: #000;
    font-size: 30px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-decoration-line: underline;
    text-align: center;
}

.Para {
    color: #263238;
    text-align: center;
    font-size: 15px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .Apply {
    width: 298px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #421CDD;
    background: #E3EBFF;
    color: #421CDD;
    text-align: center;
    font-size: 20px;
   
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} */

/* .ViewLeave {
    width: 298px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #421CDD;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} */





.btn-primary.apply-leave-btn:hover,
.btn-primary.view-leave-btn:hover {
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}






/* @media (max-width: 320px) {
    .cardAdmin {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .align-items-start {
        margin-top: 2rem;
    }

    .cardAdmin img {
        width: 80px;
        height: 80px;
    }

    .cardAdmin h3 {
        font-size: 1.5rem;
    }

    .cardAdmin p {
        font-size: 0.9rem;
    }

    .cardAdmin button {
        width: 100%;
        margin-top: 1rem;
    }

    .cardAdmin .d-flex {
        flex-direction: column;
    }

    .cardAdmin .d-flex button {
        width: 100%;
        margin-top: 1rem;
    }

} */



/* Mobile L and M (425px) */
/* @media (max-width: 425px) {
    .align-items-start {
        margin-top: 2rem;
        margin-left: 3rem;
    }
   
    .row-cols-lg-3 .col {
        flex-basis: 100%;
        max-width: 100%;
    }

    .modal-xl {
        width: max-content;
    }

    #exampleModalFullscreenXxlLabel {
        margin-left: 0rem;
       
    }

   
  

    #registeration{
        margin-left: 6rem;
       
    }

 
    #teamLeaveList{
        margin-left: 0rem;
        margin-right: -18rem;
    }
 
    #teamWFHList{
        margin-left: 0rem;
        margin-right: -16rem; 
    }
   
    #ApplyLeave{
        margin-left: 4rem;
      
    }
  
    #viewLeaveList{
        margin-left: 0rem;
        margin-right: -13rem;
    }
   
#viewAttList{
    margin-left: 0rem;
        margin-right: -4rem;
}
   
    
    #ApplyWFH{
        margin-left: 4rem;
    }
    
    #viewWFHList{
        margin-left: 0rem;
        margin-right: -11rem; 
    }
  
   #viewAllEmployee{
    margin-left: 0rem;
    margin-right: -11rem;
   }
 
   
} */


/* @media (max-width: 1024px) {
    .align-items-start {
        margin-top: 2rem;
    }


} */


/* @media (min-width: 768px) {
    .col-md {
        flex: 0 0 0%;
    }

    .modal-xl {
        width: 100%;
        max-width: 100%;
    }

    #viewLeaveList{
        margin-left: 0rem;
        margin-right: -13rem;
    }
} */




#sideBar {
    width: 13%;
    background-color: #3f51b5;
}

/* .sidelogo {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
} */

/* side bar design */
#menu {
    margin-left: 1rem;
}

.sidebarLogo {
    width: 40px;
    height: 39px;
    flex-shrink: 0;
}

#sidebarMenu {
    display: flex;
    width: 332px;
    padding: 7px 10px 7px 30px;
    align-items: center;
    gap: 68px;
}

.nav-link {
    display: flex;
}

.sidebarPageLogo {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 0rem;
    /* background-color: #a7a7a7; */
}




/* show if user is not log in start */
.pt-4 {
    padding-top: 6rem !important;
}


/* Mobile L and M (425px) */
/* @media (max-width: 425px) {
    .align-items-center{
    margin-left: 0rem;
    }
#sideBar{
    width: auto;
}
#hanging-icons{
    margin-left: 3rem;
    margin-right: -3rem;
}
#hanging-icons h2{
    margin-left: 3rem;
}
    .img-fluid {
        max-width: 150%;
        height: auto;
    }

    .text-md-start{
        margin-left: 5rem;
    }
} */
/* show if user is not log in end */


/* side bar icon hover start */

.image-container {
    position: relative;
    display: inline-block;
}

.image-name {
    position: absolute;
    width: max-content;
    top: 98%;
    /* left: 200%; */
    transform: translateX(-58%);
    /* border: 1px solid gray; */
    border-radius: 10%;
    color: rgb(255, 255, 255);
    font-family: "poppins";
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.image-container:hover .image-name {
    visibility: visible;
    opacity: 1;
}

/* side bar icon hover end */


/* new design */
.hello {
    color: #343A40;
    /* text-align: center; */
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
}

.empName {
    color: #61676E;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.checkIn {
    display: inline-flex;
    /* padding: 14px 30px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #3ABE71;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    height: fit-content;
    margin-bottom: 8px;
}

.checkOut {
    display: inline-flex;
    /* padding: 14px 30px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #EF556A;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    height: fit-content;
    margin-bottom: 8px;
}

.checkInClock {
    width: 20px;
    height: 20px;
}

.timer {
    color: #343A40;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.LeaveChart {

    display: flex;
    /* width: 95%; */
    padding: 38px 19px 30px 19px;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 34px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 15.7px 0px rgba(0, 0, 0, 0.14);
    margin: 10px;
}

.leaveName {
    color: #0C0E0F;
    text-align: center;
    font-family: Poppins;
    font-size: 15.042px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}


@property --p {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

.pie {
    --p: 20;
    --b: 22px;
    --c: darkred;
    --w: 90px;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    overflow: hidden;
}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {
    inset: 0;
    background: radial-gradient(farthest-side, var(--c) 98%, #ad1c1c00) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p) * 1%), #E5E5E5 0);
    -webkit-mask: radial-gradient(farthest-side,
            #0000 calc(99% - var(--b)),
            #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side,
            #0000 calc(99% - var(--b)),
            #000 calc(100% - var(--b)));
}

.pie:after {
    inset: calc(50% - var(--b) / 2);
    background: var(--c);
    transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}

.animate {
    animation: p 1s 0.5s both;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0;
    }
}

.leaveTitle {
    color: #343A40;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-top: -25px;
}

.bottomLine {
    border-bottom: solid 4px #F3F3F3;
    position: relative;
}
.leaveVector1{
    width: 53px;
    height: 83px;
    position: absolute;
    right: -20px;
    top: -38px;
    stroke-width: 45.54px;
    stroke: #F6F6FF;

  }

.leaveApply {
    display: flex;
    /* padding: 14px 30px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #421CDD;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.leaveView {
    display: flex;
    /* width: 196px; */
    /* padding: 14px 30px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #421CDD;
    color: #421CDD;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.wfhName {
    color: #0C0E0F;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.progress {
    height: 5px !important;

}

.progress-bar {
    background-color: #3ABE71 !important;
}

.wfhTaken {
    background-color: #FFCE62 !important;
}

.remainingWfh {
    background-color: #F97166 !important;
}

.performance {

    display: flex;
    /* width: 95%; */
    padding: 38px 19px 30px 19px;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 34px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 15.7px 0px rgba(0, 0, 0, 0.14);
}

.nav-pills {
    display: flex;
    /* width: 183px;
height: 48px;  */
    /* padding: 10px 35px; */
    justify-content: center;
    align-items: center;
    border: 1px solid #C9CBA7;
    background: #F9FCED;
    margin-top: -39px;
}

.nav-link {
    display: flex;
    justify-content: center;
    color: #808547;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}



.nav-item {
    border-right: 1px solid #C9CBA7;
    padding: inherit;
}


.nav-item:last-child {
    border-right: none;
}

/* .nav-pills .nav-item.show .nav-link,
.nav-pills .nav-item.active {
    background-color: blue;
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
    
} */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #FFF !important;
    background-color: #421CDD !important;
    border-radius: 0px;
}

.status {
    display: flex;
    /* height: 58px; */
    padding: 10px 98.5px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 20px 20px 0px 0px;
    background: #401DDE;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.02);
    color: #FFF;
    margin-right: 10px;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.probationStatus {
    display: flex;
    width: 262px;
    padding: 14px 36px;
    align-items: center;
    gap: 11px;
    border-radius: 20px 20px 0px 0px;
    background: #D4F3E1;

    color: #1C8649;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}


.completed-status {
    background: #D4F3E1;
    color: #1C8649;
}

.not-completed-status {
    background: #FFD5D1;
    color: #A94037;
}

.ongoing-status {
    background: #FFE5A2;
    color: #767219;
}

.statusPara {
    color: #DD1717;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.statusP {
    color: #343A40;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-align: justify;
}


.star-rating::before {
    content: "\2605";
    /* Unicode character for a solid star */
    color: gold;
}

/* Add the appropriate styles for half stars or empty stars if needed */
.star-rating[data-rating*=".5"]::before {
    content: "\2605\00BD";
    /* Unicode characters for a solid star and half star */
}

.star-rating[data-rating="0"]::before {
    content: "\2606";
    /* Unicode character for an empty star */
    color: #ccc;
}


.discipline {
    display: flex;
    width: 179.479px;
    padding: 11.633px 10.802px;
    align-items: center;
    gap: 9.14px;
    flex-shrink: 0;
    border: 1px solid #8C6A13;
    background: #FFE5A2;
    color: #8C6A13;

    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.disciplineRating {
    display: flex;
    height: 48.465px;
    align-items: flex-start;
    border-radius: 6.207px;
    border: 1.862px solid #E47D43;
}




/* calendar for dashboard start */
.calendar {
    /* width: 100%;
    max-width: 400px; */

    margin: 0 auto;
    /* overflow: hidden; */

    /* display: flex; */
/* width: 370px; */
height: 460px;
/* padding: 15px 50px 72px 50px; */
/* flex-direction: column;
align-items: center; */
gap: 47px;
border-radius: 10px;
background: #FFF;
position: relative;
/* effect */
box-shadow: 0px 4px 15.7px 0px rgba(0, 0, 0, 0.14);
}



.week-names {
    display: flex;
    justify-content: space-around;
    background-color: #f8f9fa;
    padding: 10px 55px 10px 46px;
}
.week-names .day{
    color: #A94037;
}



.day.other-month {
    color: #ccc;
    
}

.week {
    display: flex;
    justify-content: space-around;
    padding: 10px 55px 10px 46px;
}




.ActivitiesHeader {
    position: relative;
    background: #A94037;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 55px;
}

.ActivitiesHeader::before,
.ActivitiesHeader::after {
    content: "";
    position: absolute;
    width: 50px; /* Adjust the width of the image */
    height: 50px; /* Adjust the height of the image */
    background-size: cover;
}

.ActivitiesHeader::before {
    width: 44px;
height: 23px;
position: absolute;
/* top: -27px; */
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
    background-image: url('/assets/image/calendarVector1.png'); /* Replace 'path/to/top_right_image.jpg' with the actual path to your top right image */
}

.ActivitiesHeader::after {
    width: 44px;
    height: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    background-image: url('/assets/image/calendarVector2.png'); /* Replace 'path/to/bottom_left_image.jpg' with the actual path to your bottom left image */
}





.dateName {
    color: #2F37A4;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.yearName {
    color: #000;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

.caliconPre,
.caliconNext {
    width: 9px;
    height: 15px;
    transform: rotate(0deg);
    flex-shrink: 0;
    fill: #421CDD;
}

.monthYear {
    margin: 0 10px;
    color: #000;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}


.day {
    
height: 32px;
margin-left: 7px;
color: #000;
text-align: center;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.today {
   
    color: #9C3229;

text-align: center;
font-family: Poppins;
font-size: 22.118px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.calendarVector3{
    width: 48.273px;
    height: 88.273px;
    position: absolute;
    left: 0.682px;
    bottom: 6.727px;
    stroke-width: 2.386px;
    stroke: #A94037;
    z-index: 1;
}
.calendarVector4{
    width: 50.955px;
    height: 128.955px;
    position: absolute;
    left: 0px;
    bottom: -66px;
    stroke-width: 30.227px;
    stroke: #EAA29B;
}


.left-section {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 76px;
    left: 0;
}

.calendarVector3,
.calendarVector4 {
    width: 50px; /* Set your desired width */
    height: auto;
}

.right-section {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust margin as needed */
    position: absolute;
    /* margin-top: 43px; */
    bottom: 37px;
}

/* calendar for dashboard end */


/* Holiday for dashboard start */


.Holiday{
    margin: 0 auto;
/* width: 370px; */
height: 460px;
gap: 47px;
border-radius: 10px;
background: #FFF;
box-shadow: 0px 4px 15.7px 0px rgba(0, 0, 0, 0.14);
position: relative;
}

.holidayHeader {
    position: relative;
    background: #1D874A;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 55px;
}

.holidayHeader::before,
.holidayHeader::after {
    content: "";
    position: absolute;
    width: 50px; /* Adjust the width of the image */
    height: 50px; /* Adjust the height of the image */
    background-size: cover;
}

.holidayHeader::before {
    width: 44px;
height: 23px;
position: absolute;
/* top: -27px; */
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
    background-image: url('/assets/image/holidayVector1.png'); /* Replace 'path/to/top_right_image.jpg' with the actual path to your top right image */
}

.holidayHeader::after {
    width: 44px;
    height: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    background-image: url('/assets/image/holidayVector2.png'); /* Replace 'path/to/bottom_left_image.jpg' with the actual path to your bottom left image */
}

.left-sectionHoliday{
position: absolute;
bottom: 76px;
    left: 0;
    display: flex;
    align-items: center;
}
.right-sectionHoliday{
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust margin as needed */
    position: absolute;
    /* margin-top: 186px; */
    bottom: 37px;
}
.headerH {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

.weekName{
    color: #000;
text-align: right;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.2px;
}

.dateName{
    color: #2F37A4;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.yearName{
    color: #000;
font-size: 7px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.BirthdayVector{
    width: 1px;
height: 46px;
flex-shrink: 0;
margin-top: -5rem;
margin-left: 4rem;

  }

  .birth{
    margin-top: -4rem;
    margin-left: 6rem;
    color: #1F3BF2;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.desc{
    color: #343A40;
font-size: 7px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 6rem;
}

.holidayBody{
    padding: 2px 23px 7px 46px;
}

.holidayVector3{
    z-index: 1;
    width: 35px;
height: 116px;
position: absolute;
left: 0px;
bottom: -14px;
stroke-width: 3px;
stroke: #1D874A;
}
.holidayVector4{
    width: 31px;
    height: 150px;
    position: absolute;
    left: -1px;
    bottom: -72px;
    stroke-width: 38px;
    stroke: #92EEB9;
}

.ViewMore{
    display: flex;
/* width: 227.651px; */
/* padding: 14px 30px; */
justify-content: center;
align-items: center;
border-radius: 8px;
border: 1px solid #421CDD;
color: #421CDD;
text-align: center;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
margin-top: 64px;
}
.holidayViewMore{
    width: 20px;
height: 20px;
flex-shrink: 0;
}
/* Holiday for dashboard end */

/* birthday for dashboard start */
.birthday{
    margin: 0 auto;
/* width: 370px; */
height: 460px;
gap: 47px;
border-radius: 10px;
background: #FFF;
box-shadow: 0px 4px 15.7px 0px rgba(0, 0, 0, 0.14);
position: relative;
}

.birthdayHeader{
    position: relative;
    background: #D418AB;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 55px; 
}

.birthdayHeader::before,
.birthdayHeader::after {
    content: "";
    position: absolute;
    width: 50px; /* Adjust the width of the image */
    height: 50px; /* Adjust the height of the image */
    background-size: cover;
}

.birthdayHeader::before {
    width: 44px;
height: 23px;
position: absolute;
/* top: -27px; */
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
    background-image: url('/assets/image/birthdayVector1.png'); /* Replace 'path/to/top_right_image.jpg' with the actual path to your top right image */
}

.birthdayHeader::after {
    width: 44px;
    height: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    background-image: url('/assets/image/birthdayVector2.png'); /* Replace 'path/to/bottom_left_image.jpg' with the actual path to your bottom left image */
}

.birthdayIcon{
    width: 44px;
height: 44px;
flex-shrink: 0;
margin-left: -18px;
}


.birthName{
    color: #000;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: -52px;
margin-left: 61px;
}

.birthdesc{
    color: #2F37A4;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 60px;
}

.birthdayCake{
    display: flex;
width: 251px;
height: 60px;
align-items: center;
gap: 15px;
}

.birthdayBody{
    padding: 2px 0px 7px 64px;
}
.headerb {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

.left-sectionBirthday{
    position: absolute;
    bottom: 34px;
    right: 0;
    display: flex;
    align-items: center;
}

.birthdayVector3{
    z-index: 1;
    width: 39px;
    height: 116px;
    position: absolute;
    right: 0px;
    bottom: 21px;
    stroke-width: 3px;
    stroke: #D418AB;
}
.birthdayVector4{
    width: 60px;
height: 116px;
position: absolute;
right: 0px;
bottom: -35px;
stroke-width: 38px;
stroke: #FF99E9;
}
/* birthday for dashboard end */


/* announcement for dashboard start */

.announcement{
    display: flex;
/* width: 1240px;
height: 471px; */
padding: 38px 0px 0px 45px;
flex-direction: column;
align-items: flex-start;
gap: 51px;
flex-shrink: 0;
background: #421CDD;
box-shadow: 0px 4px 15.7px 0px rgba(0, 0, 0, 0.14);
position: relative;
}
.announcHeading{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
margin-bottom: -30px;
}

.annoucementVector2{
    width: 600x;
height: 4px;
flex-shrink: 0;
border-radius: 5px;
background: #F3F3F3;
}

.annoucementImg{
    width: 120px;
height: 100.541px;
border-radius: 8.108px;
/* background: url(/assets/image/annoucementImg.png), lightgray 50% / cover no-repeat; */
}

.announcementSection {
    display: flex;
    align-items: center;
}

.left-announcementSection {
    flex-shrink: 0; /* Ensure the left section does not shrink */
    margin-right: 10px; /* Adjust margin as needed */
}

.annoucementImg {
    width: 100px; /* Set your desired width */
    height: auto;
}

.right-announcementSection {
    text-align: left;
}

.right-announcementSection .announcementName {
    margin: 0;
    font-size: 18px; /* Set your desired font size */
}

.right-announcementSection .announcementDesignation {
    font-size: 14px; /* Set your desired font size */
}


.announcementName{
    color: #F1FF9D;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
text-decoration: none;
}

.announcementDesignation{
    color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.annoucementVector1{
    width: 70px;
height: 45.2px;
position: absolute;
left: 1px;
top: 1px;
}

.annoucementVector3{
    width: 159.233px;
    height: 209.998px;
    display: flex;
    /* padding: 61.176px 38.235px 45.882px 30.588px; */
    align-items: center;
    position: absolute;
    right: 0.577px;
    top: 61px;
}
/* announcement for dashboard end */


/* apply leave start */
.modal {
    --bs-modal-zindex: 1000 !important;
    background-color: #78787867;
    
  }

  .leaveHeader{
    color: #3430B3;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .leaveType{
    color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
  }
  .leaveInput{
    display: flex;
padding: 14px 30px 14px 19px;
align-items: center;
border-radius: 10px;
border: 1px solid #CDCDCD;
  }

  .select-wrapper {
    position: relative;
    display: inline-block;
  }
  .custom-arrow {
    position: absolute;
    top: 50%;
    right: 13%; 
    transform: translateY(-50%);
    width: 18px; 
    height: 18px; 
    background: url("/assets/image/applyLeave.png") center
      center no-repeat;
    background-color: #fff;
    background-size: contain;
    pointer-events: none;
  }

  .submitLeave{
    display: flex;
/* width: 258px; */
padding: 19px 54px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
background: #401DDE;
color: #FFF;

text-align: center;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
height: 20px;
  }

  .cancelLeave{
    display: flex;
/* width: 256px; */
height: 20px;
padding: 19px 54px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
background: #EF556A;
color: #FFF;

text-align: center;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
  }

  /* apply leave end */
  

  /* view more holiday start */
  .headHoliday{
    color: #3430B3;

font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  .monthDateHoliday{
    display: flex;
    padding: 6px 22px;
    /* align-items: center; */
    /* gap: 25px; */
    flex-direction: column;
}
  .monthHoliday{
color: #FFF;

text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;

/* display: flex; */
padding: 6px 22px;
justify-content: center;
align-items: center;
gap: 25px;
border-radius: 5px 5px 0px 0px;
background: #9747FF;
  }
  .dateHoliday{
    /* width: 43px; */
/* height: 39px; */
color: #343A40;

text-align: center;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;

/* display: flex; */
padding: 0px 21px;
justify-content: center;
align-items: center;
gap: 25px;
border-radius: 0px 0px 5px 5px;
border: 1px solid #9747FF;
  }

  .descHoliday{
    color: #401DDE;

font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
  }
  .dayHoliday{
    /* width: 60px;
height: 14px; */
flex-shrink: 0;
color: #343A40;

font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.2px;
text-transform: capitalize;
  }
  
  .closeRole{
    display: flex;
    width: 150px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 2px solid #D92651;

    color: #D92651;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.HolidayPre{
    width: 21px;
height: 21px;
/* position: absolute; */
left: 0px;
top: 1px;
stroke-width: 3px;
stroke: #DADADA;
}
.HolidayNext{
    width: 21px;
height: 21px;
/* transform: rotate(-93.342deg);
position: absolute; */
right: -1.149px;
top: 0px;
stroke-width: 3px;
stroke: #DADADA;

}

.yearHoliday{
    color: #3430B3;

font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
  /* view more holiday end */