<div [ngSwitch]="loginService.tableType">
  <div *ngSwitchCase="'Profile'">
    <div class="container m-1 mt-5">
      <div class="main-body">



        <div class="row gutters-sm ">
          <div class="col-md-4 mb-3 card-with-shadow">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <div class="profile-header-img mb-2">
                    <!-- <img [src]="imageUrl ? imageUrl : 'https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg'" alt=""/> -->
                    <img class="rounded-circle img-fluid" [src]="imageUrl || defaultImageURL" alt="" />
                    <div class="upload-overlay">
                      <label class="add-to-cart" for="fileInput">
                        <i class="fas fa-camera"></i> Upload Image
                      </label>
                      <input type="file" id="fileInput" accept=".jpg, .jpeg, .png" style="display: none"
                        (change)="handleFileInput($event)">

                    </div>
                  </div>
                  <div class="mt-3">
                    <p><span id="firstname">
                        <h1>{{ profileDetails?.firstname + " " + profileDetails?.lastname }}</h1>
                      </span> </p>
                    <p><span id="designation1">
                        <h3>{{ profileDetails?.designation }}</h3>
                      </span></p>
                    <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{
                        errorMessage
                        }}</span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <h3 class="text-center">Joining Detail</h3>
              <!-- <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Role
                  <p><span id="role">{{ profileDetails?.role.name }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Department
                  <p><span id="department">{{ profileDetails?.department }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Reporting To
                  <p><span id="teamlead">{{ profileDetails?.teamlead }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Joined On
                  <p><span id="dateofjoining">{{ profileDetails?.dateofjoining }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Total Leaves
                  <p><span id="dateofjoining">{{ profileDetails?.totalleaves }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Sick Leave
                  <p><span id="dateofjoining">{{ profileDetails?.sickLeavesPerMonth }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Casual Leave
                  <p><span id="dateofjoining">{{ profileDetails?.casualLeavesPerMonth }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">WFH
                  <p><span id="dateofjoining">{{ profileDetails?.totalwfh }}</span></p>
                </li>

              </ul> -->
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap py-2">Role
                    <p class="m-0"><span id="role">{{ profileDetails?.role.name }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap py-2">Department
                    <p class="m-0"><span id="department">{{ profileDetails?.department }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap py-2">Reporting To
                    <p class="m-0"><span id="teamlead">{{ profileDetails?.teamlead }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap py-2">Joined On
                    <p class="m-0"><span id="dateofjoining">{{ profileDetails?.dateofjoining }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap py-2">Total Leaves
                    <p class="m-0"><span id="totalleaves">{{ profileDetails?.totalleaves }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap py-2">Sick Leave
                    <p class="m-0"><span id="sickLeavesPerMonth">{{ profileDetails?.sickLeavesPerMonth }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap py-2">Casual Leave
                    <p class="m-0"><span id="casualLeavesPerMonth">{{ profileDetails?.casualLeavesPerMonth }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap py-2">WFH
                    <p class="m-0"><span id="totalwfh">{{ profileDetails?.totalwfh }}</span></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap mb-1">Assigning assets
                  <p class="m-0"><span id="assetName">{{ profileDetailsUser?.assetName }}</span></p>
              </li>
            </ul>
            
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3 card-with-shadow" id="shadow">
              <div class="card-body">
                <div class="row">
                  <h3 class="text-left">PERSONAL INFORMATION</h3>
                  <!-- <div class="col-sm-3">
                    <h4 class="mb-0">Full Name</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <span id="firstname"><strong>{{ profileDetails?.firstname + " " + profileDetails?.lastname
                        }}</strong></span>

                  </div> -->
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Email</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <span id="emailid"><strong>{{ profileDetails?.emailid }}</strong></span>

                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Phone</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <span id="phonenumber"><strong>{{ profileDetails?.phonenumber }}</strong></span>

                  </div>
                </div>
                <hr>
                <!-- <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Designation</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <span id="designation"><strong>{{ profileDetails?.designation }}</strong></span>

                  </div>
                </div> -->
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Birth Day</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <span id="dob"><strong>{{ profileDetails?.dob }}</strong></span>

                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Emergency Contact</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <p><span id="emergencyContact"><strong>{{ profileDetails?.emergencyContact }}</strong></span>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Address</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <p><span id="address"><strong>{{ profileDetails?.address }}</strong></span></p>

                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-sm-12">
                    <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                  </div>
                </div> -->
              </div>
            </div>

            <div class="card mb-3 card-with-shadow">
              <div class="card-body">
                <div class="row">
                  <h3 class="text-left">BASIC INFORMATION</h3>
                  <div class="col-sm-3">
                    <h4 class="mb-0">Marital Status</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <p><span id="maritalStatus"><strong>{{ profileDetails?.maritalStatus }}</strong></span></p>

                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Blood Group</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <p><span id="bloodGroup"><strong>{{ profileDetails?.bloodGroup }}</strong></span></p>

                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Skills</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <p><span id="skills"><strong>{{ profileDetails?.skills }}</strong></span></p>

                  </div>
                </div>
                <hr>
                <!-- <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Address</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <p><span id="address"><strong>{{ profileDetails?.address }}</strong></span></p>

                  </div>
                </div> -->
                <!-- <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Emergency Contact</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <p><span id="emergencyContact"><strong>{{ profileDetails?.emergencyContact }}</strong></span>
                    </p>
                  </div>
                </div>
                <hr> -->
                <div class="row">
                  <div class="col-sm-12">
                    <a><button class="btn btn-primary rounded-pill px-3" type="button" style="margin:1rem;"
                        [routerLink]="['/profile', 'addProfile']" (click)="loginService.showTable('addProfile')"><i
                          class="fa-solid fa-pen-to-square"></i>Add</button></a>

                    <a> <button class="btn btn-primary rounded-pill px-3" type="button"
                        (click)="deletePersonalData()"><i class="fa-solid fa-trash"></i>Delete</button></a>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-12">
              <div class="card mb-12 card-with-shadow" id="shadow">
                <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="mb-0">Assigning assets</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                <p><span id="address">{{ profileDetails?.assetName }}</span></p>

              </div>
            </div>
            </div>
            </div>
          </div> -->


          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- profile -->

  <!-- <div [ngSwitch]="loginService.tableType"> -->
  <!-- <div *ngSwitchCase="'Profile'">
    <div class="container ">
      <div id="content" class="content p-2 mt-5">
        <div class="profile-header">
          <div class="profile-header-cover"></div>

          <div class="profile-header-content">
            <div class="profile-header-img mb-2">
              <img class="rounded-circle img-fluid" [src]="imageUrl || defaultImageURL" alt="" />
              <div class="upload-overlay">
                <label class="add-to-cart" for="fileInput">
                  <i class="fas fa-camera"></i> Upload Image
                </label>
                <input type="file" id="fileInput" accept=".jpg, .jpeg, .png" style="display: none"
                  (change)="handleFileInput($event)">

              </div>
            </div>

            <div class="profile-header-info mt-4">
              <p><span id="firstname">{{ profileDetails?.firstname + " " + profileDetails?.lastname }}</span> </p>
              <p><span id="designation1">{{ profileDetails?.designation }}</span></p>
              
              <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage
                  }}</span></p>

            </div>
          </div>


        </div>

        <div class="profile-container">
          <div class="row row-space-20">
            <div class="col-md-8">
              <div class="tab-content p-0">
                <div class="tab-pane active show" id="profile-about">

                  <table class="table table-profile">
                    <thead>
                      <tr>
                        <th colspan="2">Joining
                          Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="field">Role :</td>
                        <td class="value">
                          <p><span id="role">{{ profileDetails?.role.name }}</span></p>

                        </td>
                      </tr>
                      <tr>
                        <td class="field">Department :</td>
                        <td class="value">
                          <p><span id="department">{{ profileDetails?.department }}</span></p>

                        </td>
                      </tr>
                      <tr>
                        <td class="field">Reporting To :</td>
                        <td class="value">
                          <p><span id="teamlead">{{ profileDetails?.teamlead }}</span></p>

                        </td>
                      </tr>
                      <tr>
                        <td class="field">Joined On :</td>
                        <td class="value">
                          <p><span id="dateofjoining">{{ profileDetails?.dateofjoining }}</span></p>


                        </td>
                      </tr>
                      <thead>
                        <tr>
                          <th colspan="2">BASIC INFORMATION</th>
                        
                        </tr>
                      </thead>

                      <tr>
                        <td class="field">Marital Status :</td>
                        <td class="value">
                          <p><span id="maritalStatus">{{ profileDetails?.maritalStatus }}</span></p>

                        </td>
                      </tr>
                      <tr>
                        <td class="field">Blood Group :</td>
                        <td class="value">
                          <p><span id="bloodGroup">{{ profileDetails?.bloodGroup }}</span></p>

                        </td>
                      </tr>
                      <tr>
                        <td class="field">Skills :</td>
                        <td class="value">
                          <p><span id="skills">{{ profileDetails?.skills }}</span></p>

                        </td>
                      </tr>
                      <tr>
                        <td class="field">Address :</td>
                        <td class="value">
                          <p><span id="address">{{ profileDetails?.address }}</span></p>
                        </td>
                      </tr>

                      <tr>
                        <td class="field">Emergency Contact :</td>
                        <td class="value">
                          <p><span id="emergencyContact">{{ profileDetails?.emergencyContact }}</span>
                          </p>

                        </td>
                      </tr>

                    </tbody>
                  </table>

                  <a><button class="btn btn-primary rounded-pill px-3" type="button" style="margin:1rem;"
                      [routerLink]="['/profile', 'addProfile']" (click)="loginService.showTable('addProfile')"><i
                        class="fa-solid fa-pen-to-square"></i>Add</button></a>

                  <a> <button class="btn btn-primary rounded-pill px-3" type="button" (click)="deletePersonalData()"><i
                        class="fa-solid fa-trash"></i>Delete</button></a>

                </div>
              </div>
            </div>



            <div class="col-md-4 hidden-xs hidden-sm">
              <ul class="profile-info-list">
                <li class="title">
                  <h3>PERSONAL INFORMATION</h3>
                </li>
                <li>
                  <div class="field">Full Name:</div>
                  <div class="value">
                    <p><span id="firstname">{{ profileDetails?.firstname + " " + profileDetails?.lastname }}</span></p>
                  </div>
                </li>
                <li>
                  <div class="field">Phone No.:</div>
                  <div class="value">
                    <p><span id="phonenumber">{{ profileDetails?.phonenumber }}</span></p>
                  </div>
                </li>
                <li>
                  <div class="field">Email:</div>
                  <div class="value">
                    <p><span id="emailid">{{ profileDetails?.emailid }}</span></p>
                  </div>
                </li>
                <li>
                  <div class="field">Designation:</div>
                  <div class="value">
                    <p><span id="designation">{{ profileDetails?.designation }}</span></p>
                  </div>
                </li>
                <li>
                  <div class="field">Birth Day:</div>
                  <div class="value">
                    <p><span id="dob">{{ profileDetails?.dob }}</span></p>
                  </div>
                </li>
               
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> -->






  <!-- profile Add start-->
  <!-- <div class="modal fade" id="addInfo" tabindex="-1" aria-labelledby="exampleModalFullscreenXxlLabel"
    aria-hidden="true" style="display: none;" data-bs-backdrop="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4" id="exampleModalFullscreenXxlLabel">Edit Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> -->

  <div *ngSwitchCase="'addProfile'">
    <div class="container m-1 mt-5" id="addProfile">
      <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
          <div class="card h-100">
            <div class="card-body">
              <div class="account-settings">
                <div class="user-profile">
                  <div class="user-avatar">
                    <img class="rounded-circle img-fluid" [src]="imageUrl || defaultImageURL" alt="" />
                  </div>
                  <p><span id="firstname">{{ profileDetails?.firstname + " " + profileDetails?.lastname }}</span> </p>
                  <p><span id="designation1">{{ profileDetails?.designation }}</span></p>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
          <div class="card h-100">
            <div class="card-body">
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h2 class="mb-2 text-primary">Personal Details</h2>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="phone">Contact</label>
                    <input type="tel" class="form-control" name="phonenumber" id="phonenumber" #phonenumber
                      placeholder="Moblile number" maxlength="10" minlength="10" required pattern="[0-9]{10}"
                      [(ngModel)]="profileDetails.phonenumber" #contactnameInput="ngModel">
                    <div *ngIf="contactnameInput.invalid && (contactnameInput.dirty || contactnameInput.touched)"
                      class="text-danger mt-2">
                      Please enter valid Contact number.
                    </div>

                  </div>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="birth">Birth Day</label>
                                                <input type="date" class="form-control" name="birthDay" id="birthDay" placeholder="Enter your birthDay" [(ngModel)]="birthDay" required>
                                            </div>
                                        </div> -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="Marital">Marital Status</label>
                    <select class="form-control" id="maritalStatus" name="maritalStatus"
                      [(ngModel)]="profileDetails.maritalStatus" #maritalStatus>
                      <option value="">Select</option>
                      <option value="single">Single</option>
                      <option value="married">Married</option>

                    </select>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group mt-2">
                    <label for="Blood">Blood Group</label>
                    <input type="text" class="form-control" id="bloodGroup" name="bloodGroup"
                      placeholder="Enter your blood group" [(ngModel)]="profileDetails.bloodGroup" #bloodGroup>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group mt-2">
                    <label for="skill">Skills</label>
                    <input type="text" class="form-control" id="skills" name="skills" placeholder="Enter your skills"
                      [(ngModel)]="profileDetails.skills" #skills>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group mt-2">
                    <label for="Emergency">Emergency Contact</label>
                    <input type="tel" class="form-control" name="emergencyContact" id="emergencyContact"
                      placeholder="Emergency Contact number" maxlength="10" minlength="10" required pattern="[0-9]{10}"
                      [(ngModel)]="profileDetails.emergencyContact" #emergencyContactInput="ngModel" #emergencyContact>
                    <div
                      *ngIf="emergencyContactInput.invalid && (emergencyContactInput.dirty || emergencyContactInput.touched)"
                      class="text-danger mt-2">
                      Please enter valid Emergency Contact number.
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group mt-2">
                    <label for="Street">Address</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Enter your address"
                      #address [(ngModel)]="profileDetails.address">
                  </div>
                </div>
              </div>
              <!-- <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h2 class="mt-3 mb-2 text-primary">Address</h2>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <label for="Street">Address</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Enter your address"
                      [(ngModel)]="address">
                  </div>
                </div>
             
              </div> -->
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="text-right mt-2">
                    <!-- <button type="button" id="submit" name="submit"
                                                    class="btn btn-secondary" (click)="updateDetail()">Update</button> -->
                    <button type="button" id="submit" name="submit" class="btn btn-primary"
                      (click)="editProfile()">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  <!-- view profile with specific id start -->
  <div *ngSwitchCase="'viewProfile'">
    <!-- <div class="container" style="margin-top: 2rem;">
      <div id="content" class="content p-0">
        <div class="profile-header">
          <div class="profile-header-cover"></div>

          <div class="profile-header-content">
            <div class="profile-header-img">
              <img class="rounded-circle img-fluid" [src]="profileDetailsUser?.profilePhotoUrl || defaultImageURL" alt="" />
            </div>

            <div class="profile-header-info">
              <p><span id="firstname">{{ profileDetailsUser?.firstname + " " + profileDetailsUser?.lastname }}</span>
              </p>
              <p><span id="designation1">{{ profileDetailsUser?.designation }}</span></p>


            </div>
          </div>


        </div>

        <div class="profile-container">
          <div class="row row-space-20">
            <div class="col-md-8">
              <div class="tab-content p-0">
                <div class="tab-pane active show" id="profile-about">

                  <table class="table table-profile">
                    <thead>
                      <tr>
                        <th colspan="2">Joining
                          Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="field">Role :</td>
                        <td class="value">
                          <p><span id="role">{{ profileDetailsUser?.role.name }}</span></p>

                        </td>
                      </tr>
                      <tr>
                        <td class="field">Department :</td>
                        <td class="value">
                          <p><span id="department">{{ profileDetailsUser?.department }}</span></p>

                        </td>
                      </tr>
                      <tr>
                        <td class="field">Reporting To :</td>
                        <td class="value">
                          <p><span id="teamlead">{{ profileDetailsUser?.teamlead }}</span></p>

                        </td>
                      </tr>
                      <tr>
                        <td class="field">Joined On :</td>
                        <td class="value">
                          <p><span id="dateofjoining">{{ profileDetailsUser?.dateofjoining }}</span></p>


                        </td>
                      </tr>
                      <thead>
                        <tr>
                          <th colspan="2">BASIC INFORMATION</th>

                        </tr>
                      </thead>

                      <tr>
                        <td class="field">Marital Status :</td>
                        <td class="value">
                          <p><span id="maritalStatus">{{ profileDetailsUser?.maritalStatus }}</span></p>

                        </td>
                      </tr>
                      <tr>
                        <td class="field">Blood Group :</td>
                        <td class="value">
                          <p><span id="bloodGroup">{{ profileDetailsUser?.bloodGroup }}</span></p>

                        </td>
                      </tr>
                      <tr>
                        <td class="field">Skills :</td>
                        <td class="value">
                          <p><span id="skills">{{ profileDetailsUser?.skills }}</span></p>

                        </td>
                      </tr>
                      <tr>
                        <td class="field">Address :</td>
                        <td class="value">
                          <p><span id="address">{{ profileDetailsUser?.address }}</span></p>
                        </td>
                      </tr>

                      <tr>
                        <td class="field">Emergency Contact :</td>
                        <td class="value">
                          <p><span id="emergencyContact">{{ profileDetailsUser?.emergencyContact }}</span>
                          </p>

                        </td>
                      </tr>

                    </tbody>
                  </table>

                </div>
              </div>
            </div>



            <div class="col-md-4 hidden-xs hidden-sm">
              <ul class="profile-info-list">
                <li class="title">
                  <h3>PERSONAL INFORMATION</h3>
                </li>
                <li>
                  <div class="field">Full Name:</div>
                  <div class="value">
                    <p><span id="firstname">{{ profileDetailsUser?.firstname + " " + profileDetailsUser?.lastname
                        }}</span>
                    </p>
                  </div>
                </li>
                <li>
                  <div class="field">Phone No.:</div>
                  <div class="value">
                    <p><span id="phonenumber">{{ profileDetailsUser?.phonenumber1 }}</span></p>
                  </div>
                </li>
                <li>
                  <div class="field">Email:</div>
                  <div class="value">
                    <p><span id="emailid">{{ profileDetailsUser?.emailid }}</span></p>
                  </div>
                </li>
                <li>
                  <div class="field">Designation:</div>
                  <div class="value">
                    <p><span id="designation">{{ profileDetailsUser?.designation }}</span></p>
                  </div>
                </li>
                <li>
                  <div class="field">Birth Day:</div>
                  <div class="value">
                    <p><span id="dob">{{ profileDetailsUser?.dob }}</span></p>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <mat-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <!-- <h1 class="text-center">Profile</h1> -->
        <div class="container m-1 mt-5">
          <div class="main-body">


            <ng-template matStepLabel>Profile</ng-template>
            <div class="row gutters-sm ">
              <div class="col-md-4 mb-3 card-with-shadow">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                      <div class="profile-header-img mb-2">
                        <img class="rounded-circle img-fluid"
                          [src]="profileDetailsUser?.profilePhotoUrl || defaultImageURL" alt="" />

                      </div>
                      <div class="mt-3">
                        <p><span id="firstname">{{ profileDetailsUser?.firstname + " " + profileDetailsUser?.lastname
                            }}</span>
                        </p>
                        <p><span id="designation1">{{ profileDetailsUser?.designation }}</span></p>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <h3 class="text-center">Joining Detail</h3>
                  <!-- <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Role
                      <p><span id="role">{{ profileDetailsUser?.role.name }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Department
                      <p><span id="department">{{ profileDetailsUser?.department }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Reporting To
                      <p><span id="teamlead">{{ profileDetailsUser?.teamlead }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Joined On
                      <p><span id="dateofjoining">{{ profileDetailsUser?.dateofjoining }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Total Leaves
                      <p><span id="dateofjoining">{{ profileDetailsUser?.totalleaves }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Sick Leave
                      <p><span id="dateofjoining">{{ profileDetailsUser?.sickLeavesPerMonth }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">Casual Leave
                      <p><span id="dateofjoining">{{ profileDetailsUser?.casualLeavesPerMonth }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">WFH
                      <p><span id="dateofjoining">{{ profileDetailsUser?.totalwfh }}</span></p>
                    </li>
                  </ul> -->
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap mb-1">Role
                        <p class="m-0"><span id="role">{{ profileDetailsUser?.role.name }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap mb-1">Department
                        <p class="m-0"><span id="department">{{ profileDetailsUser?.department }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap mb-1">Reporting To
                        <p class="m-0"><span id="teamlead">{{ profileDetailsUser?.teamlead }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap mb-1">Joined On
                        <p class="m-0"><span id="dateofjoining">{{ profileDetailsUser?.dateofjoining }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap mb-1">Total Leaves
                        <p class="m-0"><span id="totalleaves">{{ profileDetailsUser?.totalleaves }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap mb-1">Sick Leave
                        <p class="m-0"><span id="sickLeavesPerMonth">{{ profileDetailsUser?.sickLeavesPerMonth }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap mb-1">Casual Leave
                        <p class="m-0"><span id="casualLeavesPerMonth">{{ profileDetailsUser?.casualLeavesPerMonth }}</span></p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap mb-1">WFH
                        <p class="m-0"><span id="totalwfh">{{ profileDetailsUser?.totalwfh }}</span></p>
                    </li>
                    
                </ul>
                
                </div>
              </div>
              <div class="col-md-8">
                <div class="card mb-3 card-with-shadow" id="shadow">
                  <div class="card-body">
                    <div class="row">
                      <h3 class="text-left">PERSONAL INFORMATION</h3>
                      <!-- <div class="col-sm-3">
                        <h4 class="mb-0">Full Name</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p><span id="firstname">{{ profileDetailsUser?.firstname + " " + profileDetailsUser?.lastname
                            }}</span>
                        </p>
                      </div> -->
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Email</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p><span id="emailid">{{ profileDetailsUser?.emailid }}</span></p>

                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Phone</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p><span id="phonenumber">{{ profileDetailsUser?.phonenumber }}</span></p>

                      </div>
                    </div>
                    <hr>
                    <!-- <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Designation</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p><span id="designation">{{ profileDetailsUser?.designation }}</span></p>

                      </div>
                    </div> -->
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Birth Day</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p><span id="dob">{{ profileDetailsUser?.dob }}</span></p>

                      </div>
                    </div>
                    
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Emergency Contact</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p><span id="emergencyContact">{{ profileDetailsUser?.emergencyContact }}</span>
                        </p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Address</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p><span id="address">{{ profileDetailsUser?.address }}</span></p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="card mb-3 card-with-shadow">
                  <div class="card-body">
                    <div class="row">
                      <h3 class="text-left">BASIC INFORMATION</h3>
                      <div class="col-sm-3">
                        <h4 class="mb-0">Marital Status</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p><span id="maritalStatus">{{ profileDetailsUser?.maritalStatus }}</span></p>

                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Blood Group</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p><span id="bloodGroup">{{ profileDetailsUser?.bloodGroup }}</span></p>

                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Skills</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p><span id="skills">{{ profileDetailsUser?.skills }}</span></p>

                      </div>
                    </div>
                    <!-- <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Assigning assets</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p><span id="address">{{ profileDetailsUser?.assetName }}</span></p>

                      </div>
                    </div>
                    <hr> -->
                    <!-- <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Emergency Contact</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p><span id="emergencyContact">{{ profileDetailsUser?.emergencyContact }}</span>
                        </p>
                      </div>
                    </div> -->
                    <!-- <hr> -->

                  </div>
                </div>

                <div class="col-md-12">
                  <div class="card mb-12 card-with-shadow" id="shadow">
                    <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="mb-0">Assigning assets</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <p><span id="address">{{ profileDetailsUser?.assetName }}</span></p>

                  </div>
                </div>
                </div>
                </div>
              </div>



              </div>
            </div>

            
          </div>
          <div class="row justify-content-center">

            <!-- <button mat-button matStepperNext>Next</button> -->
            <div class="col-md-9 d-flex justify-content-end">
              <button class="btn btn-primary" mat-button matStepperNext>Next</button>
            </div>
          </div>
          
          <mat-step [stepControl]="secondFormGroup">
            <!-- <h1 class="text-center">Documents</h1> -->
            <ng-template matStepLabel>Documents</ng-template>
            <div class="container px-4 py-0 text-center">

              <div class="table-responsive mt-4">
                <table class="table table-bordered table-sm">
                  <thead class="table-dark">
                    <tr>
                      <th>S.No</th>
                      <th>Document Name</th>
                      <th>Download</th>

                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr >
                      <td>{{ 1 }}</td>
                      <td>{{profileDetailsUser?.academicDocument1 ? 'academicDocument1' : null }} </td>
                      <td>{{ profileDetailsUser?.academicDocument2 ? 'academicDocument2' : null  }}</td>
                      <td>{{ profileDetailsUser?.academicDocument3 ? 'academicDocument3' : null  }}</td>
                      <td>{{ profileDetailsUser?.academicDocument4 ? 'academicDocument4' : null }}</td>
                      <td>{{ profileDetailsUser?.aadharCard ? 'aadharCard' : null }}</td>
                      <td>{{ profileDetailsUser?.panCard ? 'panCard' : null }}</td>
                      <td>{{ profileDetailsUser?.signature ? 'signature' : null }}</td>
                      <td>{{ profileDetailsUser?.userImage ? 'userImage' : null }}</td>
                      <td>{{ profileDetailsUser?.offerLetter ? 'offerLetter' : null }}</td>
                      <td>{{ profileDetailsUser?.resignationLetter ? 'resignationLetter' : null }}</td>
                      <td>{{ profileDetailsUser?.apprisalLetter ? 'apprisalLetter' : null }}</td>
                      <td>{{ profileDetailsUser?.salarySlip1 ? 'salarySlip1' : null }}</td>
                      <td>{{ profileDetailsUser?.salarySlip2 ? 'salarySlip2' : null }}</td>
                      <td>{{ profileDetailsUser?.salarySlip3 ? 'salarySlip3' : null }}</td>

                      <td>
                        <button type="button" class="btn btn-link" (click)="DownloadDocs(id)">
                          <i class="fa-solid fa-download"></i>
                        </button>
                      </td>

                    </tr> -->
                    
                      <tr *ngIf="profileDetailsUser?.academicDocument1">
                        <td>{{ 1 }}</td>
                        <td>{{profileDetailsUser?.academicDocument1 ? '10th marksheet' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'academicDocument1.pdf')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="profileDetailsUser?.academicDocument2">
                        <td>{{ 2 }}</td>
                        <td>{{profileDetailsUser?.academicDocument2 ? '12th marksheet' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'academicDocument2.pdf')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="profileDetailsUser?.academicDocument3">
                        <td>{{ 3 }}</td>
                        <td>{{profileDetailsUser?.academicDocument3 ? 'Graduation marksheet' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'academicDocument3.pdf')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="profileDetailsUser?.academicDocument4">
                        <td>{{ 4 }}</td>
                        <td>{{profileDetailsUser?.academicDocument4 ? 'Higher education marksheet' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'academicDocument4.pdf')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="profileDetailsUser?.signature">
                        <td>{{ 5 }}</td>
                        <td>{{profileDetailsUser?.signature ? 'Signature' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'signature.png')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="profileDetailsUser?.aadharCard">
                        <td>{{ 6 }}</td>
                        <td>{{profileDetailsUser?.aadharCard ? 'Aadhar Card' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'aadharCard.pdf')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="profileDetailsUser?.panCard">
                        <td>{{ 7 }}</td>
                        <td>{{profileDetailsUser?.panCard ? 'Pan Card' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'panCard.pdf')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="profileDetailsUser?.offerLetter">
                        <td>{{ 8 }}</td>
                        <td>{{profileDetailsUser?.offerLetter ? 'Offer Letter' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'offerLetter.pdf')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="profileDetailsUser?.resignationLetter">
                        <td>{{ 9 }}</td>
                        <td>{{profileDetailsUser?.resignationLetter ? 'Resignation Letter' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'resignationLetter.pdf')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="profileDetailsUser?.apprisalLetter">
                        <td>{{ 10 }}</td>
                        <td>{{profileDetailsUser?.apprisalLetter ? 'Apprisal Letter' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'apprisalLetter.pdf')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="profileDetailsUser?.salarySlip1">
                        <td>{{ 11 }}</td>
                        <td>{{profileDetailsUser?.salarySlip1 ? 'Salary Slip' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'salarySlip1.pdf')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr>
                      <!-- <tr *ngIf="profileDetailsUser?.salarySlip2">
                        <td>{{ 12 }}</td>
                        <td>{{profileDetailsUser?.salarySlip2 ? 'salarySlip2' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'salarySlip2.pdf')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="profileDetailsUser?.salarySlip3">
                        <td>{{ 13 }}</td>
                        <td>{{profileDetailsUser?.salarySlip3 ? 'salarySlip3' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'salarySlip3.pdf')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr> -->
                      <tr *ngIf="profileDetailsUser?.userImage">
                        <td>{{ 12 }}</td>
                        <td>{{profileDetailsUser?.userImage ? 'User Image' : null }} </td>
                        <td>
                          <button type="button" class="btn btn-link" (click)="DownloadDocs(profileDetailsUser?.id, 'userImage.png')">
                            <i class="fa-solid fa-download"></i>
                          </button>
                        </td>
                      </tr>


                      
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary m-1" data-bs-dismiss="modal"
                  (click)="AllDocsDownload()"> All Download</button>
                <button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal"
                  (click)="closeForm()">Close</button>
              </div>
            </div>
          </mat-step>
        </div>
      </mat-step>
    </mat-stepper>

  </div>




  <!-- view profile with specific id end -->



</div>
<!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->

<!-- profile Add end -->