

<img decoding="async" class="wave" src="https://i.stack.imgur.com/WhXKT.png">
<div class="container">
    <div class="img">
        <img decoding="async" src="http://nirvanamanipur.org/assets/images/login.svg">
    </div>
    <div class="login-content">
        <form (ngSubmit)="onSubmit()">
            <img decoding="async" src="https://img.freepik.com/premium-vector/brunette-man-avatar-portrait-young-guy-vector-illustration-face_217290-1035.jpg?w=740">
            <h3 class="title">Login Here</h3>
            <div class="form-outline mb-4">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input [(ngModel)]="login.username" name="username" id="username"  type="text" matInput required>
                  <mat-icon matPrefix>account_circle</mat-icon>
                </mat-form-field>
            
          </div>
          <div class="form-outline">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter your password</mat-label>
              <input [(ngModel)]="login.password" name="password" id="password" required type="password" matInput type="{{ showPassword ? 'text' : 'password' }}">
            
              
              <mat-icon matPrefix>lock</mat-icon>
            </mat-form-field>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-outline">
                <div class="mb-0">
                  <div class="custom-control custom-checkbox small">
                    <input class="form-check-input" style="border: 1px solid black;" type="checkbox" value="" id="customCheck" (change)="togglePasswordVisibility($event)">
                    <label class="form-check-label" for="customCheck">Show Password</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <a class="forget" (click)="changepassword()">Forgot Password?</a>
            </div>
          </div>
          
          
           <div class="text-center text-lg-start mt-4 pt-2">
             
                <button type="submit" mat-raised-button color="primary" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            </div>
        </form>
    </div>
</div>




