<div class="container-fluid">
  <div class="row flex-nowrap">



    <div class="col py-3">
      <div class="b-example-divider"></div>

      <div class="container-fluid px-4 py-5">
        <h1 class="h2">Welcome,
          <span id="firstname" style="color: blue;">Admin!</span>
        </h1>

        <div class="d-flex justify-content-between align-items-center mb-2">
          <h4>Home</h4>
          <button class="btn RegButtonText" routerLink="/registration"><img src="/assets/image/RegButton.png" alt=""
              class="RegButton">New Registration</button>
        </div>


        <div class="row">
          <div class="m-0" [ngClass]="this.dashboardService.isNameSidebarVisible ? 'col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6' : 'col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3'">
            <div class="card m-2">
              <div class="card-content">
                <div class="card-body " style="padding: 6px;border: 2px solid #CDCDCD; border-radius: 7px">
                  <div class="media d-flex justify-content-between">
                    <div class="align-self-center">
                      <i class="cardIcon float-left"><img src="/assets/image/icon/reportEmp.svg" alt=""
                          class="cardIcon" style="margin-left: 0px !important;"></i>
                    </div>
                    <div class="media-body">
                      <a [routerLink]="['/employee']"
              (click)="loginService.showTable('employee')" style="text-decoration: none;">
                      <p class="cardIconNum">{{totalEmpCount || 0}}</p>
                      <span class="cardIconText">Employees</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="m-0" [ngClass]="this.dashboardService.isNameSidebarVisible ? 'col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6' : 'col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3'">
            <div class="card m-2">
              <div class="card-content">
                <div class="card-body " style="padding: 6px;border: 2px solid #CDCDCD; border-radius: 7px">
                  <div class="media d-flex justify-content-between">
                    <div class="align-self-center ">
                      <i class="cardIcon float-left"><img src="/assets/image/icon/workingHour.png" alt=""
                          class="cardIcon" style="margin-left: 0px !important;"></i>
                    </div>
                    <div class="media-body">
                      <a [routerLink]="['/notCheckedInUser']"
                (click)="loginService.showTable('notCheckedInUser')" style="text-decoration: none;">
                      <p class="cardIconNum">{{notCheckedIn || 0}}</p>
                      <span class="cardIconText">Absent</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="m-0" [ngClass]="this.dashboardService.isNameSidebarVisible ? 'col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6' : 'col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3'">
            <div class="card m-2">
              <div class="card-content">
                <div class="card-body " style="padding: 6px;border: 2px solid #CDCDCD; border-radius: 7px">
                  <div class="media d-flex justify-content-between">
                    <div class="align-self-center ">
                      <i class="cardIcon float-left"><img src="/assets/image/icon/present.png" alt="" class="cardIcon"
                          style="margin-left: 0px !important;"></i>
                    </div>
                    <div class="media-body">
                      <a [routerLink]="['/viewTodayPresent']"
                (click)="loginService.showTable('viewTodayPresent')" style="text-decoration: none;">
                      <p class="cardIconNum">{{presentCount || 0}}</p>
                      <span class="cardIconText">Present</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="m-0" [ngClass]="this.dashboardService.isNameSidebarVisible ? 'col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6' : 'col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3'">

            <div class="card m-2">
              <div class="card-content">
                <div class="card-body " style="padding: 6px;border: 2px solid #CDCDCD; border-radius: 7px">
                  <div class="media d-flex justify-content-between">
                    <div class="align-self-center ">
                      <i class="cardIcon float-left"><img src="/assets/image/icon/wfh.png" alt="" class="cardIcon"
                          style="margin-left: 0px !important;"></i>
                    </div>
                    <div class="media-body">
                      <a [routerLink]="['/viewTodayWfh']"
                      (click)="loginService.showTable('viewTodayWfh')" style="text-decoration: none;">
                      <p class="cardIconNum">{{ wfhCount || 0 }}</p>
                      <span class="cardIconText">WFH</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- bar chart -->
        <div class="row mt-5">
          <div class="col-xl-6 col-lg-12 col-md-12 mb-4">
            <div class="card" id="Barchart">
              <div class="card-header">
                <h3 class="card-title d-flex justify-content-between align-items-center">
                  <span class="mx-auto">Attendance</span>
                  <i class="fas fa-sync-alt" (click)="reloadChartData()"></i>
                </h3>
              </div>
              <div class="card-body">

                <div class="chart-container attendanceChart">
                  <canvas id="MyChart">{{ chart }}</canvas>
                </div>
                
              </div>
            </div>
          </div>

         

          <div class="col-xl-6 col-lg-12 col-md-12">
            <div class="card" id="pieChart" >
              <div class="card-header" >
                <h3 class="card-title d-flex justify-content-between align-items-center">
                  <span class="mx-auto"> Employee Info</span>
                  <i class="fas fa-sync-alt" (click)="reloadPieChartData()"></i>
                  </h3>
              </div>
              <div class="card-body mt-4">
                <div class="chart-container pieEmp">
                  <canvas id="MyPieChart" style="margin-top: 10px;">{{ chart }}</canvas>
                </div>

                <div class="legend "><img src="/assets/image/icon/EmpInfoVector.png" alt="" class="EmpInfoVector d-none d-md-inline">
                  <table class="table-responsive-md mt-4" style="position:absolute;top:4rem;right:48px;color:#545454">
                    <tbody>
                      <tr>
                        <td class="legendColorBox">
                          <div style="border:1px solid transparent;padding:1px">
                            <div style="width:4px;height:0;border:5px solid #FD7A8C;overflow:hidden"></div>
                          </div>
                        </td>
                        <td class="legendLabel">Full Time</td>
                      </tr>
                      <tr>
                        <td class="legendColorBox">
                          <div style="border:1px solid transparent;padding:1px">
                            <div style="width:4px;height:0;border:5px solid #9747FF;overflow:hidden"></div>
                          </div>
                        </td>
                        <td class="legendLabel">Part Time</td>
                      </tr>
                      <tr>
                        <td class="legendColorBox">
                          <div style="border:1px solid transparent;padding:1px">
                            <div style="width:4px;height:0;border:5px solid #FFCE62;overflow:hidden"></div>
                          </div>
                        </td>
                        <td class="legendLabel">Intern/Trainee</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


            <div class="card mt-4" id="LeaveChart">
              <div class="card-header">
                <h3 class="card-title">Today’s Leave Info </h3>
              </div>
              <div class="card-body d-flex" style="justify-content: space-evenly;">
                <!-- <div [routerLink]="['/todayAbsentLeave']"
                (click)="loginService.showTable('todayAbsentLeave')">
                  <div class="pie animate no-round leaveChart" [style.--p]="absentCount" [style.--c]="'#F97165'"  [style.--b]="'10px'"> {{absentCount}}</div><br>Absent
                </div> -->
                <div *ngIf="absentCount !== 0" [routerLink]="['/todayAbsentLeave']" (click)="loginService.showTable('todayAbsentLeave')">
                  <div class="pie animate no-round leaveChart" [style.--p]="absentCount" [style.--c]="'#F97165'" [style.--b]="'10px'">{{absentCount}}</div><br>Absent
                </div>
                <div *ngIf="absentCount === 0">
                  <div>
                    <div class="pie animate no-round leaveChart" [style.--p]="absentCount" [style.--c]="'#F97165'" [style.--b]="'10px'">{{absentCount}}</div><br>Absent
                  </div>
                </div>
                
                <div class="legend"><img src="/assets/image/icon/LeaveChartVector.png" alt="" class="leaveVector"></div>
                <!-- <div [routerLink]="['/todayCasualLeave']"
                (click)="loginService.showTable('todayCasualLeave')">
                  <div class="pie animate no-round leaveChart" [style.--p]="casualCount" [style.--c]="'#421CDD'" [style.--b]="'10px'"> {{casualCount}}</div><br>Casual
                  Leave
                </div> -->
                <div *ngIf="casualCount !== 0" [routerLink]="['/todayCasualLeave']" (click)="loginService.showTable('todayCasualLeave')">
                  <div class="pie animate no-round leaveChart" [style.--p]="casualCount" [style.--c]="'#421CDD'" [style.--b]="'10px'">{{casualCount}}</div><br>Casual Leave
                </div>
                <div *ngIf="casualCount === 0">
                  <div>
                    <div class="pie animate no-round leaveChart" [style.--p]="casualCount" [style.--c]="'#421CDD'" [style.--b]="'10px'">{{casualCount}}</div><br>Casual Leave
                  </div>
                </div>
                <div class="legend"><img src="/assets/image/icon/LeaveChartVector.png" alt="" class="leaveVector"></div>
                <!-- <div [routerLink]="['/todaySickLeave']"
                (click)="loginService.showTable('todaySickLeave')">
                  <div class="pie animate no-round leaveChart" [style.--p]="sickCount" [style.--c]="'#188EE4'" [style.--b]="'10px'">{{sickCount}}</div><br>Sick
                  Leave
                </div> -->
                <div *ngIf="sickCount !== 0" [routerLink]="['/todaySickLeave']" (click)="loginService.showTable('todaySickLeave')">
                  <div class="pie animate no-round leaveChart" [style.--p]="sickCount" [style.--c]="'#188EE4'" [style.--b]="'10px'">{{sickCount}}</div><br>Sick Leave
                </div>
                <div *ngIf="sickCount === 0">
                  <div>
                    <div class="pie animate no-round leaveChart" [style.--p]="sickCount" [style.--c]="'#188EE4'" [style.--b]="'10px'">{{sickCount}}</div><br>Sick Leave
                  </div>
                </div>
                <!-- <div class="legend"><img src="/assets/image/icon/EmpInfoVector.png" alt="" class="EmpInfoVector"><table style="position:absolute;top:4rem;right:52px;;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid transparent;padding:1px"><div style="width:4px;height:0;border:5px solid #FD7A8C;overflow:hidden"></div></div></td><td class="legendLabel">Full Time</td></tr><tr><td class="legendColorBox"><div style="border:1px solid transparent;padding:1px"><div style="width:4px;height:0;border:5px solid #9747FF;overflow:hidden"></div></div></td><td class="legendLabel">Part Time</td></tr><tr><td class="legendColorBox"><div style="border:1px solid transparent;padding:1px"><div style="width:4px;height:0;border:5px solid #FFCE62;overflow:hidden"></div></div></td><td class="legendLabel">Intern/Trainee</td></tr></tbody></table></div> -->
              </div>
            </div>


          </div>

        </div>
        <div class="container mt-5 pb-3" style="border-radius: 7px; border: 2px solid #CDCDCD;">
          <div class="row d-flex flex-wrap">
            <!-- <div class="col-xl-4 col-lg-12 col-md-12 mt-4"> -->
            <div class="justify-content-center align-item-center" [ngClass]="this.dashboardService.isNameSidebarVisible ? 'col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' : 'col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4'">

              <h5 class="text-center mb-4 mt-2 ActivitiesHeader">Calendar </h5>
              <div class="calendar">


                <div class="week-names">
                  <div *ngFor="let weekName of weekNames" class="day">{{ weekName }}</div>
                </div>

                <div *ngFor="let week of calendarData" class="week">
                  <div *ngFor="let day of week" class="day" [class.other-month]="!day.isCurrentMonth"
                    [class.today]="isToday(day.date)">
                    {{ day.date.format('D') }}
                  </div>
                </div>
                <div class="header">
                  <img src="/assets/image/icon/calPre.png" alt="" class="caliconPre" (click)="goToPrevMonth()">
                  <h2 class="monthYear">{{ currentDate.format('MMMM YYYY') }}</h2>
                  <img src="/assets/image/icon/calNext.png" alt="" class="caliconNext" (click)="goToNextMonth()">
                </div>
              </div>
            </div>
            <img src="/assets/image/icon/ActivityVector.png" alt="" class="ActivityVector d-none d-md-none d-sm-none d-lg-none d-xl-block" style="margin-left: 0px;">
            <div class="justify-content-center align-item-center" [ngClass]="this.dashboardService.isNameSidebarVisible ? 'col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6' : 'col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4'">
              <div class="container">
                <!-- <div class="card"> -->
                <h5 class="text-center mb-2 mt-2 ActivitiesHeader">Holiday </h5>
                <div class="card-body holidayBody" *ngFor="let upcomingHoliday of UpcomingHolidays, let i = index">
                  <div class="container">
                    <span class="weekName">{{ getShortDayName(upcomingHoliday.day) }}</span><br>
                    <span class="dateName">{{ upcomingHoliday.date.split('-')[2] }}</span><br>
                    <p class="yearName">{{ getMonthNameHoliday(upcomingHoliday.date) }}</p>
                  </div>
                  <div class="birthday d-flex align-items-center">
                    <img src="/assets/image/icon/birthdayVector.png" alt="" class="BirthdayVector">
                  </div>
                  <div class="birth">{{ upcomingHoliday.holiDayReason }}</div>
                  <!-- <div class="desc">SABHI KA JANA COMPULSURY HAI</div> -->
                </div>



              
                <!-- </div> -->
              </div>
            </div>


            <img src="/assets/image/icon/ActivityVector.png" alt="" class="ActivityVector d-none d-md-none d-sm-none d-lg-none d-xl-block"
              style="margin-left: -50px;">
            <div class="justify-content-center align-item-center" [ngClass]="this.dashboardService.isNameSidebarVisible ? 'col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6' : 'col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4'">
              <div class="container">
                <h5 class="text-center mb-4 mt-2 ActivitiesHeader">Birthdays</h5>
                <!-- <div class="card-body d-flex flex-column m-2" *ngFor="let dob of birthday, let i = index">
                  <div class="container">
                    <img src="/assets/image/icon/birthdayIcon.png" alt="" class="birthdayIcon">
                  </div>
                  <div class="d-flex flex-row">
                    <div class="ml-3">
                      <div class="birthName">{{birthday[i].firstname + " " +birthday[i].lastname}}</div>
                      <div class="birthdesc">{{birthday[i].dob | date: 'MMMM, dd'}}</div>
                    </div>
                  </div>
                </div> -->
                <!-- <img src="/assets/image/icon/birthdaybottomVector.png" alt="" class="birthdaybottomVector"> -->

                <!-- <div class="card-body d-flex flex-column align-items-center" style="margin-top: -6rem;">
                  <div class="container">
                    <img src="/assets/image/icon/birthdayIcon.png" alt="" class="birthdayIcon">
                  </div>
                  <div class="d-flex flex-row">
                    <div class="ml-3">
                      <div class="birthName">Sunita Kumari</div>
                      <div class="birthdesc">JANUARY, 22</div>
                    </div>
                  </div>
                </div>
                <img src="/assets/image/icon/birthdaybottomVector.png" alt="" class="birthdaybottomVector">

                <div class="card-body d-flex flex-column align-items-center" style="margin-top: -6rem;">
                  <div class="container">
                    <img src="/assets/image/icon/birthdayIcon.png" alt="" class="birthdayIcon">
                  </div>
                  <div class="d-flex flex-row">
                    <div class="ml-3">
                      <div class="birthName">Kavita Kumari</div>
                      <div class="birthdesc">JANUARY, 23</div>
                    </div>
                  </div>
                </div>
                <img src="/assets/image/icon/birthdaybottomVector.png" alt="" class="birthdaybottomVector">

                <div class="card-body d-flex flex-column align-items-center" style="margin-top: -6rem;">
                  <div class="container">
                    <img src="/assets/image/icon/birthdayIcon.png" alt="" class="birthdayIcon">
                  </div>
                  <div class="d-flex flex-row">
                    <div class="ml-3">
                      <div class="birthName">Anju Kumari</div>
                      <div class="birthdesc">JANUARY, 28</div>
                    </div>
                  </div>
                </div>
                <img src="/assets/image/icon/birthdaybottomVector.png" alt="" class="birthdaybottomVector"> -->
              </div>


            </div>



          </div>
        </div>
      </div>
      <!-- </main> -->
    </div>
  </div>
  <div class="text-center footer">Designed and developed by : <span class="footerP">Prilient Information
      Technologies</span></div>
</div>


  



<!-- End bar chart -->

<!-- <button class="btn-danger" (click)="test()">click</button> -->