<div class="container-fluid">
  <div class="row flex-nowrap">

   

    <div class="col py-3">
      <div class="b-example-divider"></div>

      <div class="container-fluid px-4 py-5">
        <h1 class="h2">Welcome,
          <span id="firstname" style="color: blue;">Admin!</span>
        </h1>
      
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h4>Home</h4>
          <button class="btn RegButtonText" routerLink="/registration"><img src="/assets/image/RegButton.png" alt="" class="RegButton">New Registration</button>
        </div>
      
      
      <div class="row">
        <div class="col-xl-3 col-sm-6 col-12"> 
          <div class="card m-2">
            <div class="card-content">
              <div class="card-body " style="padding: 6px;">
                <div class="media d-flex justify-content-between">
                  <div class="align-self-center ">
                    <i class="cardIcon float-left"><img src="/assets/image/icon/EmployeeCard.png" alt="" class="cardIcon" style="margin-left: 0px !important;"></i>
                  </div>
                  <div class="media-body">
                    <p class="cardIconNum">156</p>
                    <span class="cardIconText">Employees</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card m-2">
            <div class="card-content">
              <div class="card-body " style="padding: 6px;">
                <div class="media d-flex justify-content-between">
                  <div class="align-self-center ">
                    <i class="cardIcon float-left"><img src="/assets/image/icon/workingHour.png" alt="" class="cardIcon" style="margin-left: 0px !important;"></i>
                  </div>
                  <div class="media-body">
                    <p class="cardIconNum">156</p>
                    <span class="cardIconText">Working Hours</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card m-2">
            <div class="card-content">
              <div class="card-body " style="padding: 6px;">
                <div class="media d-flex justify-content-between">
                  <div class="align-self-center ">
                    <i class="cardIcon float-left"><img src="/assets/image/icon/present.png" alt="" class="cardIcon" style="margin-left: 0px !important;"></i>
                  </div>
                  <div class="media-body">
                    <p class="cardIconNum">156</p>
                    <span class="cardIconText">Present</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card m-2">
            <div class="card-content">
              <div class="card-body " style="padding: 6px;">
                <div class="media d-flex justify-content-between">
                  <div class="align-self-center ">
                    <i class="cardIcon float-left"><img src="/assets/image/icon/wfh.png" alt="" class="cardIcon" style="margin-left: 0px !important;"></i>
                  </div>
                  <div class="media-body">
                    <p class="cardIconNum">156</p>
                    <span class="cardIconText">WFH</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- bar chart -->
      <div class="row mt-5">
        <div class="col-xl-6 col-lg-12 col-md-12 mb-4">
          <div class="card" id="Barchart">
            <div class="card-header">
              <h3 class="card-title">Attendance:</h3>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="MyChart">{{ chart }}</canvas>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-xl-6 col-lg-12 col-md-12">
          <div class="card" id="LineChart">
            <div class="card-header">
              <h3 class="card-title">Salary Statistics</h3>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="MyLineChart">{{ chart }}</canvas>
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-xl-6 col-lg-12 col-md-12">
          <div class="card" id="pieChart">
            <div class="card-header">
              <h3 class="card-title">Employee Info :</h3>
            </div>
            <div class="card-body">
              <div class="chart-container pieEmp">
                <canvas id="MyPieChart">{{ chart }}</canvas>
              </div>
              
              <div class="legend"><img src="/assets/image/icon/EmpInfoVector.png" alt="" class="EmpInfoVector"><table style="position:absolute;top:4rem;right:52px;;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid transparent;padding:1px"><div style="width:4px;height:0;border:5px solid #FD7A8C;overflow:hidden"></div></div></td><td class="legendLabel">Full Time</td></tr><tr><td class="legendColorBox"><div style="border:1px solid transparent;padding:1px"><div style="width:4px;height:0;border:5px solid #9747FF;overflow:hidden"></div></div></td><td class="legendLabel">Part Time</td></tr><tr><td class="legendColorBox"><div style="border:1px solid transparent;padding:1px"><div style="width:4px;height:0;border:5px solid #FFCE62;overflow:hidden"></div></div></td><td class="legendLabel">Intern/Trainee</td></tr></tbody></table></div>
            </div>
          </div>


          <div class="card mt-4" id="LeaveChart">
            <div class="card-header">
              <h3 class="card-title">Today’s Leave Info :</h3>
            </div>
            <div class="card-body d-flex" style="justify-content: space-evenly;">
              <div><div class="pie animate no-round leaveChart" style="--p:40;--c:#F97165;--b:10px"> 6</div><br>Absent</div>
             <div class="legend"><img src="/assets/image/icon/LeaveChartVector.png" alt="" class="leaveVector"></div>
             <div> <div class="pie animate no-round leaveChart" style="--p:60;--c:#421CDD;--b:10px"> 8</div><br>Casual Leave</div>
              <div class="legend"><img src="/assets/image/icon/LeaveChartVector.png" alt="" class="leaveVector"></div>
              <div><div class="pie animate no-round leaveChart" style="--p:80;--c:#188EE4;--b:10px"> 10</div><br>Sick Leave</div>
              <!-- <div class="legend"><img src="/assets/image/icon/EmpInfoVector.png" alt="" class="EmpInfoVector"><table style="position:absolute;top:4rem;right:52px;;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid transparent;padding:1px"><div style="width:4px;height:0;border:5px solid #FD7A8C;overflow:hidden"></div></div></td><td class="legendLabel">Full Time</td></tr><tr><td class="legendColorBox"><div style="border:1px solid transparent;padding:1px"><div style="width:4px;height:0;border:5px solid #9747FF;overflow:hidden"></div></div></td><td class="legendLabel">Part Time</td></tr><tr><td class="legendColorBox"><div style="border:1px solid transparent;padding:1px"><div style="width:4px;height:0;border:5px solid #FFCE62;overflow:hidden"></div></div></td><td class="legendLabel">Intern/Trainee</td></tr></tbody></table></div> -->
            </div>
          </div>
          <!-- <div class="card" id="LeaveChart">
            <div class="card-header">
              <h3 class="card-title">Today’s Leave Info :</h3>
            </div>
            <div class="card-body">
          
          <div class="pie animate no-round leaveChart" style="--p:60;--c:#F97165;--b:10px"> 6</div>Absent
          <div class="pie animate no-round leaveChart" style="--p:80;--c:#421CDD;--b:10px"> 10</div>
          <div class="pie animate leaveChart" style="--p:90;--c:#188EE4;--b:10px"> 8</div>
        </div>
        </div> -->
        </div>

      </div>
    </div>
    <!-- </main> -->
    </div>
  </div>
</div>
      <!-- End bar chart -->

<!-- <button class="btn-danger" (click)="test()">click</button> -->



