.ms-1 {
    margin-left: 1.25rem !important;
    font-size: 15px;
}

.form-control {
    border: var(--bs-border-width) solid #7c7d7e;
}

.sidebar .nav:not(.sub-menu)>.nav-item>.nav-link {
    margin: 8px;
}

.sidebar .nav .nav-item .nav-link i#menu-icon {
    font-size: 1rem;
    line-height: 1;
    margin-right: 2rem;
    color: #787878;
}

.sidebar .nav .nav-item .nav-link i.fa-angle-right {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: auto;
    margin-right: 0;
    color: #686868;
}

.page-body-wrapper {
    padding-top: 0px;
}

.card1 {
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    background-color: white;
}

.card1:hover {
    transform: scale(1.08);
}

li a {
    cursor: pointer;
}

/* .modal {
    background-color: #797a7a;
} */

.modal-content {
    width: 100%;
    margin: 2rem auto 2rem auto;
}

.feature .col,
a {
    cursor: pointer;
}

/* .sidebar{
    margin-top: 4rem;
    position: fixed;
} */
li {
    padding: 8px;
}


#exampleModalFullscreenXxlLabel,
#TeamWFHLabel {
    margin-left: 33rem;
}

/* calendar */



/*for user profile start */
.profile-info-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.friend-list,
.img-grid-list {
    margin: -1px;
    list-style-type: none;
}

.profile-info-list>li.title {
    font-size: 0.625rem;
    font-weight: 700;
    color: #8a8a8f;
    padding: 0 0 0.3125rem;
}

.profile-info-list>li+li.title {
    padding-top: 1.5625rem;
}

.profile-info-list>li {
    padding: 0.625rem 0;
}

.profile-info-list>li .field {
    font-weight: 700;
}

.profile-info-list>li .value {
    color: #666;
}

.profile-info-list>li.img-list a {
    display: inline-block;
}

.profile-info-list>li.img-list a img {
    max-width: 2.25rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    border-radius: 2.5rem;
}

.coming-soon-cover img,
.email-detail-attachment .email-attachment .document-file img,
.email-sender-img img,
.friend-list .friend-img img,
.profile-header-img img {
    max-width: 100%;
}

.table.table-profile th {
    border: none;
    color: #000;
    padding-bottom: 0.3125rem;
    padding-top: 0;
}

.table.table-profile td {
    border-color: #c8c7cc;
}

.table.table-profile tbody+thead>tr>th {
    padding-top: 1.5625rem;
}

.table.table-profile .field {
    color: #666;
    font-weight: 600;
    width: 25%;
    text-align: right;
}

.table.table-profile .value {
    font-weight: 500;
}

.profile-header {
    position: relative;
    overflow: hidden;
}

.profile-header .profile-header-cover {
    background: url(https://bootdey.com/img/Content/bg1.jpg) center no-repeat;
    background-size: 100% auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.profile-header .profile-header-cover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.85) 100%);
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab,
.profile-header-img,
body .fc-icon {
    position: relative;
}

.profile-header .profile-header-tab {
    background: #fff;
    list-style-type: none;
    margin: -1.25rem 0 0;
    padding: 0 0 0 8.75rem;
    border-bottom: 1px solid #c8c7cc;
    white-space: nowrap;
}

.profile-header .profile-header-tab>li {
    display: inline-block;
    margin: 0;
}

.profile-header .profile-header-tab>li>a {
    display: block;
    color: #000;
    line-height: 1.25rem;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.75rem;
    border: none;
}

.profile-header .profile-header-tab>li.active>a,
.profile-header .profile-header-tab>li>a.active {
    color: #007aff;
}

.profile-header .profile-header-content:after,
.profile-header .profile-header-content:before {
    content: "";
    display: table;
    clear: both;
}

.profile-header .profile-header-content {
    color: #fff;
    padding: 1.25rem;
}

body .fc th a,
body .fc-ltr .fc-basic-view .fc-day-top .fc-day-number,
body .fc-widget-header a {
    color: #000;
}

.profile-header-img {
    float: left;
    width: 7.5rem;
    height: 7.5rem;
    overflow: hidden;
    z-index: 10;
    margin: 0 1.25rem -1.25rem 0;
    padding: 0.1875rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    background: #fff;
}

.profile-header-info h4 {
    font-weight: 500;
    margin-bottom: 0.3125rem;
}

.profile-container {
    padding: 1.5625rem;
}

@media (max-width: 967px) {
    .profile-header-img {
        width: 5.625rem;
        height: 5.625rem;
        margin: 0;
    }

    .profile-header-info {
        margin-left: 6.5625rem;
        padding-bottom: 0.9375rem;
    }

    .profile-header .profile-header-tab {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .profile-header .profile-header-cover {
        background-position: top;
    }

    .profile-header-img {
        width: 3.75rem;
        height: 3.75rem;
        margin: 0;
    }

    .profile-header-info {
        margin-left: 4.6875rem;
        padding-bottom: 0.9375rem;
    }

    .profile-header-info h4 {
        margin: 0 0 0.3125rem;
    }

    .profile-header .profile-header-tab {
        white-space: nowrap;
        overflow: scroll;
        padding: 0;
    }

    .profile-container {
        padding: 0.9375rem 0.9375rem 3.6875rem;
    }

    .friend-list>li {
        float: none;
        width: auto;
    }

    
}

.profile-info-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.friend-list,
.img-grid-list {
    margin: -1px;
    list-style-type: none;
}

.profile-info-list>li.title {
    font-size: 0.625rem;
    font-weight: 700;
    color: #8a8a8f;
    padding: 0 0 0.3125rem;
}

.profile-info-list>li+li.title {
    padding-top: 1.5625rem;
}

.profile-info-list>li {
    padding: 0.625rem 0;
}

.profile-info-list>li .field {
    font-weight: 700;
}

.profile-info-list>li .value {
    color: #666;
}

.profile-info-list>li.img-list a {
    display: inline-block;
}

.profile-info-list>li.img-list a img {
    max-width: 2.25rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    border-radius: 2.5rem;
}

.coming-soon-cover img,
.email-detail-attachment .email-attachment .document-file img,
.email-sender-img img,
.friend-list .friend-img img,
.profile-header-img img {
    max-width: 100%;
}

.table.table-profile th {
    border: none;
    color: #000;
    padding-bottom: 0.3125rem;
    padding-top: 0;
}

.table.table-profile td {
    border-color: #c8c7cc;
}

.table.table-profile tbody+thead>tr>th {
    padding-top: 1.5625rem;
}

.table.table-profile .field {
    color: #666;
    font-weight: 600;
    width: 25%;
    text-align: right;
}

.table.table-profile .value {
    font-weight: 500;
}

.friend-list {
    padding: 0;
}

.friend-list>li {
    float: left;
    width: 50%;
}

.friend-list>li>a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 0.625rem;
    margin: 1px;
    background: #fff;
}

.friend-list>li>a:after,
.friend-list>li>a:before {
    content: "";
    display: table;
    clear: both;
}

.friend-list .friend-img {
    float: left;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    background: #efeff4;
}

.friend-list .friend-info {
    margin-left: 3.625rem;
}

.friend-list .friend-info h4 {
    margin: 0.3125rem 0;
    font-size: 0.875rem;
    font-weight: 600;
}

.friend-list .friend-info p {
    color: #666;
    margin: 0;
}

/*for user profile end */

.table-bordered {
    border: 1px solid #000;
    /* Set the border width and color */
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #000;
    /* Set the border width and color for table cells */
}

.pointer {
    cursor: pointer;
}

.table-responsive {
    overflow-x: auto;
}



.team-info li {
    display: inline-block;
}





/* design start */
#sideBar {
    width: 10%;
    background-color: #3f51b5;
}

/* .sidelogo {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
} */

/* side bar design */
.sidebarLogo {
    width: 40px;
    height: 39px;
    flex-shrink: 0;
}

#sidebarMenu {
    display: flex;
    width: 332px;
    padding: 7px 10px 7px 30px;
    align-items: center;
    gap: 68px;
}

.nav-link {
    display: flex;
}

.sidebarPageLogo {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 0rem;
    /* background-color: #a7a7a7; */
}


/* download button start */

@-webkit-keyframes orbit {
    0% {
        -webkit-transform: rotateY(90deg) rotate(0deg);
    }

    60% {
        -webkit-transform: rotateY(90deg) rotate(-180deg);
    }

    100% {
        -webkit-transform: rotateY(90deg) rotate(-360deg);
    }
}

@-moz-keyframes orbit {
    0% {
        -moz-transform: rotateY(90deg) rotate(0deg);
    }

    60% {
        -moz-transform: rotateY(90deg) rotate(-180deg);
    }

    100% {
        -moz-transform: rotateY(90deg) rotate(-360deg);
    }
}

@keyframes orbit {
    0% {
        -webkit-transform: rotateY(90deg) rotate(0deg);
        -moz-transform: rotateY(90deg) rotate(0deg);
        -ms-transform: rotateY(90deg) rotate(0deg);
        -o-transform: rotateY(90deg) rotate(0deg);
        transform: rotateY(90deg) rotate(0deg);
    }

    60% {
        -webkit-transform: rotateY(90deg) rotate(-180deg);
        -moz-transform: rotateY(90deg) rotate(-180deg);
        -ms-transform: rotateY(90deg) rotate(-180deg);
        -o-transform: rotateY(90deg) rotate(-180deg);
        transform: rotateY(90deg) rotate(-180deg);
    }

    100% {
        -webkit-transform: rotateY(90deg) rotate(-360deg);
        -moz-transform: rotateY(90deg) rotate(-360deg);
        -ms-transform: rotateY(90deg) rotate(-360deg);
        -o-transform: rotateY(90deg) rotate(-360deg);
        transform: rotateY(90deg) rotate(-360deg);
    }
}

/* body {
    margin: 100px auto;
    text-align: center;
  } */

.button {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 20px 30px 20px 70px;
    background: rgba(60, 162, 162, 0.6);
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    margin-left: 2rem;
}

.button:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    color: rgba(0, 0, 0, 0.8);
    background: rgba(60, 162, 162, 0.8);
}

.button:hover>span {
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
    -webkit-transform: rotateY(90deg) rotate(-360deg);
    -moz-transform: rotateY(90deg) rotate(-360deg);
    -ms-transform: rotateY(90deg) rotate(-360deg);
    -o-transform: rotateY(90deg) rotate(-360deg);
    transform: rotateY(90deg) rotate(-360deg);
}

.button>span {
    width: 80px;
    display: block;
    position: absolute;
    left: 0;
    top: -40px;
    bottom: -40px;
    border-radius: 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(90deg) rotate(0deg);
    -moz-transform: rotateY(90deg) rotate(0deg);
    -ms-transform: rotateY(90deg) rotate(0deg);
    -o-transform: rotateY(90deg) rotate(0deg);
    transform: rotateY(90deg) rotate(0deg);
}

.button>span>span {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 16px;
    height: 17px;
    left: 0;
    top: 50px;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.button>span>span::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    margin-left: -7px;
    border-top: 16px solid rgba(0, 0, 0, 0.6);
    border-bottom: 0 solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.downloadHeading {
    font-size: 1rem;
    margin-left: 5rem;
    font-weight: bold;
}

/* download button end */


/* design */
#employeelistHeader h1, #leaveListHeader h1, #wfhlistHeader h1, #reportHeader h1{
    margin-left: 35rem;
}

/* create role */
select {
    width: -webkit-fill-available;
    border-radius: 4px;
}

#CreateRoleHeader h1{
    margin-left: 10rem;
}

/* create role */


.align-items-start {
    width: 265px;
    height: 298px;
    flex-shrink: 0;
    border-radius: 21px;
    border: 1px solid #ABABAB;
    background: #FFF;
    margin: auto;
    margin-top: 1rem;
}

h3,
.text-body-emphasis {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-decoration-line: underline;
    text-align: center;
}

/* img {
    width: 148.707px;
    height: 170.036px;
    flex-shrink: 0;
    margin-left: 3rem;
} */





/* holiday strat */
.fc .fc-toolbar.fc-header-toolbar {
    margin-top: 1rem;
}

.card {
    background-color: #f1f0f0;
}


/* bar chart strat */

/* bar chart end */



/* side bar icon hover start */

.image-container {
    position: relative;
    display: inline-block;
}


.image-name {
    position: absolute;
    width: max-content;
    top: 98%;
    /* left: 200%; */
    transform: translateX(-58%);
    /* border: 1px solid gray; */
    border-radius: 10%;
    color: rgb(255, 255, 255);
    font-family: "poppins";
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.image-container:hover .image-name {
    visibility: visible;
    opacity: 1;
}

/* side bar icon hover end */



.h2{
    color: #000;
font-size: 23px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: -32px;
}

.DashboardCard{
    display: flex;
width: 235px;
height: 95px;
padding: 10px 20px;
align-items: center;
gap: 40px;
flex-shrink: 0;
border-radius: 7px;
border: 1px solid #CDCDCD;
background: #FFF;
}

.cardIcon{
    width: 48px;
height: 48px;
flex-shrink: 0;
}

.cardIconNum{
    color: #000;
text-align: right;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: auto;
}

.cardIconText{
    color: #000;
text-align: right;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.media-body{
    display: flex;
flex-direction: column;
align-items: flex-end;
}


/* chart */
.card-title{
    color: #000;
/* text-align: right; */
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.RegButton{
    width: 25px;
    height: 21.344px;
    fill: #FFF;
    margin-left: 0px !important;
}

.RegButtonText{
    color: #FFF;
text-align: right;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.3px;
display: inline-flex;
/* padding: 0px 19px 0px 10px; */
align-items: center;
border-radius: 5px;
background: #421CDD;
margin-right: 11px;
}


.card-title{
    text-decoration: none;
}
.card-header {
  
    border-bottom: none;
}
#pieChart{
    width: 100%;
height: 181px;
flex-shrink: 0;
border-radius: 7px;
border: 2px solid #CDCDCD;

background: #FFF;
}
.pieEmp{
    width: 200px;
height: 140px;
/* transform: rotate(-24.605deg); */
flex-shrink: 0;
margin-top: -43px;
}

/* .legendLabel{
    color: #000;

text-align: right;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
} */
#LeaveChart{
    width: 100%;
height: 181px;
flex-shrink: 0;
border-radius: 7px;
border: 2px solid #CDCDCD;

background: #FFF;
}
.EmpInfoVector{
    width: 1px;
height: 91.5px;
flex-shrink: 0;
stroke-width: 1px;
stroke: #000;
margin-left: 16rem;
margin-top: -10rem;
}


.leaveVector{
    width: 1px;
    height: 104px;
    flex-shrink: 0;    
stroke-width: 1px;
stroke: #000;
margin-left: auto;
}

@property --p {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
  
  .pie {
    --p: 20;
    --b: 22px;
    --c: darkred;
    --w: 150px;
  
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    overflow: hidden;
  }
  .pie:before,
  .pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  .pie:before {
    inset: 0;
    background: radial-gradient(farthest-side, var(--c) 98%, #ad1c1c00) top/var(--b)
        var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p) * 1%), #E5E5E5 0);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(99% - var(--b)),
      #000 calc(100% - var(--b))
    );
    mask: radial-gradient(
      farthest-side,
      #0000 calc(99% - var(--b)),
      #000 calc(100% - var(--b))
    );
  }
  .pie:after {
    inset: calc(50% - var(--b) / 2);
    background: var(--c);
    transform: rotate(calc(var(--p) * 3.6deg))
      translateY(calc(50% - var(--w) / 2));
  }
  .animate {
    animation: p 1s 0.5s both;
  }
  .no-round:before {
    background-size: 0 0, auto;
  }
  .no-round:after {
    content: none;
  }
  @keyframes p {
    from {
      --p: 0;
    }
  }
  
 
  
  .leaveChart{
    width: 72px;
height: 72px;
/* transform: rotate(82.735deg); */
flex-shrink: 0;
stroke-width: 12px;
stroke: #E5E5E5;
  }



  /* calendar */
  .calendar {
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the calendar */
    overflow: hidden;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
  }

  .header button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .week-names {
    display: flex;
    justify-content: space-around;
    background-color: #f8f9fa;
    padding: 10px;
  }

  .day {
    text-align: center;
    padding: 10px;
  }

  .day.other-month {
    color: #ccc; /* Style for days from the previous/next month */
  }

  .week {
    display: flex;
    justify-content: space-around;
  }

  

  .ActivitiesHeader{
    color: #000;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .ActivityVector{
    width: 25px;
height: 286px;
flex-shrink: 0;
margin-top: 28px;
  }

  .BirthdayVector{
    width: 1px;
height: 46px;
flex-shrink: 0;
margin-top: -5rem;
margin-left: 4rem;

  }
.birth{
    margin-top: -4rem;
    margin-left: 6rem;
    color: #1F3BF2;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.weekName{
    color: #000;
text-align: right;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.2px;
}

.dateName{
    color: #2F37A4;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.yearName{
    color: #000;
font-size: 7px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.desc{
    color: #343A40;
font-size: 7px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 6rem;
}

.birthdayIcon{
    width: 44px;
height: 44px;
flex-shrink: 0;
margin-left: -18px;
}


.birthName{
    color: #000;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: -42px;
}

.birthdesc{
    color: #2F37A4;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.birthdaybottomVector{
    width: 1px;
height: 205px;
transform: rotate(-90deg);
flex-shrink: 0;
margin-top: -87px;
margin-left: 106px;
}

.footer{
    color: #2C2C2C;
text-align: right;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.2px;
}

.footerP{
    color: #2C2C2C;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.2px;
}

.caliconPre{
    width: 10px;
height: 10px;
transform: rotate(0deg);
flex-shrink: 0;
fill: #421CDD;
margin-right: 1rem !important;
}

.caliconNext{
    width: 10px;
height: 10px;
transform: rotate(0deg);
flex-shrink: 0;
margin-right: 1rem !important;
}

.monthYear{
    color: #000;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 1rem;
}

.day{
    color: #000;
text-align: center;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
/* width: 35px; */
height: 32px;
    margin-left: 7px;
}

.today {
    font-size: 16px;
    border-radius: 50%; 
    background-color:rgba(66, 28, 221, 0.10); /* Grey background color for today's date */
    margin: 0;
  }

 #MyChart{
    width: 100% !important;
    height: 304px !important;
   
 } 



.head{
    color: #000;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.selectPermission{
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.SlectedAdd{
    color: #2F37A4;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 177px;
height: 58px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #2F37A4;
background: #FFF;
}

.selectedRole{
    width: 417px;
height: 58px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #808080;

background: #FFF;
}

/* .permissionModal{
    width: 710px;
height: 495px;
border-radius: 20px;
background: #FFF;
} */