<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-xxl-12 d-flex flex-wrap navbar_css">
            <div class="col-9 col-md-9 col-xxl-9 offset-1">
                <div class="header_menu" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                    aria-controls="offcanvasExample">
                    <img src="../../../assets/images/AVX_Media.svg" alt="">
                </div>
            </div>
            <div class="col-2 col-md-2 col-xxl-2 d-flex justify-content-center align-items-center">
                <div class="dropdown">
                    <a href="#"
                        class="profile_img_on_header d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img [src]="profileData.avatar_url ? 'http://101.53.145.234:4005/' + profileData.avatar_url : 'https://img.freepik.com/premium-vector/business-global-economy_24877-41082.jpg?size=626&ext=jpg&ga=GA1.1.3377681.1681707924&semt=ais'" alt="" width="32" height="32" class="rounded-circle me-2">
                        <!-- <strong>mdo</strong> -->
                        <strong>Welcome {{ (profileData.name || 'Not found').split(' ')[0] || 'Not found' }}</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <!-- <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li> -->
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profileData">Profile</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="" (click)="apiService.logOut()">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start text-bg-dark d-flex justify-content-between" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header d-flex flex-column px-0">
        <div class="col-12 col-md-12 d-flex flex-wrap">
            <div class="col-11 col-md-11">
                <div class="header_menu d-flex justify-content-center align-items-center">
                    <img src="../../../assets/images/AVX_Media.svg" alt="">
                </div>
            </div>
            <div class="col-1 col-md-1">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
        </div>
        <div class="col-12 col-md-12 col-xxl-12 menu_options">
            <ul>
                <li routerLink="/employee-project">
                    <div class="col-12 col-md-12 d-flex">
                        <div class="col-2 col-md-2 offset-1">
                            <div class="menu_img_css_1">
                                <img src="../../../assets/images/project_icon_img.svg" alt="">
                            </div>
                        </div>
                        <div class="col-9 col-md-9">
                            <div class="text_menu_css">Project</div>
                        </div>
                    </div>
                </li>
                <li routerLink="/employee-assign-task">
                    <div class="col-12 col-md-12 d-flex">
                        <div class="col-2 col-md-2 offset-1">
                            <div class="menu_img_css_1">
                                <img src="../../../assets/images/task_icon_img.svg" alt="">
                            </div>
                        </div>
                        <div class="col-9 col-md-9">
                            <div class="text_menu_css">Assign Task</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-12 d-flex justify-content-center align-items-center log_out_css" (click)="apiService.logOut()"> <i class="fa fa-sign-out"></i> log out</div>
</div>







<div class="modal fade" id="profileData" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #3B3A70;">
                <div class="col-12 col-md-12 d-flex flex-nowrap">
                    <div class="col-11 col-md-11 text_add_p_css">
                        <div class="modal-title fs-5" id="exampleModalLabel">Profile Details</div>
                    </div>
                    <div class="col-1 col-md-1 text-end text-white"><button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button></div>
                </div>
            </div>
            <div class="modal-body m-4">
                <div class="col-12 col-md-12 d-flex justify-content-center align-items-center">
                    <div class="add_css_pro_code">
                        <div class="profile_data_img_div">
                            <img [src]="profileData.avatar_url ? 'http://101.53.145.234:4005/' + profileData.avatar_url : 'https://img.freepik.com/premium-vector/business-global-economy_24877-41082.jpg?size=626&ext=jpg&ga=GA1.1.3377681.1681707924&semt=ais'" alt="">
                        </div>
                        
                        <div class="profile_icon_img">
                            <i class="fa fa-upload" (click)="uploadFileInput.click()"> Upload</i>
                            <!-- <i class="fa fa-remove" > Remove</i> -->
                            <input type="file" #uploadFileInput style="display: none" (change)="handleImgFile($event)">
                            <!-- <input type="file" #removeFileInput style="display: none" (change)="handleVideoFile($event)"> -->
                        </div>
                        <!-- <label>Name</label>
                        <span>{{profileData.name || 'Not found'}}</span> -->
                    </div>
                </div>
                <div class="col-12 col-md-12 d-flex flex-wrap mt-3">
                    <div class="col-12 col-md-6">
                        <div class="add_css_pro_code">
                            <label>Name</label>
                            <span>{{profileData.name || 'Not found'}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex flex-wrap">
                            <div class="add_css_pro_code">
                                <label>Email Id</label>
                                <span>{{profileData.email || 'Not found'}}</span>
                            </div>
                        
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="add_css_pro_code">
                            <label>Mobile no.</label>
                            <span>{{profileData.country_code}}{{profileData.mobile_number || 'Not found'}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="add_css_pro_code">
                            <label>City</label>
                            <span>{{profileData.city || 'Not found'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>