.topUP{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid yellow;
    background-color: yellow;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    
}
.topUP:active{
    transform: scale(.7);
}
.show{
    opacity: 1;
    transform: translateY(0);
}