<div *ngIf="!apiService.isLoggedIn()">
    <app-navbar *ngIf="!loginWithOTP() && !forgotPassword()"></app-navbar>
    <router-outlet></router-outlet>
    <app-footer *ngIf="!loginWithOTP() && !forgotPassword()"></app-footer>
</div>
<div *ngIf="apiService.isLoggedIn() && apiService.getRole === 'team member'">    
        <app-employee-db></app-employee-db>
        <router-outlet></router-outlet>
</div>
<div *ngIf="apiService.isLoggedIn() && apiService.getRole === 'admin'">    
        <app-admin-db></app-admin-db>
        <router-outlet></router-outlet>
</div>
<div *ngIf="apiService.isLoggedIn() && apiService.getRole === 'user'">    
        <app-client-db></app-client-db>
</div>
<button class="topUP" (click)="scrollToTop()" style="position: fixed; bottom: 50px; right: 50px;"><i class="fa fa-angle-double-up"></i></button>




