.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
.error-template,h1, h2{
    margin-bottom: 0px;
}


/* Mobile L and M (425px) */
@media (max-width: 425px) {
    .error-template{
        margin-left: 2rem;
    }
    h1,h2{
        margin-left: 10rem;
    }
    .error-details{
        margin-left: 10rem;
        font-size: 20px;
    }

    img{
        max-width: 150%;
        height: auto;
    }
    .error-actions{
        margin-left: 10rem;
    }
}

/* Tablet  (768px) */
@media (max-width: 768px) {
    img{
        max-width: 150%;
        height: auto;
        margin-left: 6rem;
    }
    .error-actions{
        margin-left: 5rem;
    }
}

/* Laptop  (1024px) */
@media (max-width: 1024px) {
    .error-actions{
        margin-left: 5rem;
    }
}

/* Laptop  (1440px) */
@media (max-width: 1440px) {
    .error-actions{
        margin-left: 4rem;
    }
}

/* Laptop 4K  (2560px) */
@media (max-width: 2560px) {
    .error-actions{
        margin-left: 4rem;
    }
}