<div class="d-flex flex-wrap justify-content-center align-items-center mt-5">
    <div class="searchBar">
        <div class="creativeAssetSearch">
            <input type="text" id="searchBar" placeholder="Search"> <img
                src="/assets/images/creativeAssetsSearchIcon.svg" alt="" class="creativeAssetsSearchIcon">
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center align-items-center mt-4">
    <div class="d-flex justify-content-start align-items-start" style="width: 90%;">
        <div class="creativeAsset">
            Projects
        </div>
    </div>

</div>

<div class="">
    <div class="col-12 col-md-12 mt-4 px-5 overflow-auto">
        <table class="table tAble_css table-striped">
            <thead class="table-dark tHead_css">
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Starting Date</th>
                    <th scope="col">Deadline Date</th>
                </tr>
            </thead>
            <tbody class="tBody_css">
                <tr *ngFor="let project of tasks; let i = index">
                    <td scope="row">{{ i+1 }}</td>
                    <td scope="row">{{ project.task_info.name ||
                        "-"}}</td>
                    <td><i class="far fa-calendar"></i> {{ project.task_info.createdAt | date:
                        'dd/MM/yyyy' || "-" }}</td>
                    <td style="color: #FF5B5B;"><i class="far fa-calendar" style="color: #FF5B5B;"></i> {{ project.task_info.deadline | date:
                        'dd/MM/yyyy' || "-" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>