<div class="container-fluid mt-5 pb-4" style="background-color: #F8F3F3;">
    <div class="col-12 col-md-12 col-xxl-12 d-flex flex-wrap">
        <div class="col-12 col-md-5 col-xxl-5 offset-xxl-1 mt-5">
            <div class="how-it-works-css">how it works</div>
            <div class="how-it-works-under-text-css mt-4">
                We understand the pulse of your events, the almost impossible timelines, those last-minutechanges. Our
                secret sauce? A fusion of dynamic storytelling, cinematic finesse, ingeniouscreativity, widely adaptive
                technology and a hassle-free production process that feels likemagic !
            </div>
            <br>
            <div class="how-it-works-under-text-css">
                With over 15 years of expertise, we've mastered the art of creating vibes that once felt is long
                cherished, growing your business in leaps and bounds!
            </div>
        </div>
        <div class="col-12 col-md-4 col-xxl-4 offset-xxl-1">
            <div class="how-it-works-img">
                <img src="../../assets/images/howItWork_img.svg" alt="">
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div
        class="col-12 col-md-12 col-xxl-12 d-flex flex-column justify-content-center align-items-center text_how_this_css">
        <div class="text_how_this_css_1">Here’s <span class="years_15_css">how this works</span> in just <span
                class="years_15_css">3 simple steps.</span></div>
        <div class="col-12 col-md-12 col-xxl-12 d-flex justify-content-center align-items-center flex-wrap">
            <div class="col-12 col-md-6 col-xxl-6 mt-5 d-flex flex-column justify-content-center align-items-center">
                <div>
                    <img src="../../assets/images/Just_drop.svg" alt="">
                </div>
                <div class="text_steps_css">Step 1</div>
                <div class="text_steps_css_under_text">Just drop on to our website and brief us the way you wish (There
                    are loads of options from voice to video and more)</div>
            </div>
            <div class="col-12 col-md-6 col-xxl-6 mt-5 d-flex flex-column justify-content-center align-items-center">
                <div>
                    <img src="../../assets/images/Schedule_a_meeting.svg" alt="">
                </div>
                <div class="text_steps_css">Step 2</div>
                <div class="text_steps_css_under_text">Schedule a meeting with us or allow us to call you at your
                    convenient time to discuss your project</div>
            </div>
            <div class="col-12 col-md-6 col-xxl-6 mt-5 d-flex flex-column justify-content-center align-items-center">
                <div>
                    <img src="../../assets/images/and_sign_up.svg" alt="">
                </div>
                <div class="text_steps_css">Step 3</div>
                <div class="text_steps_css_under_text">and sign up with your contact details. </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-6">
                <div class="text_steps_css">That’s all!</div>
                <div class="text_steps_css_under_text text-start w-100">At that moment, our advanced tech-infused
                    systems spring into action, crafting a bespoke dashboard for you. This becomes your command center,
                    where you can steer every aspect of your AV production, from the initial script to the final cut.
                    It's all there at your fingertips, streamlining the entire process with detailed oversight—no more
                    clutter of group chats or endless calls. Plus, we provide a dedicated account manager to ensure
                    everything runs smoothly, done for you as committed, making the complex turn effortless.
                </div>
                <div class="text_steps_css_under_text  text-start w-100">Collaborating with AVX Mediaworkz you will grow
                    and Xpand Differently.</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="col-12 col-md-12 col-xxl-12 d-flex flex-nowrap justify-content-center align-items-center">
        <div class="menu_options_css">
            <div [class.active]="activeMenuItem === 'Brief Us'" class="option_css_meni">Brief Us</div>
            <div [class.active]="activeMenuItem === 'Schedule Meeting'" class="option_css_meni">Schedule Meeting</div>
            <div [class.active]="activeMenuItem === 'Create Account'" class="option_css_meni">Create Account</div>
        </div>

    </div>
    <div *ngIf="currentStep === 1" class="col-12 col-md-12 col-xxl-12 d-flex flex-column justify-content-center align-items-center mt-4">
        <div class="signUp_css">
            <p class="create_account_css">Brief Us</p>
            <p class="create_account_under_text_css">SFill the details below to understand us better about
                your project</p>
            <form #saveCientRequirementForm="ngForm" (ngSubmit)="saveCientRequirement(userData)">
                <div
                    class="col-12 col-md-12 col-xxl-12 d-flex flex-wrap  justify-content-center align-items-center">

                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>AV Type :</label>
                            <input type="text" placeholder="Motivational, Corporate, Launch,..."
                                [(ngModel)]="userData.av_type" name="av_type" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>City / Place :</label>
                            <input type="text" placeholder="Enter City Name / Place"
                                [(ngModel)]="userData.city" name="city">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Email Id :</label>
                            <input type="email" placeholder="email id" [(ngModel)]="userData.email"
                                name="email" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Phone No. :</label>
                            <input type="tel" placeholder="phone no." [(ngModel)]="userData.mobile_number"
                                name="mobile_number">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Script Deadline :</label>
                            <input type="date" [(ngModel)]="userData.deadline" name="deadline">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Event Date :</label>
                            <input type="date" [(ngModel)]="userData.event_date" name="event_date">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Give Us More Details :</label>
                            <input type="text" placeholder="Required Details, Launch, etc."
                                [(ngModel)]="userData.desc" name="desc">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Speak to Our Expert :</label>
                            <div
                                class="col-12 col-md-12 d-flex flex-wrap justify-content-start align-items-center m-2">
                                <div class="col-12 col-md-6 d-flex gap-2">
                                    <a href="tel:9024588535">
                                        <div class="call_in_brief_css"><button type="button">

                                                <img src="../../assets/images/icon_for_b_c.svg" class="p-1"
                                                    alt="">

                                                Call

                                            </button></div>
                                    </a>

                                    <div class="whatsapp_in_brief_css"><button
                                            (click)="openWhatsApp('9024588535', 'Hello')" type="button">
                                            <img src="../../assets/images/icon_for_b_w.svg" class="p-1"
                                                alt="">Whatsapp</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Attach Creative Brief :</label>
                            <input type="file" [(ngModel)]="userData.creative_attach"
                                name="creative_attach">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Record Your Brief : </label>
                            <div
                                class="col-12 col-md-12 d-flex flex-wrap justify-content-start align-items-center m-2">
                                <div class="col-12 col-md-6 d-flex  gap-2">
                                    <div class="audio_brief_in_brief_css">
                                        <button type="button" (click)="audioFileInput.click()">
                                            <img src="../../assets/images/Audio_Brief.svg" class="p-1"
                                                alt=""> Audio Brief
                                        </button>
                                        <input type="file" #audioFileInput style="display: none"
                                            (change)="handleAudioFile($event)">
                                    </div>



                                    <!-- <div class="video_brief_in_brief_css"><button type="button"> <img
                                                src="../../assets/images/Video_Brief.svg" class="p-1"
                                                alt="">Video Brief</button></div> -->


                                                <div class="video_brief_in_brief_css">
                                                    <button type="button" (click)="videoFileInput.click()">
                                                        <img src="../../assets/images/Video_Brief.svg" class="p-1"
                                                            alt=""> Video Brief
                                                    </button>
                                                    <input type="file" #videoFileInput style="display: none"
                                                        (change)="handleVideoFile($event)">
                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Select Budget Range :</label>
                            <div class="d-flex justify-content-center align-items-center">
                                <input class="Select_Budget_Range" type="range"
                                    [(ngModel)]="userData.budget" name="budget" min="0" max="10000000">
                                    {{userData.budget}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-6 d-flex justify-content-start align-items-center">
                        <div class="regis_data_css w-100">
                            <input type="checkbox" [(ngModel)]="userData.budget_in_mind"
                                name="budget_in_mind">
                            <p>I don’t have any budget in my mind yet.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-12">
                        <div class="reg_data_css">
                            <label>Any Reference You Would Like to Attach : </label>
                            <div class="col-12 col-md-12 d-flex flex-wrap">
                                <div class="col-12 col-md-5">
                                    <input type="file" [(ngModel)]="userData.more_attach"
                                        name="more_attach">
                                </div>
                                <div
                                    class="col-12 col-md-2 d-flex justify-content-center align-items-center">
                                    OR
                                </div>
                                <div class="col-12 col-md-5">
                                    <input type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-12 col-md-12 col-xxl-6 d-flex flex-column justify-content-center align-items-center mt-3">
                        <div class="signIn_button_css_Brief">
                            <button [disabled]="saveCientRequirementForm.invalid">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div  *ngIf="currentStep === 2" class="col-12 col-md-12 col-xxl-12 d-flex flex-column justify-content-center align-items-center  mt-4">
        <div class="signUp_css">
            <p class="create_account_css">Schedule meeting</p>
            <p class="create_account_under_text_css">Book meeting & allow us to call you ( what time would
                suit you? )</p>
            <form #bookTimeForMeetingForm="ngForm" (ngSubmit)="bookTimeForMeeting(bookMeeting)">
                <div
                    class="col-12 col-md-12 col-xxl-12 d-flex flex-wrap  justify-content-center align-items-center">

                    <div class="col-12 col-md-12 col-xxl-12">
                        <div class="schedule_div_css">
                            <input type="checkbox" [(ngModel)]="bookMeeting.call_allow" name="call_allow">
                            <label>Allow Us to call You.</label>
                        </div>
                        <div class="schedule_div_css_under_text">
                            <label>Select <b>Date and Time</b> as per your convenience</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-xxl-12 mt-5 d-flex flex-wrap">
                        <div class="col-12 col-md-12 col-xxl-6 d-flex flex-wrap"
                            style="border-right: 4px solid #BABABA;">
                            <div
                                class="col-4 col-md-4 col-xxl-4 d-flex flex-wrap justify-content-center align-items-center">
                                <div class="d-flex flex-wrap justify-content-center align-items-center">
                                    <img src="../../assets/images/Calendar_img.svg" alt="">
                                </div>
                            </div>
                            <div class="col-8 col-md-8 col-xxl-8 d-flex flex-column">
                                <div
                                    class="col-12 col-md-12 d-flex flex-wrap justify-content-center align-items-center">
                                    <div class="select_css_date">
                                        <select [(ngModel)]="bookMeetings.day" name="day">
                                            <option disabled selected>Select</option>
                                            <option *ngFor="let day of days" [value]="day">{{ day }}
                                            </option>
                                        </select>

                                    </div>
                                    <div class="select_css_date">
                                        <select [(ngModel)]="bookMeetings.month" name="month">
                                            <option disabled selected>Select</option>
                                            <option *ngFor="let month of months" [value]="month">{{ month }}
                                            </option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div
                                        class="col-12 col-md-12 d-flex flex-wrap justify-content-center align-items-center">
                                        <div
                                            class="mt-3 d-flex flex-nowrap justify-content-center align-items-center">
                                            <i class="fas fa-caret-left fs-3" (click)="decreaseYear()"></i>
                                            <input type="text" [(ngModel)]="currentYear" name="currentYear"
                                                class="currentYear_css" inputmode="numeric">
                                            <i class="fas fa-caret-right fs-3" (click)="increaseYear()"></i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- <hr style="width: 2px;"> -->
                            <!-- <div class="col-11 col-md-11"
                                style="height: 3.5px; background-color: #ccc; margin-top: 20px; margin-bottom: 20px;">
                            </div> -->
                           
                        </div>
                        <div
                            class="col-12 col-md-12 col-xxl-6 d-flex flex-wrap">
                          
                          
                            <div
                            class="col-4 col-md-4 col-xxl-4 d-flex flex-wrap justify-content-center align-items-center">
                            <div class="d-flex flex-wrap justify-content-center align-items-center">
                                <img src="../../assets/images/Time_img.svg" alt="">
                            </div>
                        </div>
                        <div class="col-8 col-md-8 col-xxl-8">
                            <div
                                class="col-12 col-md-12 d-flex flex-wrap justify-content-center align-items-center">
                                <div class="input_css_hour_minutes">
                                    <input type="tel" placeholder="HH" [(ngModel)]="bookMeetings.hour" name="hour">

                                </div>
                                <div class="d-flex justify-content-center align-items-center fs-5">
                                    <b>:</b>
                                </div>
                                <div class="input_css_hour_minutes">
                                    <input type="tel" placeholder="MM" [(ngModel)]="bookMeetings.minute" name="minute">

                                </div>
                            </div>
                            <div
                                class="col-12 col-md-12 d-flex flex-wrap justify-content-center align-items-center">
                                <!-- app.component.html -->
                                <div class="class_bg_csss">
                                    <div class="bg_css_1" [class.bg_css_bg]="selectedTime === 'AM'"
                                        (click)="selectTime('AM')">
                                        <label for="AM">AM</label>
                                        <input class="d-none" type="radio" name="time" id="AM"
                                            value="AM" [(ngModel)]="selectedTime">
                                    </div>
                                    <div class="bg_css_1" [class.bg_css_bg]="selectedTime === 'PM'"
                                        (click)="selectTime('PM')">
                                        <label for="PM">PM</label>
                                        <input class="d-none" type="radio" name="time" id="PM"
                                            value="PM" [(ngModel)]="selectedTime">
                                    </div>
                                </div>

                            </div>

                        </div>  <!-- <div
                                class="col-12 col-md-11 col-xxl-11 offset-md-1 offset-xxl-1 d-flex flex-wrap gap-2">
                                <div class="text_css_day_css">Today</div>
                                <div class="text_css_day_css">Tomorrow</div>
                                <div class="text_css_day_css">Overmorrow</div>
                            </div>
                            <div class="col-11 col-md-11 offset-md-1 offset-1"
                                style="height: 3px; background-color: #ccc; margin-top: 20px; margin-bottom: 20px;">
                            </div>
                            <div
                                class="col-12 col-md-11 col-xxl-11 offset-md-1 offset-xxl-1 d-flex flex-wrap gap-2">
                                <div class="text_css_day_css">Morning</div>
                                <div class="text_css_day_css">After Noon</div>
                                <div class="text_css_day_css">Evening</div>
                                <div class="text_css_day_css">10:30 AM</div>
                                <div class="text_css_day_css">12:00 AM</div>
                                <div class="text_css_day_css">08:00 PM</div>
                            </div> -->
                        </div>
                    </div>
                    <div
                        class="col-12 col-md-12 col-xxl-6 d-flex flex-column justify-content-center align-items-center mt-3">
                        <div class="signIn_button_css_text_css">
                            <button>Book Meeting Now</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div  *ngIf="currentStep === 3" class="col-12 col-md-12 col-xxl-12 d-flex flex-column justify-content-center align-items-center mt-4">
        <div class="signUp_css">
            <p class="create_account_css">Create Account</p>
            <p class="create_account_under_text_css">Sign Up here if you are not already
                registered.</p>
            <form #registerForm="ngForm" (ngSubmit)="signUp(register)">
                <div
                    class="col-12 col-md-12 col-xxl-12 d-flex flex-wrap  justify-content-center align-items-center">

                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Your Name :</label>
                            <input type="text" placeholder="Enter username here" [(ngModel)]="register.name"
                                name="name" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>City / Place :</label>
                            <input type="text" placeholder="Enter City Name / Place"
                                [(ngModel)]="register.city" name="city">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Work Email ID: <span *ngIf="emailMismatch" class="text-danger"
                                    title="Please enter a valid email address.">*</span></label>
                            <input type="email" [ngClass]="{'border-danger': emailMismatch}"
                                placeholder="Enter work email id" [(ngModel)]="register.email" name="email"
                                required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                (keyup)="onEmailChange()">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Create Password :</label>
                            <input type="text" placeholder="Create Password" (keyup)="onPasswordChange()"
                                [(ngModel)]="register.password" name="password" required>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Mobile No. :</label>
                            <input type="text" placeholder="Enter Mobile No."
                                [(ngModel)]="register.mobile_number" name="mobile_number" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Confirm Password : <span *ngIf="passwordMismatch" class="text-danger"
                                    title="Passwords do not match.">*</span></label>
                            <input type="text" [ngClass]="{'border-danger': passwordMismatch}"
                                placeholder="Re-enter Password" (keyup)="onPasswordChange()"
                                [(ngModel)]="confirmPassword" name="confirmPassword" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xxl-6">
                        <div class="reg_data_css">
                            <label>Country Code:</label>
                            <input type="text" placeholder="Enter Country"
                                [(ngModel)]="register.country_code" name="country_code">
                        </div>
                    </div>
                    <div
                        class="col-12 col-md-6 col-xxl-6 d-flex justify-content-center align-items-center">
                        <div class="regis_data_css">
                            <input type="checkbox" name="agreeTerms" required>
                            <p>By clicking here you are agreed to the <span class="terms_conditions">Terms
                                    and Conditions </span> or <span class="privacy_policies">Privacy
                                    Policies.</span></p>
                        </div>
                    </div>
                    <div
                        class="col-12 col-md-12 col-xxl-6 d-flex flex-column justify-content-center align-items-center mt-3">
                        <div class="signIn_button_css">
                            <button
                                [disabled]="registerForm.invalid || passwordMismatch  || emailMismatch">SIGN
                                UP</button>
                        </div>
                        <div class="not_reg_css">
                            <p>Already Registered? <span routerLink="/log-in">Login</span></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>


<!-- <li class="nav-item navItem"><a (click)="scrollToSection('signUpGet')" class="nav-link"
    aria-current="page">Sign Up & Get</a></li>
    id="signUpGet" -->