<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="img d-none d-md-block">
        <img decoding="async" src="/assets/image/update.webp">
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <form id="registration-form" class="form mt-5" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstname">First Name <span style="color: red;">*</span></label>
            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter your first name"
              [(ngModel)]="user.firstname" #firstnameInput="ngModel">
            <div *ngIf="firstnameInput.invalid && (firstnameInput.dirty || firstnameInput.touched)" class="text-danger">
              First Name is required.
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastname">Last Name <span style="color: red;">*</span></label>
            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter your last name"
              [(ngModel)]="user.lastname" #lastnameInput="ngModel">
            <div *ngIf="lastnameInput.invalid && (lastnameInput.dirty || lastnameInput.touched)" class="text-danger">
              Last Name is required.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="emailid">Email <span style="color: red;">*</span></label>
            <input type="email" class="form-control" name="emailid" id="emailid" placeholder="Enter your email" 
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="user.emailid" 
              #emailidInput="ngModel" (keyup)="validateEmail()">
              <div *ngIf="emailError" class="text-danger">{{ emailErrorMessage }}</div>
            <div *ngIf="emailidInput.invalid && (emailidInput.dirty || emailidInput.touched)" class="text-danger">
             Please enter valid Email id.
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group">
            <label for="phonenumber">Contact <span style="color: red;">*</span></label>
            <input type="tel" class="form-control" name="phonenumber" id="phonenumber"
              placeholder="Enter your phone number" maxlength="10" minlength="10"  pattern="[0-9]{10}"
              [(ngModel)]="user.phonenumber" #phonenumberInput="ngModel">
            <div *ngIf="phonenumberInput.invalid && (phonenumberInput.dirty || phonenumberInput.touched)"
              class="text-danger">
              Contact number is required.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="teamlead">Team Lead</label>
            <select class="form-control" name="teamlead" id="teamlead" [(ngModel)]="user.teamlead"
              (ngModelChange)="teamLead()" >
              <option value="">--Select--</option>
              <option *ngFor="let teamlead of teamlead" [value]="teamlead">{{ teamlead }} </option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="dateofjoining">Date Of Joining <span style="color: red;">*</span></label>
            <input type="date" class="form-control" id="dateofjoining" name="dateofjoining" 
              placeholder="Enter your Date Of Joining" [(ngModel)]="user.dateofjoining" 
              max="{{ getMaxDate() }}" #dateofjoiningInput="ngModel">
            <div *ngIf="dateofjoiningInput.invalid && (dateofjoiningInput.dirty || dateofjoiningInput.touched)" class="text-danger">
              Date of Joining is required.
            </div>
          </div>
        </div>

        <div class="col-md-6" (ngSubmit)="designations()">
          <div class="form-group" >
            <label for="designation">Designation</label>
            <input type="text" class="form-control" name="designation" id="designation" placeholder="Designation"  
                    [matAutocomplete]="auto" [(ngModel)]="user.designation">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let designation of designation" [value]="designation">
                {{ designation }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
       
        <div class="col-md-6">
          <div class="form-group">
            <label for="dob">Date of Birth <span style="color: red;">*</span></label>
            <input type="date" class="form-control" name="dob" id="dob" placeholder="Enter your date of birth" 
              [(ngModel)]="user.dob" (change)="validateDateOfBirth()">
            <div *ngIf="dobError" class="text-danger">You must be at least 18 years old.</div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" name="role" id="role" [(ngModel)]="user.role"
              (ngModelChange)="ngOnInit()" >
              <option value="">--Select--</option>
              <option *ngFor="let role of role" [value]="role">{{ role }} </option>
            </select>
          </div>
        </div>


      

        <div class="col-md-6" (ngSubmit)="department()">
          <div class="form-group">
            <label for="department">Department</label>
            <input type="text" class="form-control" name="department" id="department" placeholder="Department" 
            [matAutocomplete]="auto1" [(ngModel)]="user.department">
            <mat-autocomplete #auto1="matAutocomplete">
              <mat-option *ngFor="let department of departments" [value]="department">
                {{ department }}
              </mat-option>
            </mat-autocomplete>
          </div>

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="totalleaves">Leaves</label>
            <input #totalleavesInput type="text" class="form-control" name="totalleaves" id="totalleaves" placeholder="Leaves" 
              [(ngModel)]="user.totalleaves">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="totalwfh">Work From Home</label>
            <input #totalwfhInput type="text" class="form-control" name="totalwfh" id="totalwfh" placeholder="WFH" 
              [(ngModel)]="user.totalwfh">
          </div>
        </div>
      </div>

      
      <div class="form-group">
        <button type="submit" color="primary"
        class="btn btn-primary btn-sm col-md-12" >Register</button>
       
      </div>
    </form>
  </div>
</div> -->
<div class="col-md-4">
  <div class="form-group">
    <label for="photo" class="form-label">Upload Photo: </label>
    <input class="form-control" type="file" id="photo" name="photo"
      accept=".png" (change)="DocUpload($event, 'photo')"  placeholder="Your Placeholder Text"
      style="color: #ada4a4;" [(ngModel)]="testing.photo">
    <p class="mt-3"> <span *ngIf="errorMessages['photo']" class="error-message" style="color: red;">
      {{ errorMessages['photo'] }}</span></p>
  </div>
</div>

<div class="col-md-4">
  <div class="form-group">
    <label for="apprisalLetter" class="form-label">appraisal Letter:</label>
    <input class="form-control" type="file" id="apprisalLetter" name="apprisalLetter"
      accept=".pdf, .doc, .docx" (change)="DocUpload($event, 'apprisalLetter')" placeholder="Your Placeholder Text"
      style="color: #ada4a4;" [(ngModel)]="testing.apprisalLetter">
    <p class="mt-3">
      <span *ngIf="errorMessages['apprisalLetter']" class="error-message" style="color: red;">
        {{ errorMessages['apprisalLetter'] }}
      </span>
    </p>
  </div>
</div>

<button type="submit" color="primary"
        class="btn btn-primary m-1" (click)="Upload()">Upload</button>


        <button type="submit" color="primary"
        class="btn btn-primary m-1" (click)="download()">Download</button>



<!-- test -->
<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup"  errorMessage="Information is required.">
    <h1 class="text-center p-2" style="background-color: rgb(77 140 207); color: white;">Registration Form</h1>
    <form id="registration-form" class="form mt-5">
      <ng-template matStepLabel>Personal Information</ng-template>

      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="form-group">
            <label for="firstname">First Name <span style="color: red;">*</span></label>
            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter first name"
              [(ngModel)]="user.firstname" #firstnameInput="ngModel" required>
            <div *ngIf="firstnameInput.invalid && (firstnameInput.dirty || firstnameInput.touched)" class="text-danger">
              First Name is required.
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="lastname">Last Name <span style="color: red;">*</span></label>
            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter last name"
              [(ngModel)]="user.lastname" #lastnameInput="ngModel" required>
            <div *ngIf="lastnameInput.invalid && (lastnameInput.dirty || lastnameInput.touched)" class="text-danger">
              Last Name is required.
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="gender">Gender<span style="color: red;">*</span></label>
              <select class="form-control" id="gender" name="gender" [(ngModel)]="user.gender" #genderInput="ngModel" required>
                <option value="">--Select--</option>
                <option value="gender">Male</option>
                <option value="gender">Female</option>
              </select>
              <div *ngIf="genderInput.invalid && (genderInput.dirty || genderInput.touched)" class="text-danger">
                Gender is required.
              </div>
          </div>
        </div>

       
      </div>
      <div class="row justify-content-center">

        <div class="col-md-4">
          <div class="form-group">
            <label for="emailid">Email <span style="color: red;">*</span></label>
            <input type="email" class="form-control" name="emailid" id="emailid" placeholder="Enter email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="user.emailid" #emailidInput="ngModel"
              (keyup)="validateEmail()" required>
            <div *ngIf="emailError" class="text-danger">{{ emailErrorMessage }}</div>
            <div *ngIf="emailidInput.invalid && (emailidInput.dirty || emailidInput.touched)" class="text-danger">
              Please enter valid Email id.
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="phonenumber">Contact <span style="color: red;">*</span></label>
            <input type="tel" class="form-control" name="phonenumber" id="phonenumber"
              placeholder="Enter phone number" maxlength="10" minlength="10" pattern="[0-9]{10}"
              [(ngModel)]="user.phonenumber" #phonenumberInput="ngModel" required>
            <div *ngIf="phonenumberInput.invalid && (phonenumberInput.dirty || phonenumberInput.touched)"
              class="text-danger">
              Contact number is required.
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="address">Address<span style="color: red;">*</span></label>
            <input type="text" class="form-control" name="address" id="address" placeholder="Enter address"
              [(ngModel)]="user.address" #addressInput="ngModel" required>
            <div *ngIf="addressInput.invalid && (addressInput.dirty || addressInput.touched)" class="text-danger">
              Address is required.
            </div>
          </div>
        </div>

       

      </div>
      <div class="row justify-content-center">

        <div class="col-md-4">
          <div class="form-group">
            <label for="emergencyContact">Emergency contact <span style="color: red;">*</span></label>
            <input type="tel" class="form-control" name="emergencyContact" id="emergencyContact"
              placeholder="Enter emergency contact" maxlength="10" minlength="10" pattern="[0-9]{10}"
              [(ngModel)]="user.emergencyContact" #emergencyContactInput="ngModel" required>
            <div *ngIf="emergencyContactInput.invalid && (emergencyContactInput.dirty || emergencyContactInput.touched)"
              class="text-danger">
              Emergency Contact number is required.
            </div>
            <div *ngIf="user.phonenumber === user.emergencyContact && user.emergencyContact"
            class="text-danger">
            Contact and Emergency Contact number are the same.
          </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="dob">Date of birth <span style="color: red;">*</span></label>
            <input type="date" class="form-control" name="dob" id="dob" placeholder="Enter date of birth"
              [(ngModel)]="user.dob" (change)="validateDateOfBirth()" (input)="onDateInput($event)" #dobInput="ngModel" required>
            <div *ngIf="dobError" class="text-danger">You must be at least 18 years old.</div>
            <div *ngIf="dobInput.invalid && (dobInput.dirty || dobInput.touched)"
              class="text-danger">
              Date of birth is required.
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="dateofjoining">Date of joining <span style="color: red;">*</span></label>
            <input type="date" class="form-control" id="dateofjoining" name="dateofjoining"
              placeholder="Enter Date Of Joining" [(ngModel)]="user.dateofjoining" max="{{ getMaxDate() }}"
              #dateofjoiningInput="ngModel" required>
            <div *ngIf="dateofjoiningInput.invalid && (dateofjoiningInput.dirty || dateofjoiningInput.touched)"
              class="text-danger">
              Date of Joining is required.
            </div>
          </div>
        </div>


       



      </div>

      <div class="row justify-content-center">
        <!-- <div class="col-md-10">
          <label for="probation" class="probation">Duration of probation:</label>
        </div> -->
        <!-- <div class="col-md-3">
          <div class="form-group">
            <label for="totalDaysOfProbation" class="col-form-label">Duration of probation</label>
            <input type="number" class="form-control" name="totalDaysOfProbation" id="totalDaysOfProbation" min="1" [(ngModel)]="user.totalDaysOfProbation" placeholder="Total Days">
          </div>
        </div>
       

        <div class="col-md-3">
          <div class="form-group">
            <label for="startDateOfProbation" class="col-form-label">Probation Start date</label>
            <input type="date" class="form-control" name="startDateOfProbation" id="startDateOfProbation" [max]="currentDate" [(ngModel)]="user.startDateOfProbation">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="endDateOfProbation" class="col-form-label">Probation End date</label>
            <input type="date" class="form-control" name="endDateOfProbation" id="endDateOfProbation" [min]="user.startDateOfProbation" [(ngModel)]="user.endDateOfProbation">
          </div>
        </div> -->
       
          <div class="col-md-4">
            <div class="form-group">
              <label for="totalDaysOfProbation" class="col-form-label">Duration of probation</label>
              <input type="number" class="form-control" name="totalDaysOfProbation" id="totalDaysOfProbation" min="1" [(ngModel)]="user.totalDaysOfProbation" (ngModelChange)="updateEndDate()" placeholder="Total Days">
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label for="startDateOfProbation" class="col-form-label">Probation start date</label>
              <input type="date" class="form-control" name="startDateOfProbation" id="startDateOfProbation" [max]="currentDate" [(ngModel)]="user.startDateOfProbation" (ngModelChange)="updateEndDate()">
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label for="endDateOfProbation" class="col-form-label">Probation end date</label>
              <input type="date" class="form-control" name="endDateOfProbation" id="endDateOfProbation" [min]="user.startDateOfProbation" [(ngModel)]="user.endDateOfProbation" readonly>
            </div>
          </div>
      
        

        

      </div>

      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="form-group">
            <label for="modeOfWorking">Mode of working</label>
            <select class="form-control" id="modeOfWorking" name="modeOfWorking" [(ngModel)]="user.modeOfWorking">
              <option value="">--Select--</option>
              <option value="office">Office</option>
              <option value="remote">Remote</option>
              <option value="wfh">WFH</option>

            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="shifttiming">Shift timing start</label>
            <input type="time" class="form-control" name="shifttimingstart" id="shifttimingstart" [(ngModel)]="user.shifttimingstart">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="shifttiming">Shift timing end</label>
            <input type="time" class="form-control" name="shifttimingend" id="shifttimingend" [(ngModel)]="user.shifttimingend">
          </div>
        </div>

      </div>


      <div class="row justify-content-center">
        <div class="col-md-4" (ngSubmit)="designations()">
          <div class="form-group">
            <label for="designation">Designation</label>
            <input type="text" class="form-control" name="designation" id="designation" placeholder="Designation"
              [matAutocomplete]="auto" [(ngModel)]="user.designation">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let designation of designation" [value]="designation">
                {{ designation }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="teamlead">Team lead</label>
            <select class="form-control" name="teamlead" id="teamlead" [(ngModel)]="user.teamlead"
              (ngModelChange)="teamLead()">
              <option value="">--Select--</option>
              <option *ngFor="let teamlead of teamlead" [value]="teamlead">{{ teamlead }} </option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="role">Role<span style="color: red;">*</span></label>
            <select class="form-control" name="role" id="role" [(ngModel)]="user.role" (ngModelChange)="ngOnInit()" #roleInput="ngModel" required>
              <option value="">--Select--</option>
              <option *ngFor="let role of role" [value]="role">{{ role }} </option>
            </select>
            <div *ngIf="roleInput.invalid && (roleInput.dirty || roleInput.touched)"
            class="text-danger">
            Role is required.
          </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">

        <div class="col-md-4" (ngSubmit)="department()">
          <div class="form-group">
            <label for="department">Department</label>
            <input type="text" class="form-control" name="department" id="department" placeholder="Department"
              [matAutocomplete]="auto1" [(ngModel)]="user.department">
            <mat-autocomplete #auto1="matAutocomplete">
              <mat-option *ngFor="let department of departments" [value]="department">
                {{ department }}
              </mat-option>
            </mat-autocomplete>
          </div>

        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="totalleaves">Leaves</label>
            <input #totalleavesInput type="text" class="form-control" name="totalleaves" id="totalleaves"
              placeholder="Leaves" [(ngModel)]="user.totalleaves">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="totalwfh">Work from home</label>
            <input #totalwfhInput type="text" class="form-control" name="totalwfh" id="totalwfh" placeholder="WFH"
              [(ngModel)]="user.totalwfh">
          </div>
        </div>

        <!-- <h1 class="text-center">Assigning assets</h1> -->
      <div class="row justify-content-center">

        <div class="col-md-6">
          <div class="form-group">
            <label for="jobType">Job type</label>
            <select class="form-control" id="jobType" name="jobType" [(ngModel)]="user.jobType">
              <option value="">--Select--</option>
              <option value="fulltime">Full-Time</option>
              <option value="parttime">Part-Time</option>
              <option value="trainee">Trainee</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
           <mat-form-field class="form-control custom-mat-field">
                        <mat-label>Assets</mat-label>
                        <mat-select name="assetName" id="assetName" class="custom-select-class" multiple [(ngModel)]="user.assetName">
                          <mat-option value="no">No Assets</mat-option>
                          <mat-option value="Laptop">Laptop</mat-option>
                          <mat-option value="LaptopCharger">Laptop Charger</mat-option>
                          <mat-option value="mouse">Mouse</mat-option>
                          <mat-option value="keyboard">Keyboard</mat-option>
                          <mat-option value="phone">Phone</mat-option>
                          <mat-option value="phoneCharger">Phone Charger</mat-option>
                          <mat-option value="headPhone">Head Phone</mat-option>
                        </mat-select>
                      </mat-form-field>
          </div>
        </div>

       
        </div>

      </div>


      <div class="row justify-content-center">

        <!-- <button mat-button matStepperNext>Next</button> -->
        <!-- <div class="col-md-9 d-flex justify-content-end">
          <button class="btn btn-primary" mat-button matStepperNext>Next</button>
        </div> -->
        <div class="col-md-9 d-flex justify-content-end">
          <button class="btn btn-primary" mat-button (click)="validateFields()">Next</button>
        </div>
        
        
        
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup"  errorMessage="Bank details is required.">
    <h1 class="text-center p-2" style="background-color: rgb(77 140 207); color: white;">Bank Details</h1>
    <form id="registration-form" class="form mt-5">
      <ng-template matStepLabel>Bank Details</ng-template>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <div class="form-group">
            <label for="accountNumber" class="col-form-label">Account Number</label>
            <input type="text" class="form-control" name="accountNumber" id="accountNumber"
            [(ngModel)]="user.accountNumber" placeholder="Ex:611920944449">
          </div>
        </div>

        <!-- <div class="col-md-3">
          <div class="form-group">
            <label for="ifsccode" class="col-form-label">IFSC code :</label>
            <input type="text" class="form-control" name="ifsccode" id="ifsccode" [(ngModel)]="user.ifsccode">
          </div>
        </div> -->

        <div class="col-md-3">
          <div class="form-group">
            <label for="ifsccode" class="col-form-label">IFSC code</label>
            <input type="text" class="form-control" name="ifsccode" id="ifsccode" [(ngModel)]="user.ifsccode" (input)="validateIFSC()" placeholder="Ex:BARB0NASIRA">
            <div *ngIf="invalidIFSC" class="text-danger">
              Invalid IFSC code format.
            </div>
          </div>
        </div>
        

        <div class="col-md-3">
          <div class="form-group">
            <label for="holderName" class="col-form-label">Bank holder name </label>
            <input type="text" class="form-control" name="holderName" id="holderName" [(ngModel)]="user.holderName" placeholder="Name">
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-3">
          <div class="form-group">
            <label for="bankName" class="col-form-label">Bank Name </label>
            <input type="text" class="form-control" name="bankName" id="bankName" [(ngModel)]="user.bankName" placeholder="Bank Name">

          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="esicno" class="col-form-label">ESIC no.</label>
            <input type="text" class="form-control" name="esicno" id="esicno" [(ngModel)]="user.esicno" placeholder="Ex:1234567890">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="pfno" class="col-form-label">P.F. No</label>
            <input type="text" class="form-control" name="pfno" id="pfno" [(ngModel)]="user.pfno" placeholder="Ex:123456789012">
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-9 d-flex justify-content-end">

          <button class="btn btn-primary m-1" mat-button matStepperPrevious>Back</button>
         
          <button type="submit"
          mat-raised-button
          color="primary"
          class="btn btn-primary m-1"
          [disabled]="isLoading"
          (click)="onSubmit()">
    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Register
  </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" errorMessage="Documents is required.">
    <h1 class="text-center p-2" style="background-color: rgb(77 140 207); color: white;">Academic Documents</h1>
    <form id="registration-form" class="form mt-5">
      <ng-template matStepLabel>Documents</ng-template>

      <div class="row justify-content-center">

        <!-- <div class="col-md-4">
          <div class="form-group">
            <div class="profile-header-img mb-2">
              <img class="rounded img-fluid square-image" [src]="imageUrl || defaultImageURL" alt="" />
              <div class="upload-overlay">
                <label class="add-to-cart" for="fileInput">
                  <i class="fas fa-camera"></i> Upload Image
                </label>
                <input type="file" id="fileInput" accept=".jpg, .jpeg, .png" style="display: none" 
                (change)="DocumentUpload($event, 'userImage')">
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="userImage" class="form-label">Upload Photo: <span style="color: rgb(228, 109, 109);">PNG/20kb to 5mb</span></label>
            <input class="form-control" type="file" id="userImage" name="userImage"
              accept=".png" (change)="DocumentUpload($event, 'userImage')"  placeholder="Your Placeholder Text"
              style="color: #ada4a4;" [(ngModel)]="user.userImage">
            <p class="mt-3"> <span *ngIf="errorMessages['userImage']" class="error-message" style="color: red;">
              {{ errorMessages['userImage'] }}</span></p>
          </div>
        </div>

        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="academicDocument1" class="form-label">10 th marksheet:</label>
            <input class="form-control" type="file" id="academicDocument1" name="academicDocument1"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'academicDocument1')"  placeholder="Your Placeholder Text"
              style="color: #ada4a4;" [(ngModel)]="user.academicDocument1">
            <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage
                }}</span></p>
          </div>
        </div> -->

        <div class="col-md-4">
          <div class="form-group">
            <label for="academicDocument1" class="form-label">10th marksheet: <span style="color: rgb(228, 109, 109);">PDF/20kb to 5mb</span></label>
            <input class="form-control" type="file" id="academicDocument1" name="academicDocument1"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'academicDocument1')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;">
            <p class="mt-3">
              <span *ngIf="errorMessages['academicDocument1']" class="error-message" style="color: red;">
                {{ errorMessages['academicDocument1'] }}
              </span>
            </p>
          </div>
        </div>
        

        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="academicDocument2" class="form-label">12 th marksheet:</label>
            <input class="form-control" type="file" id="academicDocument2" name="academicDocument2"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'academicDocument2')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;" [(ngModel)]="user.academicDocument2">
            <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage
                }}</span></p>
          </div>
        </div> -->

        <div class="col-md-4">
          <div class="form-group">
            <label for="academicDocument2" class="form-label">12th marksheet:</label>
            <input class="form-control" type="file" id="academicDocument2" name="academicDocument2"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'academicDocument2')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;">
            <p class="mt-3">
              <span *ngIf="errorMessages['academicDocument2']" class="error-message" style="color: red;">
                {{ errorMessages['academicDocument2'] }}
              </span>
            </p>
          </div>
        </div>
      </div>


      <div class="row justify-content-center">
        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="academicDocument3" class="form-label">Graduation marksheet:</label>
            <input class="form-control" type="file" id="academicDocument3" name="academicDocument3"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'academicDocument3')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;" [(ngModel)]="user.academicDocument3">
            <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage
                }}</span></p>
          </div>
        </div> -->

        <div class="col-md-4">
          <div class="form-group">
            <label for="academicDocument3" class="form-label">Graduation marksheet:</label>
            <input class="form-control" type="file" id="academicDocument3" name="academicDocument3"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'academicDocument3')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;">
            <p class="mt-3">
              <span *ngIf="errorMessages['academicDocument3']" class="error-message" style="color: red;">
                {{ errorMessages['academicDocument3'] }}
              </span>
            </p>
          </div>
        </div>

        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="academicDocument4" class="form-label">Higher education marksheet:</label>
            <input class="form-control" type="file" id="academicDocument4" name="academicDocument4"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'academicDocument4')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;" [(ngModel)]="user.academicDocument4">
            <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage
                }}</span></p>

          </div>
        </div> -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="academicDocument4" class="form-label">Higher education marksheet:</label>
            <input class="form-control" type="file" id="academicDocument4" name="academicDocument4"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'academicDocument4')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;">
            <p class="mt-3">
              <span *ngIf="errorMessages['academicDocument4']" class="error-message" style="color: red;">
                {{ errorMessages['academicDocument4'] }}
              </span>
            </p>
          </div>
        </div>

        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="signature" class="form-label">Signature:</label>
            <input class="form-control" type="file" id="signature" name="signature"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'signature')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;" [(ngModel)]="user.signature">
            <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage
                }}</span></p>

          </div>
        </div> -->

        <div class="col-md-4">
          <div class="form-group">
            <label for="signature" class="form-label">Signature:</label>
            <input class="form-control" type="file" id="signature" name="signature"
              accept=".png" (change)="DocumentUpload($event, 'signature')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;">
            <p class="mt-3">
              <span *ngIf="errorMessages['signature']" class="error-message" style="color: red;">
                {{ errorMessages['signature'] }}
              </span>
            </p>
          </div>
        </div>


      </div>

      <h1 class="text-center">Identity documents</h1>
      <div class="row justify-content-center">
        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="aadharCard" class="form-label">Adhar card:</label>
                    <input class="form-control" type="file" id="aadharCard" name="aadharCard" accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'aadharCard')" placeholder="Your Placeholder Text" style="color: #ada4a4;" [(ngModel)]="user.identityDocument1">
                    <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage }}</span></p> 

          </div>
        </div> -->

        <div class="col-md-4">
          <div class="form-group">
            <label for="aadharCard" class="form-label">Adhar card:</label>
            <input class="form-control" type="file" id="aadharCard" name="aadharCard"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'aadharCard')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;">
            <p class="mt-3">
              <span *ngIf="errorMessages['aadharCard']" class="error-message" style="color: red;">
                {{ errorMessages['aadharCard'] }}
              </span>
            </p>
          </div>
        </div>

        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="panCard" class="form-label">Pan card:</label>
            <input class="form-control" type="file" id="panCard" name="panCard" accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'panCard')" placeholder="Your Placeholder Text" style="color: #ada4a4;" [(ngModel)]="user.identityDocument2">
            <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage }}</span></p> 

          </div>
        </div> -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="panCard" class="form-label">Pan card:</label>
            <input class="form-control" type="file" id="panCard" name="panCard"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'panCard')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;">
            <p class="mt-3">
              <span *ngIf="errorMessages['panCard']" class="error-message" style="color: red;">
                {{ errorMessages['panCard'] }}
              </span>
            </p>
          </div>
        </div>

        </div>

        <div class="row justify-content-center">
          <div class="col-md-8 d-flex justify-content-end">
  
            <button class="btn btn-primary m-1" mat-button matStepperPrevious>Back</button>
            <button class="btn btn-primary m-1" mat-button matStepperNext>Next</button>
          </div>
        </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="forthFormGroup" errorMessage="Onboarding is required.">
    <h1 class="text-center p-2" style="background-color: rgb(77 140 207); color: white;">Employment History</h1>
    <form id="registration-form" class="form mt-5">
      <ng-template matStepLabel>Onboarding Managment</ng-template>

      <div class="row justify-content-center">
        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="offerLetter" class="form-label">Past organization offer letter</label>
            <input class="form-control" type="file" id="offerLetter" name="offerLetter"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'offerLetter')"  placeholder="Your Placeholder Text"
              style="color: #ada4a4;" [(ngModel)]="user.offerLetter">
            <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage
                }}</span></p>
          </div>
        </div> -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="offerLetter" class="form-label">Past organization offer letter:</label>
            <input class="form-control" type="file" id="offerLetter" name="offerLetter"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'offerLetter')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;">
            <p class="mt-3">
              <span *ngIf="errorMessages['offerLetter']" class="error-message" style="color: red;">
                {{ errorMessages['offerLetter'] }}
              </span>
            </p>
          </div>
        </div>

        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="resignationLetter" class="form-label">Resignation letter</label>
            <input class="form-control" type="file" id="resignationLetter" name="resignationLetter"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'resignationLetter')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;" [(ngModel)]="user.resignationLetter">
            <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage
                }}</span></p>
          </div>
        </div> -->

        <div class="col-md-4">
          <div class="form-group">
            <label for="RelievingLetter" class="form-label">Relieving letter:</label>
            <input class="form-control" type="file" id="RelievingLetter" name="RelievingLetter"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'RelievingLetter')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;">
            <p class="mt-3">
              <span *ngIf="errorMessages['RelievingLetter']" class="error-message" style="color: red;">
                {{ errorMessages['RelievingLetter'] }}
              </span>
            </p>
          </div>
        </div>
      

     
    </div>


      <div class="row justify-content-center">
        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="apprisalLetter" class="form-label">Apprisal letter (Optional)</label>
            <input class="form-control" type="file" id="apprisalLetter" name="apprisalLetter"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'apprisalLetter')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;" [(ngModel)]="user.apprisalLetter">
            <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage
                }}</span></p>
          </div>
        </div> -->

        <div class="col-md-4">
          <div class="form-group">
            <label for="ExperienceLetter" class="form-label">Experience letter:</label>
            <input class="form-control" type="file" id="ExperienceLetter" name="ExperienceLetter"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'ExperienceLetter')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;">
            <p class="mt-3">
              <span *ngIf="errorMessages['ExperienceLetter']" class="error-message" style="color: red;">
                {{ errorMessages['ExperienceLetter'] }}
              </span>
            </p>
          </div>
        </div>

        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="salarySlip1" class="form-label">Salary slip</label>
            <input class="form-control" type="file" id="salarySlip1" name="salarySlip1"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'salarySlip1')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;" [(ngModel)]="user.salarySlip1">
            <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage
                }}</span></p>
          </div>
        </div> -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="salarySlip1" class="form-label">Salary slip:</label>
            <input class="form-control" type="file" id="salarySlip1" name="salarySlip1"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'salarySlip1')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;">
            <p class="mt-3">
              <span *ngIf="errorMessages['salarySlip1']" class="error-message" style="color: red;">
                {{ errorMessages['salarySlip1'] }}
              </span>
            </p>
          </div>
        </div>
</div>
        <div class="row justify-content-center">
        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="salarySlip2" class="form-label">Salary slip</label>
            <input class="form-control" type="file" id="salarySlip2" name="salarySlip2"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'salarySlip2')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;" [(ngModel)]="user.salarySlip2">
            <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage
                }}</span></p>

          </div>
        </div> -->

        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="salarySlip2" class="form-label">Salary slip:</label>
            <input class="form-control" type="file" id="salarySlip2" name="salarySlip2"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'salarySlip2')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;">
            <p class="mt-3">
              <span *ngIf="errorMessages['salarySlip2']" class="error-message" style="color: red;">
                {{ errorMessages['salarySlip2'] }}
              </span>
            </p>
          </div>
        </div> -->

        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="salarySlip3" class="form-label">Salary slip</label>
            <input class="form-control" type="file" id="salarySlip3" name="salarySlip3"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'salarySlip3')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;" [(ngModel)]="user.salarySlip3">
            <p class="mt-3"> <span *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage
                }}</span></p>

          </div>
        </div> -->

        <!-- <div class="col-md-4">
          <div class="form-group">
            <label for="salarySlip3" class="form-label">Salary slip:</label>
            <input class="form-control" type="file" id="salarySlip3" name="salarySlip3"
              accept=".pdf, .doc, .docx" (change)="DocumentUpload($event, 'salarySlip3')" placeholder="Your Placeholder Text"
              style="color: #ada4a4;">
            <p class="mt-3">
              <span *ngIf="errorMessages['salarySlip3']" class="error-message" style="color: red;">
                {{ errorMessages['salarySlip3'] }}
              </span>
            </p>
          </div>
        </div> -->

      </div>

    
        <div class="row justify-content-center">
          <div class="col-md-8 d-flex justify-content-end">
  
            <button class="btn btn-primary m-1" mat-button matStepperPrevious>Back</button>
            <button type="submit" color="primary"
        class="btn btn-primary m-1" (click)="submitForm()">Upload</button>

          </div>
        </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="text-center mt-5">
      <h2 class="text-success">Congratulations!</h2>
      <p class="lead">You have successfully completed the registration process.</p>
      <!-- <p class="text-muted">Please Register your details</p> -->
    </div>
    <div class="text-center mt-4">
      <button class="btn btn-primary mx-2" mat-button matStepperPrevious>Back</button>
      <!-- <button class="btn btn-secondary mx-2" mat-button (click)="stepper.reset()">Reset</button> -->
      <!-- <button type="submit" color="primary"
        class="btn btn-primary" (click)="submitForm()">Upload</button> -->
    </div>
  </mat-step>
  
</mat-stepper>