<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="img d-none d-md-block">
        <img decoding="async" src="/assets/image/update.webp">
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <form id="registration-form" class="form mt-4" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstname">First Name <span style="color: red;">*</span></label>
            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter your first name"
              required [(ngModel)]="user.firstname" #firstnameInput="ngModel">
            <div *ngIf="firstnameInput.invalid && (firstnameInput.dirty || firstnameInput.touched)" class="text-danger">
              First Name is required.
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastname">Last Name <span style="color: red;">*</span></label>
            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter your last name"
              required [(ngModel)]="user.lastname" #lastnameInput="ngModel">
            <div *ngIf="lastnameInput.invalid && (lastnameInput.dirty || lastnameInput.touched)" class="text-danger">
              Last Name is required.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="emailid">Email <span style="color: red;">*</span></label>
            <input type="email" class="form-control" name="emailid" id="emailid" placeholder="Enter your email" required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="user.emailid" 
              #emailnameInput="ngModel" (keyup)="validateEmail()">
              <div *ngIf="emailError" class="text-danger">{{ emailErrorMessage }}</div>
            <div *ngIf="emailnameInput.invalid && (emailnameInput.dirty || emailnameInput.touched)" class="text-danger">
             Please enter valid Email id.
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group">
            <label for="phonenumber">Contact <span style="color: red;">*</span></label>
            <input type="tel" class="form-control" name="phonenumber" id="phonenumber"
              placeholder="Enter your phone number" maxlength="10" minlength="10" required pattern="[0-9]{10}"
              [(ngModel)]="user.phonenumber" #contactnameInput="ngModel">
            <div *ngIf="contactnameInput.invalid && (contactnameInput.dirty || contactnameInput.touched)"
              class="text-danger">
              Contact number is required.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="teamlead">Team Lead</label>
            <select class="form-control" name="teamlead" id="teamlead" [(ngModel)]="user.teamlead"
              (ngModelChange)="teamLead()">
              <option value="">--Select--</option>
              <option *ngFor="let teamlead of teamlead" [value]="teamlead">{{ teamlead }} </option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="dateofjoining">Date Of Joining <span style="color: red;">*</span></label>
            <input type="date" class="form-control" id="dateofjoining" name="dateofjoining" required
              placeholder="Enter your Date Of Joining" [(ngModel)]="user.dateofjoining" 
              max="{{ getMaxDate() }}" #dojnameInput="ngModel">
            <div *ngIf="dojnameInput.invalid && (dojnameInput.dirty || dojnameInput.touched)" class="text-danger">
              Date of Joining is required.
            </div>
          </div>
        </div>

        <div class="col-md-6" (ngSubmit)="designations()">
          <div class="form-group" >
            <label for="designation">Designation</label>
            <input #designationInput type="text" class="form-control" name="designation" id="designation" placeholder="Designation"  required
                   formControlName="designation" [matAutocomplete]="auto" [(ngModel)]="user.designation">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let designation of designation" [value]="designation">
                {{ designation }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        
        
        

        <div class="col-md-6">
          <div class="form-group">
            <label for="dob">Date of Birth <span style="color: red;">*</span></label>
            <input type="date" class="form-control" name="dob" id="dob" placeholder="Enter your date of birth" required
              [(ngModel)]="user.dob" (change)="validateDateOfBirth()">
            <div *ngIf="dobError" class="text-danger">You must be at least 18 years old.</div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" name="role" id="role" [(ngModel)]="user.role"
              (ngModelChange)="ngOnInit()">
              <option value="">--Select--</option>
              <option *ngFor="let role of role" [value]="role">{{ role }} </option>
            </select>
          </div>
        </div>


      

        <div class="col-md-6" (ngSubmit)="department()">
          <div class="form-group">
            <label for="department">Department</label>
            <input #departmentInput type="text" class="form-control" name="department" id="department" placeholder="Department" required
            formControlName="department" [matAutocomplete]="auto1" >
            <mat-autocomplete #auto1="matAutocomplete">
              <mat-option *ngFor="let department of departments" [value]="department">
                {{ department }}
              </mat-option>
            </mat-autocomplete>
          </div>

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="totalleaves">Leaves</label>
            <input type="text" class="form-control" name="totalleaves" id="totalleaves" placeholder="Leaves" required
              [(ngModel)]="user.totalleaves">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="totalwfh">Work From Home</label>
            <input type="text" class="form-control" name="totalwfh" id="totalwfh" placeholder="WFH" required
              [(ngModel)]="user.totalwfh">
          </div>
        </div>
      </div>

      
      <div class="form-group">
        <button type="submit" mat-raised-button color="primary"
        class="btn btn-primary btn-sm col-md-12" >Register</button>
        <!-- <button type="submit"
          mat-raised-button
          color="primary"
          class="btn btn-primary btn-sm col-md-12"
          [disabled]="isLoading"
          (click)="onSubmit()">
    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Register
  </button> -->
      </div>
    </form>
  </div>
</div>
