
<div class="d-flex flex-wrap justify-content-center align-items-center mt-5">
    <div class="searchBar">
        <div class="added_positions_list_right" *ngIf="currentFileSharingTablePage === 1">
            <div class="added_positions_under_head">Show</div>
            <div>
              <select class="added_positions_under_head_select" [(ngModel)]="FileSharingTablePageperPage">
                <option value="12">12</option>
                <option value="24">24</option>
                <option value="36">36</option>
                <option value="48">48</option>
                <option value="60">60</option>
              </select>
            </div>
            <div class="added_positions_under_head">Enteries</div>
          </div>
        <div class="creativeAssetSearch">
            <input type="text" id="searchBar" placeholder="Search" [(ngModel)]="searchFileSharingTable"
            (keyup)="FilterFileSharingTable()">  <img
                src="../../../assets/images/creativeAssetsSearchIcon.svg" alt="" class="creativeAssetsSearchIcon">
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center align-items-center mt-4" *ngIf="getPaginatedFileSharingTableData().length !== 0">
    <div class="d-flex justify-content-start align-items-start" style="width: 90%;">
        <div class="creativeAsset">
            File Sharing
        </div>
    </div>

</div>

<div class="">
    <div class="col-12 col-md-12 mt-4 px-5 overflow-auto" *ngIf="getPaginatedFileSharingTableData().length !== 0">
<!-- <div class="d-flex flex-wrap justify-content-center align-items-center mt-4">
    <div class="d-flex flex-wrap justify-content-center align-items-start" style="width: 90%;"> -->
        <table class="table tAble_css table-striped">
            <thead class="table-dark tHead_css">
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">File Name</th>
                    <th scope="col">File No.</th>
                    <th scope="col">Download</th>
                    <th scope="col">Add Review</th>
                </tr>
            </thead>
            <tbody class="tBody_css">
                <tr *ngFor="let item of getPaginatedFileSharingTableData(); let i = index;">
                    <td >{{ i + 1 }}</td>
                    <td>{{ item.original_name ||
                        "-"}}</td>
                    <td> {{ item.file_number|| "-" }}</td>
                        <td>
                            <div class="img_dwonLoad_1" (click)="changesFileSeen(item._id)" >
                                <a [href]="'https://api-avx.prilient.com/download?url=' + item.url" download>
                                <img src="../../../assets/images/dwonLoad_1.svg" style="width: 40px; height: 40px;" alt="">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="img_dwonLoad_1" data-bs-toggle="modal" data-bs-target="#saveReviewData" (click)="sendId(item._id,item.is_accpeted )"  >
                                
                                <img src="../../../assets/images/plus_add_img.svg" style="width: 40px; height: 40px;" alt="">
                               
                            </div>
                        </td>

                </tr>

            </tbody>

        </table>
    </div>

    <div class="modal-footer mb-2" style="width: 96.5%;">
        <div class="col-md-12" *ngIf="getTotalPagesFileSharingTable() > 1">
          <div class="table_footer mt-2">
            <button class="btn btn-secondary d-flex justify-content-center align-items-center"
              style="background-color:yellow; color: #000;" (click)="previousFileSharingTablePage()"
              [disabled]="currentFileSharingTablePage == 1">
              <i class="fa fa-angle-left"></i> Previous
            </button>
            <div class="recruitment_list_number">
              <div *ngFor="let pageNumber of getPageNumbersFileSharingTable()"
                [class.active_num]="pageNumber === currentFileSharingTablePage" class="recruitment_list_number_value"
                (click)="changePageFileSharingTable(pageNumber)">
                {{ pageNumber }}
              </div>
            </div>
            <button class="btn btn-secondary d-flex justify-content-center align-items-center"
              style="background-color:yellow; color: #000;" (click)="nextPageFileSharingTable()"
              [disabled]="currentFileSharingTablePage == getTotalPagesFileSharingTable()">
              Next <i class="fa fa-angle-right"></i>
            </button>
    
          </div>
        </div>
      </div>
</div>

<div class="not_data_img_div" *ngIf="getPaginatedFileSharingTableData().length == 0">
    <p class="not-found-text">Data Not Found!</p>
    <img class="not-found-image" src="/assets/images/notFound.png" alt="Image Not Found">
  </div>


<div class="modal fade" id="saveReviewData" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header" style="background-color: yellow;">
                <div class="col-12 col-md-12 d-flex flex-nowrap">
                    <div class="col-11 col-md-11 text_add_p_css">
                        <div class="modal-title fs-5" id="exampleModalLabel">Add Review</div>
                    </div>
                    <div class="col-1 col-md-1 text-end text-white">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="modal-body m-4">
                <form *ngIf="reviewAdd == undefined">
                    <div class="col-12 col-md-12 d-flex flex-wrap">
                      <div class="col-12 col-md-12 d-flex justify-content-center align-items-center gap-3">
                        <div class="accect_button" *ngIf="is_accepted != false">
                          <button (click)="accept()" data-bs-dismiss="modal" aria-label="Close">Accept</button>
                        </div>
                        <div class="decline_button" *ngIf="is_accepted != false">
                          <button (click)="decline()">Decline</button>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-12 col-md-12" *ngIf="is_accepted == false">
                      <div class="add_css_pro_code">
                        <label>Review</label>
                        <textarea [(ngModel)]="review_comment" name="project_resourses" rows="5" cols="10" placeholder="write here"></textarea>
                      </div>
                    </div>
                  
                    <div class="col-12 col-md-12" *ngIf="is_accepted == false">
                      <div class="save_css_button_code">
                        <button (click)="saveReviewData()" data-bs-dismiss="modal" aria-label="Close">Save</button>
                      </div>
                    </div>
                  </form>
                  <form *ngIf="reviewAdd != undefined">
                    <div class="col-12 col-md-12 d-flex flex-wrap" >
                      <div class="col-12 col-md-12 d-flex flex-column justify-content-center align-items-center gap-3">
                        <div class="accect_button" *ngIf="isAcc == true">
                          <button>Accept</button>
                        </div>
                        <div class="decline_button" *ngIf="isAcc == false">
                          <button>Decline</button>
                        </div>
                        <div *ngIf="isAcc == false">{{review_comment}}not</div>
                      </div>
                    </div>
                  </form>

                  

            </div>
        </div>
    </div>
</div>