
<div class="d-flex flex-wrap justify-content-center align-items-center mt-5">
    <div class="searchBar">
        <div class="creativeAssetSearch">
            <input type="text" id="searchBar" placeholder="Search"> <img
                src="../../../assets/images/creativeAssetsSearchIcon.svg" alt="" class="creativeAssetsSearchIcon">
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center align-items-center mt-4">
    <div class="d-flex justify-content-start align-items-start" style="width: 90%;">
        <div class="creativeAsset">
            File Sharing
        </div>
    </div>

</div>

<div class="">
    <div class="col-12 col-md-12 mt-4 px-5 overflow-auto">
<!-- <div class="d-flex flex-wrap justify-content-center align-items-center mt-4">
    <div class="d-flex flex-wrap justify-content-center align-items-start" style="width: 90%;"> -->
        <table class="table tAble_css table-striped">
            <thead class="table-dark tHead_css">
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">File Name</th>
                    <th scope="col">File No.</th>
                    <th scope="col">Download</th>
                    <th scope="col">Add Review</th>
                </tr>
            </thead>
            <tbody class="tBody_css">
                <tr *ngFor="let item of creativeAssetsTable; let i = index;">
                    <td >{{ i + 1 }}</td>
                    <td>{{ item.original_name ||
                        "-"}}</td>
                    <td> {{ item.file_number|| "-" }}</td>
                        <td>
                            <div class="img_dwonLoad_1" >
                                <img src="../../../assets/images/dwonLoad_1.svg" style="width: 40px; height: 40px;" alt="">
                            </div>
                        </td>
                        <td>
                            <div class="img_dwonLoad_1" data-bs-toggle="modal" data-bs-target="#saveReviewData"  >
                                <img src="../../../assets/images/plus_add_img.svg" style="width: 40px; height: 40px;" alt="">
                            </div>
                        </td>

                </tr>

            </tbody>

        </table>
    </div>
</div>



<div class="modal fade" id="saveReviewData" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header" style="background-color: yellow;">
                <div class="col-12 col-md-12 d-flex flex-nowrap">
                    <div class="col-11 col-md-11 text_add_p_css">
                        <div class="modal-title fs-5" id="exampleModalLabel">Add Review</div>
                    </div>
                    <div class="col-1 col-md-1 text-end text-white">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="modal-body m-4">
                <form>
                    <div class="col-12 col-md-12 d-flex flex-wrap">
                      <div class="col-12 col-md-12 d-flex justify-content-center align-items-center gap-3">
                        <div class="accect_button" *ngIf="is_accepted != false">
                          <button (click)="accept()" data-bs-dismiss="modal" aria-label="Close">Accept</button>
                        </div>
                        <div class="decline_button" *ngIf="is_accepted != false">
                          <button (click)="decline()">Decline</button>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-12 col-md-12" *ngIf="is_accepted == false">
                      <div class="add_css_pro_code">
                        <label>Review</label>
                        <textarea [(ngModel)]="review_comment" name="project_resourses" rows="5" cols="10" placeholder="write here"></textarea>
                      </div>
                    </div>
                  
                    <div class="col-12 col-md-12" *ngIf="is_accepted == false">
                      <div class="save_css_button_code">
                        <button (click)="saveReviewData()" data-bs-dismiss="modal" aria-label="Close">Save</button>
                      </div>
                    </div>
                  </form>
                  

            </div>
        </div>
    </div>
</div>