.login_css{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
.AVX_login_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.AVX_login_input{
    border: 1px solid #302E2E;
    width: 30%;
    margin-top: 20px;
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 8px;

}
.AVX_login_otp_input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    /* margin-top: 30px;   */
}
.AVX_login_logo img{
 width: 20%;
}
.AVX_login_input input{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    /* border-radius: 10px; */
}
.AVX_login_input i{
    border: none;
    outline: none;
    padding: 10px 10px 10px 30px;
    font-size: 20px;
}
.AVX_login_otp_input input{
    /* width: 7%; */
    width: 70px;
    height: 70px;
    margin: 5px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    outline: none;
    border-radius: 5px;

}

.AVX_login_text{
    text-align: left;
    width: 30%;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
}

.AVX_time_out{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.AVX_button_css{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; 
    margin-top: 30px;
}
.AVX_button_css button{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #3B3A70;
    background-color: yellow;
    color: #3B3A70;
    font-size: 20px;
    font-weight: bold;
}
.AVX_button_css button:active{
    transform: scale(.95);
}
.time_icon i{
    color: black;
    padding: 10px;
    cursor: pointer;
}
.time_icon span{
    color: red;
    cursor: pointer;
}
.resend_css{
    color: black;
    cursor: pointer;
}
.resend_css:active{
    transform: scale(.9);
}
.show_password{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30%;
    margin-top: 10px;
}
.show_password input{
    height: 20px;
    width: 20px;
    margin: 10px;
}
.show_password label{
    color: black;
    cursor: pointer;
}
.disabled{
    color: rgb(134, 134, 134);
}
.error_message{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30%;
}
.error_message span{
    color: red;
    padding: 10px;
}