


<div class="container-fluid p-0">
    <div class="container-fluid">
        <div class="row">
            <div class=" d-flex flex-wrap navbar_css">
                <div class="header_menu">
                    <img src="../../../assets/images/logo-ddd.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loginBG">

    <div
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-center align-items-center">
        <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-9 col-xxl-9 ">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex flex-wrap rounded-2">
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5  rounded-start-3 d-flex justify-content-start align-items-center flex-column"
                    style="background-color: #2A2A2A;">
                    <div
                        class="col-12 col-md-12 col-xl-12 d-flex justify-content-center flex-column align-items-center mt-5">
                        <div class="col-10 col-lg-9">
                            <div class="avx_head_title">AVX</div>
                        </div>
                        <div class="col-10 col-lg-9">
                            <div class="avx_head_sub_title">Mediaworkz</div>
                        </div>
                        <div class="col-10 col-lg-9">
                            <div class="col-12 col-md-12 col-xl-12 d-flex">
                                <div class="col-4 col-md-4 col-xl-4 d-flex text-white">
                                    <div class="dot_bg_color">•</div> live
                                </div>
                                <div class="col-4 col-md-4 col-xl-4 d-flex text-white">
                                    <div class="dot_bg_color">•</div> music
                                </div>
                                <div class="col-4 col-md-4 col-xl-4 d-flex text-white">
                                    <div class="dot_bg_color">•</div> concert
                                </div>
                            </div>
                            <!-- <div><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#fbff00" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg></div> -->
                        </div>
                    </div>
                    <!-- <div class="col-12 col-md-12 col-xl-12 h-50" style="border-right: 1px solid #696969;"></div> -->
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 rounded-end-3"
                    style="background-color: #2A2A2A;">
                    <div class="col-12 col-md-12 col-xl-12 d-flex justify-content-center flex-column align-items-center mt-5 mb-5"
                        style="border-left: 1px solid #696969;">
                        <div class="col-11 col-md-10 col-xl-10 emailID_css">Email ID</div>
                        <div class="col-11 col-md-10 col-xl-10 AVX_login_input"><input type="email" placeholder="Enter email-id" [(ngModel)]="sendData.email" name="email"  required></div>
                        <div class="col-11 col-md-10 col-xl-10 emailID_css mt-3">OTP</div>
                        <div class="col-11 col-md-10 col-xl-10 AVX_login_otp_input">
                            <input type="text"  [(ngModel)]="otpValue1" name="otpValue1" #otp1 maxlength="1" (keyup)="move($event, '', otp1 ,otp2)" required [disabled]="nowSetOTP" [ngClass]="{'cursorNoDrop': nowSetOTP, 'disabled':nowSetOTP}" autocomplete="off" autofocus>
                            <input type="text"  [(ngModel)]="otpValue2" name="otpValue2" #otp2 maxlength="1" (keyup)="move($event, otp1 ,otp2 ,otp3)" required [disabled]="nowSetOTP" [ngClass]="{'cursorNoDrop': nowSetOTP, 'disabled':nowSetOTP}" autocomplete="off" autofocus>
                            <input type="text"  [(ngModel)]="otpValue3" name="otpValue3" #otp3 maxlength="1" (keyup)="move($event, otp2 ,otp3 ,otp4)" required [disabled]="nowSetOTP" [ngClass]="{'cursorNoDrop': nowSetOTP, 'disabled':nowSetOTP}" autocomplete="off" autofocus>
                            <input type="text"  [(ngModel)]="otpValue4" name="otpValue4" #otp4 maxlength="1" (keyup)="move($event, otp3 ,otp4 , '')" required [disabled]="nowSetOTP" [ngClass]="{'cursorNoDrop': nowSetOTP, 'disabled':nowSetOTP}" autocomplete="off" autofocus>
                            <!-- <input type="text" [(ngModel)]="otpValue2" name="otpValue2" #otp2 maxlength="1" [disabled]="nowSetOTP" [ngClass]="{'cursorNoDrop': nowSetOTP, 'disabled':nowSetOTP}"
                                (keyup)="move($event, otp1 ,otp2 ,otp3)" required autocomplete="off"> -->
                            <!-- <input type="text" [(ngModel)]="otpValue3" name="otpValue3" #otp3 maxlength="1" [disabled]="nowSetOTP" [ngClass]="{'cursorNoDrop': nowSetOTP, 'disabled':nowSetOTP}"
                                (keyup)="move($event, otp2 ,otp3 ,otp4)" required autocomplete="off"> -->
                            <!-- <input type="text" [(ngModel)]="otpValue4" name="otpValue4" #otp4 maxlength="1" [disabled]="nowSetOTP" [ngClass]="{'cursorNoDrop': nowSetOTP, 'disabled':nowSetOTP}"
                                (keyup)="move($event, otp3 ,otp4 , '')" required autocomplete="off"> -->
                            <button class="verifyOTP" (click)="verificationOTP()" [disabled]="nowSetOTP" [ngClass]="{'cursorNoDrop': nowSetOTP}">VERIFY</button>
                        </div>
                        <div class="col-11 col-md-10 col-xl-10 mt-3 resend_css" *ngIf="!nowSetOTP" (click)="sendOTP()">Resend it!</div>
                        <div class="col-11 col-md-10 col-xl-10 mt-3 resend_css" *ngIf="nowSetOTP" (click)="sendOTP()">Send OTP</div>
                        <div class="col-11 col-md-10 col-xl-10 emailID_css mt-3 d-flex gap-2">Password 
                            <div class="d-flex" *ngIf="password !== confirmPassword" pTooltip="Please, do same password">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                    fill="none" stroke="#ff0000" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-alert-circle">
                                    <circle cx="12" cy="12" r="10" />
                                    <line x1="12" x2="12" y1="8" y2="12" />
                                    <line x1="12" x2="12.01" y1="16" y2="16" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-11 col-md-10 col-xl-10 AVX_login_input"><input [ngClass]="{'cursorNoDrop': nowSetPassword, 'disabled':nowSetPassword}" [disabled]="nowSetPassword"
                            [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" placeholder="Enter password" required></div>
                        <div class="col-11 col-md-10 col-xl-10 emailID_css mt-3 d-flex gap-2">Confirm Password
                            <div class="d-flex" *ngIf="password !== confirmPassword" pTooltip="Please, do same password">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                   fill="none" stroke="#ff0000" stroke-width="3" stroke-linecap="round"
                                   stroke-linejoin="round" class="lucide lucide-alert-circle">
                                   <circle cx="12" cy="12" r="10" />
                                   <line x1="12" x2="12" y1="8" y2="12" />
                                   <line x1="12" x2="12.01" y1="16" y2="16" />
                               </svg>
                           </div>
                        </div>
                        <div class="col-11 col-md-10 col-xl-10 AVX_login_input"><input [ngClass]="{'cursorNoDrop': nowSetPassword, 'disabled':nowSetPassword}" [disabled]="nowSetPassword"
                            [type]="showPassword ? 'text' : 'password'" placeholder="Enter confirm password"  [(ngModel)]="confirmPassword" name="confirmPassword" required></div>
                        <!-- <div class="error_message" *ngIf="password !== confirmPassword">
                        <span>Please, do same password</span>
                    </div> -->
                        <div class="col-11 col-md-10 col-xl-10 show_password"> <input type="checkbox"
                                id="showPasswordCheckbox" [(ngModel)]="showPassword"
                                (click)="togglePasswordVisibility()">
                            <label for="showPasswordCheckbox">Show Password</label>
                        </div>

                        <div class="col-11 col-md-10 col-xl-10 AVX_button_css"><button type="submit"
                                (click)="savePassword()">Save</button></div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- <div class="container-fluid p-0">
    <div class="row bg-black m-0" style="height: 70px; width: 100%;"></div>
    </div>
    <div class="container">
        <div class="row" *ngIf="currentStep === 1">
            <form #forgotPasswordForm="ngForm" (ngSubmit)="sendOTP()">
                <div class="login_css">
                    <div class="col-12 col-md-12 AVX_login_logo">
                        <img src="../../assets/images/AVX_login_logo.svg" alt="">
                    </div>
                    <div class="col-12 col-md-12 AVX_login_input">
                        <i class="fa fa-envelope"></i>
                        <input type="email" placeholder="Enter email-id" [(ngModel)]="sendData.email" name="email"  required>
                    </div>
                    <div class="col-12 col-md-12 AVX_button_css">
                        <button type="submit" [disabled]="forgotPasswordForm.invalid">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" *ngIf="currentStep === 2">
            <form #forgotPasswordForm="ngForm" (ngSubmit)="verificationOTP()">
                <div class="login_css">
                    <div class="col-12 col-md-12 AVX_login_logo">
                        <img src="../../assets/images/AVX_login_logo.svg" alt="">
                    </div>
                    <div class="col-12 col-md-12 AVX_login_otp_input">
                        <input type="text"  [(ngModel)]="otpValue1" name="otpValue1" #otp1 maxlength="1" (keyup)="move($event, '', otp1 ,otp2)" required>
                        <input type="text"  [(ngModel)]="otpValue2" name="otpValue2" #otp2 maxlength="1" (keyup)="move($event, otp1 ,otp2 ,otp3)" required>
                        <input type="text"  [(ngModel)]="otpValue3" name="otpValue3" #otp3 maxlength="1" (keyup)="move($event, otp2 ,otp3 ,otp4)" required>
                        <input type="text"  [(ngModel)]="otpValue4" name="otpValue4" #otp4 maxlength="1" (keyup)="move($event, otp3 ,otp4 , '')" required>
                    </div>
                    <div class="col-12 col-md-12 AVX_time_out">
                        <div class="time_icon">
                            <i class="fa fa-clock"></i>
                            <span>{{getFormattedTime()}}</span>
                        </div>
                        <div class="resend_css" (click)="startTimer()" [class.disabled]="timerRunning">Resend it!</div>
        
                    </div>
                    <div class="col-12 col-md-12 AVX_button_css">
                        <button type="submit" [disabled]="forgotPasswordForm.invalid">Save</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row" *ngIf="currentStep === 3">
            <form #passwordSaveForm="ngForm" (ngSubmit)="savePassword()">
            <div class="login_css">
                <div class="col-12 col-md-12 AVX_login_logo">
                    <img src="../../assets/images/AVX_login_logo.svg" alt="">
                </div>
                <div class="col-12 col-md-12 AVX_login_input">
                    <i class="fa fa-lock"></i>
                    <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" placeholder="Enter password" required>
                </div>
                <div class="col-12 col-md-12 AVX_login_input">
                    <i class="fa fa-lock"></i>
                    <input [type]="showPassword ? 'text' : 'password'" placeholder="Enter confirm password"  [(ngModel)]="confirmPassword" name="confirmPassword" required>
                </div>
                <div class="error_message" *ngIf="passwordSaveForm.controls['password'].touched && passwordSaveForm.controls['confirmPassword'].touched && password !== confirmPassword">
                    <span>Please, do same password</span>
                </div>
                <div class="show_password">
                    <input type="checkbox" id="showPasswordCheckbox" [(ngModel)]="showPassword" (click)="togglePasswordVisibility()">
                    <label for="showPasswordCheckbox">Show Password</label>
                </div>
                <div class="col-12 col-md-12 AVX_button_css">
                    <button type="submit" [disabled]="passwordSaveForm.invalid || password !== confirmPassword">Save</button>
                </div>
            </div>
            </form>
        </div>
    </div> -->