/* create role */
select {
    width: -webkit-fill-available;
    border-radius: 4px;
}

#CreateRoleHeader h1{
    margin-left: 10rem;
}
.mat-mdc-form-field {
    display: block;
}
.mt-4 {
    margin-top: 3.5rem!important;
}

.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  

.createRole{
    color: #000;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.CreateRoleText{
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.RoleInput{
    width: 100%;
height: 58px;
flex-shrink: 0;
border-radius: 10px !important;
border: 1px solid #808080;
background: #FFF;
/* background: url('/assets/image/icon/Polygon\ 3.svg') no-repeat right 10px center; */
cursor: pointer;

}


.permission{
    width: 100%;
height: 58px;
flex-shrink: 0;
border-radius: 10px !important;
border: 1px solid #808080;
background: #FFF;
/* background: url('/assets/image/icon/Polygon\ 3.svg') no-repeat right 10px center; */
cursor: pointer;
}




.closeRole{
    display: flex;
    width: 150px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 2px solid #D92651;

    color: #D92651;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.closeRole:hover{
    background: #D92651;
    color: #FFFFFF;
}

.submitRole{
    display: flex;
width: 150px;
height: 44px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 60px;
border: 2px solid #2F37A4;
color: #2F37A4;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.submitRole:hover{
    background: #2F37A4;
    color: #FFFFFF;
}

.Role{
    width: 705px;
height: 446px;
flex-shrink: 0;
fill: #FFF;
stroke-width: 1px;
stroke: #CDCDCD;
}


.RoleInput::placeholder {
    color: #343A40;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .permissionPlace{
    color: #343A40;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

.input-with-icon {
    position: relative;
    /* width: 100%; */
  }
  .input-with-icon i {
    position: absolute;
    top: 50%;
    right: 24px; /* Adjust the value based on your design */
    transform: translateY(-50%);
  }

  

  
/* create role */



/* repoerts start */

.align-items-start {
    width: 293px;
    height: 337px;
    flex-shrink: 0;
    border-radius: 21px;
    border: 1px solid #ABABAB;
    background: #FFF;
    margin: 1%;
}

.CardImg{
    width: 207.707px;
    height: 210.036px;
    flex-shrink: 0;
    margin-left: 3rem;
}
h3,
.text-body-emphasis {
    color: #000;
    font-size: 30px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-decoration-line: underline;
    text-align: center;
}
/* download button start */

@-webkit-keyframes orbit {
    0% {
        -webkit-transform: rotateY(90deg) rotate(0deg);
    }

    60% {
        -webkit-transform: rotateY(90deg) rotate(-180deg);
    }

    100% {
        -webkit-transform: rotateY(90deg) rotate(-360deg);
    }
}

@-moz-keyframes orbit {
    0% {
        -moz-transform: rotateY(90deg) rotate(0deg);
    }

    60% {
        -moz-transform: rotateY(90deg) rotate(-180deg);
    }

    100% {
        -moz-transform: rotateY(90deg) rotate(-360deg);
    }
}

@keyframes orbit {
    0% {
        -webkit-transform: rotateY(90deg) rotate(0deg);
        -moz-transform: rotateY(90deg) rotate(0deg);
        -ms-transform: rotateY(90deg) rotate(0deg);
        -o-transform: rotateY(90deg) rotate(0deg);
        transform: rotateY(90deg) rotate(0deg);
    }

    60% {
        -webkit-transform: rotateY(90deg) rotate(-180deg);
        -moz-transform: rotateY(90deg) rotate(-180deg);
        -ms-transform: rotateY(90deg) rotate(-180deg);
        -o-transform: rotateY(90deg) rotate(-180deg);
        transform: rotateY(90deg) rotate(-180deg);
    }

    100% {
        -webkit-transform: rotateY(90deg) rotate(-360deg);
        -moz-transform: rotateY(90deg) rotate(-360deg);
        -ms-transform: rotateY(90deg) rotate(-360deg);
        -o-transform: rotateY(90deg) rotate(-360deg);
        transform: rotateY(90deg) rotate(-360deg);
    }
}

/* body {
    margin: 100px auto;
    text-align: center;
  } */

.button {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 20px 30px 20px 70px;
    background: rgba(60, 162, 162, 0.6);
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    margin-left: 2rem;
}

.button:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    color: rgba(0, 0, 0, 0.8);
    background: rgba(60, 162, 162, 0.8);
}

.button:hover>span {
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
    -webkit-transform: rotateY(90deg) rotate(-360deg);
    -moz-transform: rotateY(90deg) rotate(-360deg);
    -ms-transform: rotateY(90deg) rotate(-360deg);
    -o-transform: rotateY(90deg) rotate(-360deg);
    transform: rotateY(90deg) rotate(-360deg);
}

.button>span {
    width: 80px;
    display: block;
    position: absolute;
    left: 0;
    top: -40px;
    bottom: -40px;
    border-radius: 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(90deg) rotate(0deg);
    -moz-transform: rotateY(90deg) rotate(0deg);
    -ms-transform: rotateY(90deg) rotate(0deg);
    -o-transform: rotateY(90deg) rotate(0deg);
    transform: rotateY(90deg) rotate(0deg);
}

.button>span>span {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 16px;
    height: 17px;
    left: 0;
    top: 50px;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.button>span>span::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    margin-left: -7px;
    border-top: 16px solid rgba(0, 0, 0, 0.6);
    border-bottom: 0 solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.downloadHeading {
    font-size: 1rem;
    margin-left: 5rem;
    font-weight: bold;
}

/* download button end */

/* reports end */



/* apply leave form start */
.m-2 {
    margin: 2.5rem!important;
}
.applyLeave{
    background-color: #e5e5e5;
      border-radius: 20px;
      padding: 20px;
  }
/* apply leave form end */


/* for search icon in right side start */
/* .search-icon-right {
    float: right;
    cursor: pointer;
  } */

  .rounded{
    border-radius: 20px;
    border: solid 1px black;
  }
  /* for search icon in right side end */


  /* profile image show in navbar start */
.rounded-2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1rem;
  }
  
  .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* profile image show in navbar end */


  /* show dropdown permission in view role list start */
  .hidden-permission {
    display: none;
  }
  
  .dropdown-icon {
    cursor: pointer;
    color: rgb(12, 12, 14); /* Customize the color as needed */
  }
  .first-permission {
    list-style: none;
  }
  
  .dropdown-icon {
    cursor: pointer;
    margin-left: 10px; /* Adjust the margin as needed */
  }
  /* show dropdown permission in view role list end */
  
    




 /* view role new design  */
   
.recruit_table {
    /* / width: 100%; / */
    flex-shrink: 1;
    overflow-x: auto;
  }
  .table_head {
    line-height: 50px;
    background-color: #fff;
    /* color: #000; */
    display: flex;
    flex: 1;
    justify-content: space-around;
    /* / width: 97%; / */
    border: 2px solid #d9d9d9;
    /* border-radius: 10px 10px 0 0; */
  
    min-width: 900px;
   
  }
  .table_body {
    line-height: 50px;
    color: #000;
    display: flex;
    flex: 1;
    justify-content: space-around;
    /* / width: 97%; / */
    border: 2px solid #d9d9d9;
    min-width: 900px;
    margin-top: inherit;
  }
  
  .table_head_topics {
    /* font-size: 15px;
    font-weight: bold; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .table_body_topics {
    /* font-size: 15px; */
    /* / font-weight: bold; / */
    display: flex;
    justify-content: center;
    align-items: center;
    

    color: #000;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .table_body_topics:nth-child(1) {
    font-size: 15px;
    font-weight: bold;
  }
  
 

  .list-with-images li {
    list-style: none; /* Remove default list-style (disc/circle/square) */
    position: relative; /* Position relative for positioning the image */
    padding-left: 27px; /* Adjust the left padding to make space for the image */
  }
  
  .list-with-images li:before {
    content: ''; /* Empty content for the generated pseudo-element */
    background-image: url('/assets/image/permissionView.png'); /* Specify the path to your image */
    background-size: contain; /* Adjust the size of the image */
    width: 16px; /* Adjust the width of the image */
    height: 16px; /* Adjust the height of the image */
    position: absolute; /* Position absolutely within the list item */
    left: 0; /* Position at the left side */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust vertical positioning */
    margin-right: 8px; /* Add some space between the image and the text */
  }
  


  .deleteRole{
    display: flex;
width: 184px;
height: 39px;
justify-content: center;
align-items: center;
gap: 6px;
flex-shrink: 0;
border-radius: 100px;
border: 1px solid #D92651;
color: #D92651;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .deleteRole:hover{
    display: flex;
width: 184px;
height: 39px;
justify-content: center;
align-items: center;
gap: 6px;
flex-shrink: 0;
border-radius: 100px;
background: #D92651;
color: #FFFFFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .deleteRole img.RoleHover {
    transition: 0.3s; /* Add a smooth transition effect if needed */
}

.deleteRole:hover img.RoleHover {
    content: url('/assets/image/icon/deleteRoleHover.svg');
}


  .editPermission{
    display: flex;
padding: 10px 30px;
align-items: center;
gap: 10px;
border-radius: 100px;
border: 1px solid #129B4B;
width: 184px;
height: 39px;
color: #129B4B;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .editPermission:hover{
    display: inline-flex;
padding: 10px 30px;
align-items: center;
gap: 10px;
border-radius: 100px;
background: #129B4B;
color: #FFFFFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: 184px;
height: 39px;
  }

  .editPermission img.PermissionHover {
    transition: 0.3s; /* Add a smooth transition effect if needed */
}

.editPermission:hover img.PermissionHover {
    content: url('/assets/image/icon/editPermissionHover.svg');
}

.Rolebutton{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}


/* for seach start */

.search-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.search_icon_added_position_list {
  width: 20px;
  height: 20px;
  position: relative;
  left: 35px;
}

.search_added_position_list {
  height: 40px;
  width: 100%;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 15px 45px;
}

.search_added_position_list {
  height: 36px;
  width: 100%;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 15px 45px;
}

.button_added_position_list {
  height: 36px;
  /* display: flex;
  flex: 1; */
  padding: 0px 20px;
  font-size: 18px;
  background-color: #421cdd;
  color: #fff;
  outline: none;
  border: 1px solid #421cdd;
  border-radius: 8px;
}

/* for seach end */

/* for pagenation start */
.added_positions_list_right {
  display: flex;
  align-items: center;
}

.added_positions_under_head {
  font-size: 14px;
  padding: 10px;
}

.added_positions_under_head_select {
  border: 1px solid #adadad;
  font-size: 18px;
  padding: 0px;
  border-radius: 8px;
}

.table_footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.recruitment_list_number {
  margin: 0px 10px;
  display: flex;
  cursor: pointer;
}
.recruitment_list_number_value.active_num {
  background-color: #d9d9d9;
  /* color: #000000;
    border-radius: 15px;
    height: 25px;
    width: 25px;
    padding: 2px 8px;
    margin: 0px 5px; */
}

.recruitment_list_number_value {
  background-color: #ffffff00;
  color: #000000;
  border-radius: 15px;
  height: 25px;
  width: 25px;
  padding: 2px 8px;
  margin: 0px 5px;
}
/* for pagenation end */



.head{
  color: #000;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.selectPermission{
  color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.SlectedAdd{
  color: #2F37A4;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 177px;
height: 58px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #2F37A4;
background: #FFF;
}

.selectedRole{
  width: 417px;
height: 58px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #808080;

background: #FFF;
}

.modal {
  --bs-modal-zindex: 1000 !important;
  background-color: #78787867;
  
}

/* Your component.css file */
.selected-permissions-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border: 1px solid #808080;
  padding: 8px;
  border-radius: 10px;
  width: 97%;
}

.selected-permission {
  background-color: #DFEAFF;
  padding: 4px 8px;
  border-radius: 100px;
  display: inline-flex;
padding: 7px 15px;
justify-content: center;
align-items: center;
gap: 12px;
}


.permissionRemove{
  width: 12px;
height: 12px;
}

.cross-icon {
  cursor: pointer;
  margin-left: 5px; /* Adjust the spacing as needed */
}

.cross-icon:hover {
  color: red; /* Change the color on hover as needed */
}



/* employee grid view start */

.employee{
  display: flex;
  /* width: 232px; */
  /* width: 23%;*/
height: 100%; 
flex-direction: column;
align-items: center;
border-radius: 10px;
border: 1px solid #808080;

background: #FFF;

align-items: normal;
gap: 23px;
/* margin-right: 16px; */
margin-bottom: 16px;
}


.icon{
  display: flex;
  /* width: 190px; */
  /* height: 50px; */
  padding: 5px 13px;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  font-size: x-large;
  cursor: pointer; 
  transition: transform 0.3s;
  transform-origin: top right;
}


.icon:hover {
  color: #421CDD;
  transform: scale(1.2);
}


.emp1{
  width: 95px;
height: 95px;
flex-shrink: 0;
border-radius: 50%;
margin-top: -10px;
}


.nameGrid{
  color: #000;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.titleGrid{
  color: #000;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: -16px;
}

/* employee grid view end */

/* employee list view start */

.employeeList{
  display: flex;
/* width: 989px; */
align-items: center;
gap: -8px;
border-radius: 10px;
border: 1px solid #808080;
background: #FFF;
height: 70px;
}

.nameList{
  color: #000;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 22px;
}

.titleList{
  color: #000;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 50px;
}

.empList{
  width: 50px;
height: 50px;
flex-shrink: 0;

}

.iconList{
  display: flex;
  padding: 5px 13px;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  font-size: x-large;
  cursor: pointer; 
  transition: transform 0.3s;
  /* transform-origin: top right; */
}


.iconList:hover {
  color: #421CDD;
  transform: scale(1.2);
}

/* employee list view end */

.allEmp{
  color: #000;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.list{
  display: flex;
padding: 5px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: #FFF;
width: 50px;
height: 50px;
}


.searchEmp{
  width: 100%;
/* height: 58px; */
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #808080;
background: #FFF;
}

.searchEmpButton{
  display: flex;
width: 100%;
/* height: 58px; */
padding: 8px 50px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;
background: #421CDD;
}


.not_data_img_div {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  padding: 20px;
}




/* team leave table */

.added_positions_list_head {
  font-size: 1.5rem;
  font-weight: bold;
}
.added_positions_list_right {
  display: flex;
  align-items: center;
}
.added_positions_under_head {
  font-size: 18px;
  padding: 10px;
}
.added_positions_under_head_select {
  border: 1px solid #adadad;
  font-size: 18px;
  padding: 3px;
  border-radius: 8px;
}
.added_positions_under_head {
  font-size: 18px;
  padding: 10px;
}
.added_positions_under_head_select {
  border: 1px solid #adadad;
  font-size: 18px;
  padding: 3px;
  border-radius: 8px;
}
.search-container {
  display: flex;
  align-items: center;
  padding: 10px;
}
.search_icon_added_position_list {
  width: 20px;
  height: 20px;
  position: relative;
  left: 35px;
}

.search_added_position_list {
  height: 40px;
  width: 100%;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 15px 45px;
}
.button_added_position_list {
  height: 40px;
  /* display: flex;
  flex: 1; */
  padding: 0px 20px;
  font-size: 18px;
  background-color: #421cdd;
  color: #fff;
  outline: none;
  border: 1px solid #421cdd;
  border-radius: 8px;
}
.recruit_table {
  flex-shrink: 1;
  overflow-x: auto;
}
.table_head {
  line-height: 50px;
  background-color: #fff;
  color: #000;
  display: flex;
  flex: 1;
  justify-content: space-around;
  border: 3px solid #d9d9d9;
  border-radius: 10px 10px 0 0;
  min-width: 900px;
}

.table_body {
  line-height: 50px;
  color: #000;
  display: flex;
  flex: 1;
  justify-content: space-around;

  border: 3px solid #d9d9d9;
  min-width: 900px;
}
.table_body:nth-child(even) {
  background-color: #ffffff;
}
.table_body:nth-child(odd) {
  background-color: #e5e5e5;
}
.table_head_topics {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.table_body_topics {
  font-size: 15px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_body_topics:nth-child(1) {
  font-size: 15px;
  font-weight: bold;
}





/*  */

.thName{
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
background-color: #DFEAFF !important;
}
.tdData:nth-child(even) {
  background-color: #ffffff;
}
.tdData:nth-child(odd) {
  background-color: #e5e5e5;
}

table{
  border-radius: 5px !important;
}