/* create role */
select {
    width: -webkit-fill-available;
    border-radius: 4px;
}

#CreateRoleHeader h1{
    margin-left: 10rem;
}
.mat-mdc-form-field {
    display: block;
}
.mt-4 {
    margin-top: 3.5rem!important;
}

.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  

.createRole{
    color: #000;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.text-md-end{
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.RoleInput{
    width: 444px;
height: 58px;
flex-shrink: 0;
border-radius: 10px !important;
border: 1px solid #808080;
background: #FFF;
background: url('/assets/image/icon/Polygon\ 3.svg') no-repeat right 10px center;
cursor: pointer;

}


.permission{
    width: 444px;
height: 58px;
flex-shrink: 0;
border-radius: 10px !important;
border: 1px solid #808080;
background: #FFF;
background: url('/assets/image/icon/Polygon\ 3.svg') no-repeat right 10px center;
cursor: pointer;
}

/* .mat-mdc-select-arrow-wrapper { 
    display: none !important;
} */




.closeRole{
    display: flex;
    width: 150px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 2px solid #D92651;

    color: #D92651;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.closeRole:hover{
    background: #D92651;
    color: #FFFFFF;
}

.submitRole{
    display: flex;
width: 150px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 60px;
border: 2px solid #2F37A4;
color: #2F37A4;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.submitRole:hover{
    background: #2F37A4;
    color: #FFFFFF;
}

.Role{
    width: 705px;
height: 446px;
flex-shrink: 0;
fill: #FFF;
stroke-width: 1px;
stroke: #CDCDCD;
}

/* .drop{
    width: 32px;
height: 23px;
flex-shrink: 0;
fill: #343A40;
} */
.RoleInput::placeholder {
    color: #343A40;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .permissionPlace{
    color: #343A40;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

.input-with-icon {
    position: relative;
    width: 100%;
  }
  

  

  ::ng-deep .mat-select-trigger {
    border-radius: 5px; 
    background-image: none !important; 
  }

  ::ng-deep .RoleInput {
    border-radius: 8px; 
  }
  
 
  ::ng-deep .mat-select-arrow {
    display: none;
  }
  /* .permissionInput {
    background: url('/assets/image/icon/Polygon\ 3.svg') no-repeat right 10px center;
    background-size: contain; 
    width: 20px; 
    height: 20px; 
    appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
  } */
  /* .RoleInput {
    padding-right: 30px; 
  }
   */
  /* .drop {
    position: absolute;
    top: 50%;
    left: 25rem; 
    transform: translateY(-50%);
    cursor: pointer;
    width: 32px;
height: 23px;
flex-shrink: 0;
fill: #343A40;
  } */
  

  
/* create role */



/* repoerts start */

.align-items-start {
    width: 293px;
    height: 337px;
    flex-shrink: 0;
    border-radius: 21px;
    border: 1px solid #ABABAB;
    background: #FFF;
    margin: 1%;
}

.CardImg{
    width: 207.707px;
    height: 210.036px;
    flex-shrink: 0;
    margin-left: 3rem;
}
h3,
.text-body-emphasis {
    color: #000;
    font-size: 30px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-decoration-line: underline;
    text-align: center;
}
/* download button start */

@-webkit-keyframes orbit {
    0% {
        -webkit-transform: rotateY(90deg) rotate(0deg);
    }

    60% {
        -webkit-transform: rotateY(90deg) rotate(-180deg);
    }

    100% {
        -webkit-transform: rotateY(90deg) rotate(-360deg);
    }
}

@-moz-keyframes orbit {
    0% {
        -moz-transform: rotateY(90deg) rotate(0deg);
    }

    60% {
        -moz-transform: rotateY(90deg) rotate(-180deg);
    }

    100% {
        -moz-transform: rotateY(90deg) rotate(-360deg);
    }
}

@keyframes orbit {
    0% {
        -webkit-transform: rotateY(90deg) rotate(0deg);
        -moz-transform: rotateY(90deg) rotate(0deg);
        -ms-transform: rotateY(90deg) rotate(0deg);
        -o-transform: rotateY(90deg) rotate(0deg);
        transform: rotateY(90deg) rotate(0deg);
    }

    60% {
        -webkit-transform: rotateY(90deg) rotate(-180deg);
        -moz-transform: rotateY(90deg) rotate(-180deg);
        -ms-transform: rotateY(90deg) rotate(-180deg);
        -o-transform: rotateY(90deg) rotate(-180deg);
        transform: rotateY(90deg) rotate(-180deg);
    }

    100% {
        -webkit-transform: rotateY(90deg) rotate(-360deg);
        -moz-transform: rotateY(90deg) rotate(-360deg);
        -ms-transform: rotateY(90deg) rotate(-360deg);
        -o-transform: rotateY(90deg) rotate(-360deg);
        transform: rotateY(90deg) rotate(-360deg);
    }
}

/* body {
    margin: 100px auto;
    text-align: center;
  } */

.button {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 20px 30px 20px 70px;
    background: rgba(60, 162, 162, 0.6);
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    margin-left: 2rem;
}

.button:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    color: rgba(0, 0, 0, 0.8);
    background: rgba(60, 162, 162, 0.8);
}

.button:hover>span {
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
    -webkit-transform: rotateY(90deg) rotate(-360deg);
    -moz-transform: rotateY(90deg) rotate(-360deg);
    -ms-transform: rotateY(90deg) rotate(-360deg);
    -o-transform: rotateY(90deg) rotate(-360deg);
    transform: rotateY(90deg) rotate(-360deg);
}

.button>span {
    width: 80px;
    display: block;
    position: absolute;
    left: 0;
    top: -40px;
    bottom: -40px;
    border-radius: 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(90deg) rotate(0deg);
    -moz-transform: rotateY(90deg) rotate(0deg);
    -ms-transform: rotateY(90deg) rotate(0deg);
    -o-transform: rotateY(90deg) rotate(0deg);
    transform: rotateY(90deg) rotate(0deg);
}

.button>span>span {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 16px;
    height: 17px;
    left: 0;
    top: 50px;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.button>span>span::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    margin-left: -7px;
    border-top: 16px solid rgba(0, 0, 0, 0.6);
    border-bottom: 0 solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.downloadHeading {
    font-size: 1rem;
    margin-left: 5rem;
    font-weight: bold;
}

/* download button end */

/* reports end */



/* apply leave form start */
.m-2 {
    margin: 2.5rem!important;
}
.applyLeave{
    background-color: #e5e5e5;
      border-radius: 20px;
      padding: 20px;
  }
/* apply leave form end */


/* for search icon in right side start */
/* .search-icon-right {
    float: right;
    cursor: pointer;
  } */

  .rounded{
    border-radius: 20px;
    border: solid 1px black;
  }
  /* for search icon in right side end */


  /* profile image show in navbar start */
.rounded-2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1rem;
  }
  
  .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* profile image show in navbar end */


  /* show dropdown permission in view role list start */
  .hidden-permission {
    display: none;
  }
  
  .dropdown-icon {
    cursor: pointer;
    color: rgb(12, 12, 14); /* Customize the color as needed */
  }
  .first-permission {
    list-style: none;
  }
  
  .dropdown-icon {
    cursor: pointer;
    margin-left: 10px; /* Adjust the margin as needed */
  }
  /* show dropdown permission in view role list end */
  
    