/* create role */
select {
    width: -webkit-fill-available;
    border-radius: 4px;
}

#CreateRoleHeader h1{
    margin-left: 10rem;
}
.mat-mdc-form-field {
    display: block;
}
.mt-4 {
    margin-top: 3.5rem!important;
}

.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  

.createRole{
    color: #000;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.CreateRoleText{
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.RoleInput{
    width: 100%;
height: 58px;
flex-shrink: 0;
border-radius: 10px !important;
border: 1px solid #808080;
background: #FFF;
/* background: url('/assets/image/icon/Polygon\ 3.svg') no-repeat right 10px center; */
cursor: pointer;

}


.permission{
    width: 100%;
height: 58px;
flex-shrink: 0;
border-radius: 10px !important;
border: 1px solid #808080;
background: #FFF;
/* background: url('/assets/image/icon/Polygon\ 3.svg') no-repeat right 10px center; */
cursor: pointer;
}




.closeRole{
    display: flex;
    width: 150px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 2px solid #D92651;

    color: #D92651;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.closeRole:hover{
    background: #D92651;
    color: #FFFFFF;
}

.submitRole{
    display: flex;
width: 150px;
height: 44px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 60px;
border: 2px solid #2F37A4;
color: #2F37A4;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.submitRole:hover{
    background: #2F37A4;
    color: #FFFFFF;
}

.Role{
    width: 705px;
height: 446px;
flex-shrink: 0;
fill: #FFF;
stroke-width: 1px;
stroke: #CDCDCD;
}


.RoleInput::placeholder {
    color: #343A40;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .permissionPlace{
    color: #343A40;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

.input-with-icon {
    position: relative;
    /* width: 100%; */
  }
  .input-with-icon i {
    position: absolute;
    top: 50%;
    right: 24px; /* Adjust the value based on your design */
    transform: translateY(-50%);
  }

  

  
/* create role */



/* reports start */

.align-items-start {
    width: 293px;
    height: 337px;
    flex-shrink: 0;
    border-radius: 21px;
    border: 1px solid #ABABAB;
    background: #FFF;
    margin: 1%;
}

.CardImg{
    width: 207.707px;
    height: 210.036px;
    flex-shrink: 0;
    margin-left: 3rem;
}
h3,
.text-body-emphasis {
    color: #000;
    font-size: 30px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-decoration-line: underline;
    text-align: center;
}
/* download button start */

@-webkit-keyframes orbit {
    0% {
        -webkit-transform: rotateY(90deg) rotate(0deg);
    }

    60% {
        -webkit-transform: rotateY(90deg) rotate(-180deg);
    }

    100% {
        -webkit-transform: rotateY(90deg) rotate(-360deg);
    }
}

@-moz-keyframes orbit {
    0% {
        -moz-transform: rotateY(90deg) rotate(0deg);
    }

    60% {
        -moz-transform: rotateY(90deg) rotate(-180deg);
    }

    100% {
        -moz-transform: rotateY(90deg) rotate(-360deg);
    }
}

@keyframes orbit {
    0% {
        -webkit-transform: rotateY(90deg) rotate(0deg);
        -moz-transform: rotateY(90deg) rotate(0deg);
        -ms-transform: rotateY(90deg) rotate(0deg);
        -o-transform: rotateY(90deg) rotate(0deg);
        transform: rotateY(90deg) rotate(0deg);
    }

    60% {
        -webkit-transform: rotateY(90deg) rotate(-180deg);
        -moz-transform: rotateY(90deg) rotate(-180deg);
        -ms-transform: rotateY(90deg) rotate(-180deg);
        -o-transform: rotateY(90deg) rotate(-180deg);
        transform: rotateY(90deg) rotate(-180deg);
    }

    100% {
        -webkit-transform: rotateY(90deg) rotate(-360deg);
        -moz-transform: rotateY(90deg) rotate(-360deg);
        -ms-transform: rotateY(90deg) rotate(-360deg);
        -o-transform: rotateY(90deg) rotate(-360deg);
        transform: rotateY(90deg) rotate(-360deg);
    }
}

/* body {
    margin: 100px auto;
    text-align: center;
  } */

.button {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 20px 30px 20px 70px;
    background: rgba(60, 162, 162, 0.6);
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    margin-left: 2rem;
}

.button:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    color: rgba(0, 0, 0, 0.8);
    background: rgba(60, 162, 162, 0.8);
}

.button:hover>span {
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
    -webkit-transform: rotateY(90deg) rotate(-360deg);
    -moz-transform: rotateY(90deg) rotate(-360deg);
    -ms-transform: rotateY(90deg) rotate(-360deg);
    -o-transform: rotateY(90deg) rotate(-360deg);
    transform: rotateY(90deg) rotate(-360deg);
}

.button>span {
    width: 80px;
    display: block;
    position: absolute;
    left: 0;
    top: -40px;
    bottom: -40px;
    border-radius: 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(90deg) rotate(0deg);
    -moz-transform: rotateY(90deg) rotate(0deg);
    -ms-transform: rotateY(90deg) rotate(0deg);
    -o-transform: rotateY(90deg) rotate(0deg);
    transform: rotateY(90deg) rotate(0deg);
}

.button>span>span {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 16px;
    height: 17px;
    left: 0;
    top: 50px;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.button>span>span::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    margin-left: -7px;
    border-top: 16px solid rgba(0, 0, 0, 0.6);
    border-bottom: 0 solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.downloadHeading {
    font-size: 1rem;
    margin-left: 5rem;
    font-weight: bold;
}

/* download button end */

/* reports end */



/* apply leave form start */
.m-2 {
    margin: 2.5rem!important;
}
.applyLeave{
    background-color: #e5e5e5;
      border-radius: 20px;
      padding: 20px;
  }
/* apply leave form end */


/* for search icon in right side start */
/* .search-icon-right {
    float: right;
    cursor: pointer;
  } */

  .rounded{
    border-radius: 20px;
    border: solid 1px black;
  }
  /* for search icon in right side end */


  /* profile image show in navbar start */
.rounded-2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1rem;
  }
  
  .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* profile image show in navbar end */


  /* show dropdown permission in view role list start */
  .hidden-permission {
    display: none;
  }
  
  .dropdown-icon {
    cursor: pointer;
    color: rgb(12, 12, 14); /* Customize the color as needed */
  }
  .first-permission {
    list-style: none;
  }
  
  .dropdown-icon {
    cursor: pointer;
    margin-left: 10px; /* Adjust the margin as needed */
  }
  /* show dropdown permission in view role list end */
  
    




 /* view role new design  */
   
.recruit_table {
    /* / width: 100%; / */
    flex-shrink: 1;
    overflow-x: auto;
  }
  .table_head {
    line-height: 50px;
    background-color: #3330B1;
    /* color: #000; */
    display: flex;
    flex: 1;
    justify-content: space-around;
    /* / width: 97%; / */
    border: 2px solid #d9d9d9;
    /* border-radius: 10px 10px 0 0; */
  
    min-width: 900px;
   
  }
  .table_body {
    line-height: 50px;
    color: #000;
    display: flex;
    flex: 1;
    justify-content: space-around;
    /* / width: 97%; / */
    border: 2px solid #d9d9d9;
    min-width: 900px;
    margin-top: inherit;
  }
  
  .table_head_topics {
    /* font-size: 15px;
    font-weight: bold; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .table_body_topics {
    /* font-size: 15px; */
    /* / font-weight: bold; / */
    display: flex;
    justify-content: center;
    align-items: center;
    

    color: #000;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .table_body_topics:nth-child(1) {
    font-size: 15px;
    font-weight: bold;
  }
  
 

  .list-with-images li {
    list-style: none; /* Remove default list-style (disc/circle/square) */
    position: relative; /* Position relative for positioning the image */
    padding-left: 27px; /* Adjust the left padding to make space for the image */
  }
  
  .list-with-images li:before {
    content: ''; /* Empty content for the generated pseudo-element */
    background-image: url('/assets/image/permissionView.png'); /* Specify the path to your image */
    background-size: contain; /* Adjust the size of the image */
    width: 16px; /* Adjust the width of the image */
    height: 16px; /* Adjust the height of the image */
    position: absolute; /* Position absolutely within the list item */
    left: 0; /* Position at the left side */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust vertical positioning */
    margin-right: 8px; /* Add some space between the image and the text */
  }
  


  .deleteRole{
    display: flex;
width: 184px;
height: 39px;
justify-content: center;
align-items: center;
gap: 6px;
flex-shrink: 0;
border-radius: 100px;
border: 1px solid #D92651;
color: #D92651;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .deleteRole:hover{
    display: flex;
width: 184px;
height: 39px;
justify-content: center;
align-items: center;
gap: 6px;
flex-shrink: 0;
border-radius: 100px;
background: #D92651;
color: #FFFFFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .deleteRole img.RoleHover {
    transition: 0.3s; /* Add a smooth transition effect if needed */
}

.deleteRole:hover img.RoleHover {
    content: url('/assets/image/icon/deleteRoleHover.svg');
}


  .editPermission{
    display: flex;
padding: 10px 30px;
align-items: center;
gap: 10px;
border-radius: 100px;
border: 1px solid #129B4B;
width: 184px;
height: 39px;
color: #129B4B;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .editPermission:hover{
    display: inline-flex;
padding: 10px 30px;
align-items: center;
gap: 10px;
border-radius: 100px;
background: #129B4B;
color: #FFFFFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: 184px;
height: 39px;
  }

  .editPermission img.PermissionHover {
    transition: 0.3s; /* Add a smooth transition effect if needed */
}

.editPermission:hover img.PermissionHover {
    content: url('/assets/image/icon/editPermissionHover.svg');
}

.Rolebutton{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}


/* for seach start */

.search-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.search_icon_added_position_list {
  width: 20px;
  height: 20px;
  position: relative;
  left: 35px;
}

.search_added_position_list {
  height: 40px;
  width: 100%;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 15px 45px;
}

.search_added_position_list {
  height: 36px;
  width: 100%;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 15px 45px;
}

.button_added_position_list {
  height: 36px;
  /* display: flex;
  flex: 1; */
  padding: 0px 20px;
  font-size: 18px;
  background-color: #421cdd;
  color: #fff;
  outline: none;
  border: 1px solid #421cdd;
  border-radius: 8px;
}

/* for seach end */

/* for pagenation start */
.added_positions_list_right {
  display: flex;
  align-items: center;
}

.added_positions_under_head {
  font-size: 14px;
  padding: 10px;
}

.added_positions_under_head_select {
  border: 1px solid #adadad;
  font-size: 18px;
  padding: 0px;
  border-radius: 8px;
}

.table_footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.recruitment_list_number {
  margin: 0px 10px;
  display: flex;
  cursor: pointer;
}
.recruitment_list_number_value.active_num {
  background-color: #d9d9d9;
  /* color: #000000;
    border-radius: 15px;
    height: 25px;
    width: 25px;
    padding: 2px 8px;
    margin: 0px 5px; */
}

.recruitment_list_number_value {
  background-color: #ffffff00;
  color: #000000;
  border-radius: 15px;
  height: 25px;
  width: 25px;
  padding: 2px 8px;
  margin: 0px 5px;
}
/* for pagenation end */



.head{
  color: #000;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.selectPermission{
  color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.SlectedAdd{
  color: #2F37A4;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 177px;
height: 58px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #2F37A4;
background: #FFF;
}

.selectedRole{
  width: 417px;
height: 58px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #808080;

background: #FFF;
}

.modal {
  --bs-modal-zindex: 1000 !important;
  background-color: #78787867;
  
}

/* Your component.css file */
.selected-permissions-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border: 1px solid #808080;
  padding: 8px;
  border-radius: 10px;
  width: 97%;
}

.selected-permission {
  background-color: #DFEAFF;
  padding: 4px 8px;
  border-radius: 100px;
  display: inline-flex;
padding: 7px 15px;
justify-content: center;
align-items: center;
gap: 12px;
}


.permissionRemove{
  width: 12px;
height: 12px;
}

.cross-icon {
  cursor: pointer;
  margin-left: 5px; /* Adjust the spacing as needed */
}

.cross-icon:hover {
  color: red; /* Change the color on hover as needed */
}



/* employee grid view start */

.employee{
  display: flex;
  /* width: 232px; */
  /* width: 23%;*/
height: 100%; 
flex-direction: column;
align-items: center;
border-radius: 10px;
border: 1px solid #808080;

background: #FFF;

align-items: normal;
gap: 23px;
/* margin-right: 16px; */
margin-bottom: 16px;
}


.icon{
  display: flex;
  /* width: 190px; */
  /* height: 50px; */
  /* padding: 5px 13px; */
  margin: 10px 10px 0px 0px;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  font-size: x-large;
  cursor: pointer; 
  transition: transform 0.3s;
  transform-origin: top right;
}


.icon:active {
  color: #421CDD;
  transform: scale(.9);
}


.emp1{
  width: 95px;
height: 95px;
flex-shrink: 0;
border-radius: 50%;
margin-top: -10px;
cursor: pointer;
}


.nameGrid{
  color: #000;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.titleGrid{
  color: #000;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: -16px;
}

/* employee grid view end */

/* employee list view start */

.employeeList{
  display: flex;
/* width: 989px; */
align-items: center;
gap: -8px;
border-radius: 10px;
border: 1px solid #808080;
background: #FFF;
height: 70px;
}

.nameList{
  color: #000;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 22px;
}

.titleList{
  color: #000;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 50px;
}

.empList{
  width: 50px;
height: 50px;
flex-shrink: 0;

}

.iconList{
  display: flex;
  padding: 5px 13px;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  font-size: x-large;
  cursor: pointer; 
  transition: transform 0.3s;
  /* transform-origin: top right; */
}


.iconList:hover {
  color: #421CDD;
  transform: scale(1.2);
}

/* employee list view end */

.allEmp{
  color: #000;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.list{
  display: flex;
padding: 5px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: #FFF;
width: 50px;
height: 50px;
cursor: pointer;
}


.searchEmp{
  width: 100%;
/* height: 58px; */
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #808080;
background: #FFF;
}

.searchEmpButton{
  display: flex;
width: 100%;
/* height: 58px; */
padding: 8px 50px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;
background: #421CDD;
}


.not_data_img_div {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  padding: 20px;
}




/* team leave table */




/*  */

.thName{
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
/* background-color: #DFEAFF !important; */
border-right: 2px solid #D9D9D9;

    height: 100%;
}

.tdData:nth-child(even) {
  background-color: #ffffff;
  
}
.tdData:nth-child(odd) {
  background-color: #e5e5e5;
}

table{
  border-radius: 5px !important;
}

.Approve{
  display: flex;
  /* padding: 5px 20px; */
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background: #129B4B;
  color: #FFF;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.Reject{
  display: flex;
padding: 5px 20px;
justify-content: center;
align-items: center;
gap: 20px;
border-radius: 10px;
background: #D92651;
color: #FFF;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.emailId{
  color: #421CDD;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-right: 2px solid #D9D9D9;
height: 100%;
}

.textBold{
  color: #000;
font-size: 15px;
font-style: normal;
font-weight: 500 !important;
line-height: normal;
border-right: 2px solid #D9D9D9;
height: 100%;

}

.textNormal{
  color: #000;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-right: 2px solid #D9D9D9;
height: 100%;
}

.table tbody tr:nth-child(even) {
  background-color: #ffffff !important;
}

.table tbody tr:nth-child(odd) {
  background-color: #e5e5e5 !important;
}

.table {
  --bs-table-bg: none !important;
  border: 3px solid #d9d9d9;
  width: max-content !important;
  text-align: center;
  
}

.table>thead {
  vertical-align: center;
  border: 3px solid #d9d9d9;
  vertical-align: middle;
  height: 50px;
}





.Report{
  width: 360px;
height: 94px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #B0B0B0;
background: #FFF;
}
.cardIconReport{
  width: 60px;
height: 60px;
flex-shrink: 0;
}
.cardIconTextReport{
  color: #000;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.ReportDownload{
  display: inline-flex;
/* padding: 8px 30px; */
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #129B4B;
color: #FFF;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
height: max-content;
}

.Attaction{
  display: flex;
/* width: 200px; */
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 53px;
border: 1px solid #ADADAD;
background: #FFF;
text-align: center;
}

.searchExcel{
  width: 50%;
/* height: 58px; */
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #808080;
background: #FFF;
}


/* / recruitment css start / */
.recruit_form {
  background-color: #ffffff !important;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0px 120px;
}
.recruit_form_other_rule{
  background-color: #ffffff !important;
  border-radius: 20px !important;
  padding: 20px !important;
  border: 1px solid whitesmoke !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  margin: 0px 200px !important;
}
.recruit_form_other_rule_attendance{
  background-color: #ffffff !important;
  border-radius: 20px !important;
  padding: 20px !important;
  border: 1px solid whitesmoke !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  margin: 0px 160px !important;
}
@media screen and (max-width: 1024px) {
  .recruit_form{
    background-color: #ffffff !important;
    border-radius: 20px !important;
    padding: 20px !important;
    border: 1px solid whitesmoke !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    margin: 0px 0px !important;
  }
  .recruit_form_other_rule{
    background-color: #ffffff !important;
    border-radius: 20px !important;
    padding: 20px !important;
    border: 1px solid whitesmoke !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    margin: 0px 0px !important;
  }
  .recruit_form_other_rule_attendance{
    background-color: #ffffff !important;
    border-radius: 20px !important;
    padding: 20px !important;
    border: 1px solid whitesmoke !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    margin: 0px 0px !important;
  }
 
}

.add_position {
  font-weight: 600;
  margin: 2rem 0rem;
}
.recruit_label_div {
  display: flex;
  justify-content: center;
 
}
.recruit_label {
  font-size: 1.1rem;
  margin: 1rem 0rem;
  padding: 0.2rem;
  color: #000;
}
.leave_rule{
    display: flex;
    justify-content: center;
    align-items: center;
}
.leave_rule_label{
  font-size: 1.1rem;
  cursor: pointer;
  margin: 1rem 0rem;
  padding: 0.2rem;
  color: #000;
}
.leave_rule_input {
  height: 1.2rem;
  width: 1.2rem;
}



.to_recruitment {
  font-size: 1rem;
  margin: 1rem 0rem;
  padding: 0.2rem;
  color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
}


.recruit_input::-ms-expand {
  display: none; 
}
.recruit_input {
 
  outline: none;
  height: 2.6rem;
  width: 100%;
  border: 1px solid #808080;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0rem 1rem;
  color: #000000;
  background-color: #ffffff00;
  font-size: 1.1rem;
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.invalid-border,
.invalid-border::placeholder {
  border-color: red;
  color: red;
}

.recruit_input_select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px; 
  padding-right: 30px;
  border: none;
  outline: none;
  height: 2.6rem;
  width: 100%;
  border: 1px solid #808080;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0rem 1rem;
  color: #000000;
  background-color: #ffffff00;
  font-size: 1.1rem;
}
.select-wrapper {
  position: relative;
  display: inline-block;
}
.custom-arrow {
  position: absolute;
  top: 50%;
  right: 13%; 
  transform: translateY(-50%);
  width: 18px; 
  height: 18px; 
  background: url("../../../assets/image/select_icon_recruitment.svg") center
    center no-repeat;
  background-color: #fff;
  background-size: contain;
  pointer-events: none;
}

.recruit_input_radio {
  display: none;
}

.recruit_input_radio + label {
  position: relative;
  margin: 1.1rem 0rem 0rem 0.5rem;
  padding-left: 35px; 
  cursor: pointer;
  display: inline-block;
  line-height: 15px; 
}

.recruit_input_radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: #fff;
  display: inline-block;
}

.recruit_input_radio:checked + label::before {
  background-color: #3b26c9; 
  border-color: #3b26c9;
}

.recruit_input_radio:checked + label::after {
  content: "\f00c"; 
  position: absolute;
  left: 4px;
  top: 2px; 
  font-family: "FontAwesome"; 
  color: #fff;
  font-size: 14px; 
}
.recruit_input .recruit_textarea::placeholder {
  color: #cdcdcd;
}
.recruit_input option {
  background-color: #ffffff;
  color: #000000;
}

.recruit_textarea {
  border: none;
  outline: none;
  border: 1px solid #808080;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 1rem 1rem;
  color: #000000;
  background-color: #ffffff00;
  font-size: 1.1rem;
  width: 100%;
  resize: none;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #808080 #f0f0f0;

  &::-webkit-scrollbar {
    width: 6px; 
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    height: 8px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: #808080; 
    border-radius: 5px; 
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
}
.position_no_input_icon {
  display: flex;
 
}
.position_no_input_Annual {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.position_no_input_icon_radio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.position_no_icon {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  justify-content: center;
  align-items: start;
}
.icon_position {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  border-radius: 10rem;
  height: 1.5rem;
  width: 1.5rem;
  padding: 2px;
 
  cursor: pointer;
}

.date_of_open_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon_date_of_open {
  color: #fff;
  background-color: #000;
  border-radius: 10rem;
  height: 2.3rem;
  width: 2.3rem;
  padding: 0.75rem;
  opacity: 0.7;
  transition: transform 0.3s ease-in-out;
}
.icon_date_of_open:hover {
  opacity: 1;
  transform: scale(1.2);
}

.recruitment_button {
  margin-top: 40px;
  outline: none;
  color: #2f37a4;
  border: 1px solid #2f37a4;
  background-color: #cccccc00;
  border-radius: 10rem;
  height: 3rem;
  width: 10rem;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.recruitment_button:hover {
  background-color: #2f37a4;
  color: #fff;
  font-weight: 600;
}
.recruitment_button_edit {
  margin-top: 40px;
  outline: none;
  color: #26d926;
  border: 1px solid #26d926;
  background-color: #cccccc00;
  border-radius: 10rem;
  height: 3rem;
  width: 10rem;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.recruitment_button_edit:hover {
  background-color: #26d926;
  color: #fff;
  font-weight: 600;
}
.recruitment_button_cancel {
  margin-top: 40px;
  outline: none;
  color: #D92651;
  border: 1px solid #D92651;
  background-color: #cccccc00;
  border-radius: 10rem;
  height: 3rem;
  width: 10rem;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.recruitment_button_cancel:hover {
  background-color: #D92651;
  color: #fff;
  font-weight: 600;
}
.candidate_Type {
  cursor: pointer;
  
}

.head_added_list_position {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem;
 
}
.added_positions_list_head {
  font-size: 1.5rem;
  font-weight: bold;
}
.congratulations_text{
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
}
.added_positions_list_right {
  display: flex;
  align-items: center;
}
.search-container {
  display: flex;
  align-items: center;
  padding: 10px;
}
.search_added_position_list {
  height: 40px;
  width: 100%;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 15px 45px;
}
.button_added_position_list {
  height: 40px;
  /* display: flex;
  flex: 1; */
  padding: 0px 20px;
  font-size: 18px;
  background-color: #421cdd;
  color: #fff;
  outline: none;
  border: 1px solid #421cdd;
  border-radius: 8px;
}
/* .recruitment_button {
  color: #421cdd;
  display: flex;
} */
.search_icon_added_position_list {
  width: 20px;
  height: 20px;
  position: relative;
  left: 35px;
}
.recruit_table {
 
  flex-shrink: 1;
  overflow-x: auto;
}
.table_head {
  line-height: 50px;
  background-color: #3330B1;
  color: #fff;
  display: flex;
  flex: 1;
  justify-content: space-around;
 
  border: 3px solid #d9d9d9;
  border-radius: 10px 10px 0 0;

  min-width: 900px;
}
.table_body {
  line-height: 50px;
  color: #000;
  display: flex;
  flex: 1;
  justify-content: space-around;
 
  border: 3px solid #d9d9d9;
  min-width: 900px;
}
.table_body:nth-child(even) {
  background-color: #ffffff;
}
.table_body:nth-child(odd) {
  background-color: #e5e5e5;
}
.table_head_topics {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.table_body_topics {
  font-size: 15px;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_body_topics:nth-child(1) {
  font-size: 15px;
  font-weight: bold;
}

.table_footer {
  display: flex;
  width: 97%;
  justify-content: flex-end;
  align-items: center;
 
}
.recruitment_list_number {
  margin: 0px 10px;
  display: flex;
  cursor: pointer;
 
}
.recruitment_list_number_value.active_num {
  background-color: #d9d9d9;
  
}
.recruitment_list_number_value {
  background-color: #ffffff00;
  color: #000000;
  border-radius: 15px;
  height: 25px;
  width: 25px;
  padding: 2px 8px;
  margin: 0px 5px;
}

.added_positions_under_head {
  font-size: 18px;
  padding: 10px;
}
.added_positions_under_head_select {
  border: 1px solid #adadad;
  font-size: 18px;
  padding: 3px;
  border-radius: 8px;
}

.position_detailes_name_status {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0px 0px 0px;
}
.position_detailes_name_status_value {
  font-size: 16px;
  font-weight: 400;
}
.position_detailes_1_name {
  color: #2a428c;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
 
  line-height: 25px;
}
.position_detailes_1_button {
  border: 2.3px solid #dd1717;
  background-color: #d926511c;
  color: #dd1717;
  padding: 8px 30px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 20px;
}
.position_detailes_2_button {
  border: 2.3px solid #00a746;
  background-color: #26d96b1c;
  color: #00a746;
  padding: 8px 30px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 20px;
}
.position_detailes_3_button {
  border: 2.3px solid #421cdd;
  background-color: #3226d91c;
  color: #421cdd;
  padding: 8px 30px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 20px;
}

.position_detailes_2_name_data {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 10px;
  line-height: 50px;
 
}
.position_detailes_2_name_1_data {
  display: flex;
  font-size: 17px;
  padding: 0px 10px;
}
.recruit_form_button_edit_delete {
  outline: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  line-height: 50px;
  margin: 5px 0px;
  background-color: #fff;
}
.recruit_form_button_edit_delete:nth-child(1) {
  color: #00a746;
  border: 2px solid #00a746;
}
.recruit_form_button_edit_delete:nth-child(2) {
  color: #dd1717;
  border: 2px solid #dd1717;
}

#file-input-container {
  display: flex;
  align-items: center;
}

#file-name {
  flex: 1;
  margin-right: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#select-file-btn {
  cursor: pointer;
 
  background-color: #2f37a4;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin: 5px -10px 6px 2px;
}

#file-input {
  display: none;
}

.country-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  position: relative;
}

.flag-container {
  width: 20%;
  height: 35%;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 70px;
  border-radius: 74px;
}
.flag-container_registration {
  width: 20%;
  height: 55%;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 79px;
  border-radius: 74px;
}

.flag-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flag-container_registration img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recruit_input_select_countryCode {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  height: 2.6rem;
  width: 90%;
  border: 1px solid #808080;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0px 0px 0px 0px;
  color: #000000;
  background-color: #ffffff00;
  font-size: 1.1rem;
}

.interview_status {
  border: none;
  outline: none;
  height: 2.3rem;
  width: 60%;
  border: 1px solid #808080;
  border-radius: 10rem;
  margin: 0.5rem;
  padding: 0px 0px 0px 15px;
  color: #000000;
  background-color: #ffffff00;
  font-size: 1.1rem;
  font-weight: bold;
}
.interview_status.candidate_data {
  border: none;
  outline: none;
  height: 30px;
  width: 90%;
  border: 1px solid #808080;
  border-radius: 10rem;
  margin: 0.5rem;
  padding: 0px 0px 0px 15px;
  color: #000000;
  background-color: #ffffff00;
  font-size: 12px;
  font-weight: bold;
}

.interview_status.open {
  color: #421cdd;
  
}
.interview_status.notProcessed {
  color: #421cdd;
  
}
.interview_status.Scheduled {
  color: #129b4b;
  
}

.interview_status.closed {
  color: #dd1717;
  
}
.interview_status.rejected {
  color: #dd1717;
  
}

.interview_status.onHold {
  color: #129b4b;
 
}
.interview_status.onHold1 {
  color: #ffbd2a;
 
}
.interview_status.selected {
  color: #129b4b;
 
}
.interview_status.confirmed {
  color: #129b4b;
 
}
.interview_status.notConfirmed {
  color: #dd1717;
 
}
.interview_status option {
  color: #000;
  background-color: #fff;
}

.interview_action_data {
  gap: 10px;
}

.not_data_img_div {
 
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  padding: 20px;
}
.bg_icon_minus {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border-radius: 10rem;
  height: 25px;
  width: 25px;
  padding: 7px 0px 0px 7px;
  margin-left: 10px;
  font-weight: bold;
}
.bg_icon_plus {
  background: #421cdd;
  height: 46px;
  width: 176px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  color: #fff;
}

.document_data {
  overflow-x: auto;
  width: 80%;
  margin-left: 10px;
  
  height: 35px;
  scrollbar-width: thin;
  scrollbar-color: #808080 #f0f0f0;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.multipleStepBar {
  margin: 70px 200px;

}
.border_bottom_div {
  width: 20%;
  background-color: #b0b0b0;
  height: 1px;
}

.icon_check_multiple {
  position: relative;
  text-align: center;
  margin: 15px;
  cursor: pointer;
  background-color: #B0B0B0;
  border-radius: 25px;
  width: 39px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.icon_check_multiple.active_multipleStepBar_icon {
  background-color: #2f37a4;
  color: #fff;
  transform: scale(1.2);
}
.icon_check_multiple.personal_information_icon::before {
  content: "Personal Information";
  color: #000;
  width: 200px;
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.icon_check_multiple.bank_details_icon::before {
  content: "Bank Details";
  color: #000;
  width: 200px;
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.icon_check_multiple.documents_icon::before {
  content: "Documents";
  color: #000;
  width: 200px;
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.icon_check_multiple.onboarding_management_icon::before {
  content: "Previous Organization";
  color: #000;
  width: 200px;
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.icon_check_multiple.done_icon::before {
  content: "Done";
  color: #000;
  width: 200px;
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}


.mat-mdc-select-trigger{
  top: -1px !important;
}
/* .icon_check_multiple.done_icon {
  position: relative;
  text-align: center;
} */

/* / recruitment css end / */


.EditHolidayIcon{
  width: 24px;
height: 20px;
flex-shrink: 0;
}

.holidayReason{
  display: flex;
/* width: 200px; */
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
border: 1px solid #ADADAD;
background: #FFF;
text-align: center;
}


/* update leave start */
.modal {
  --bs-modal-zindex: 1000 !important;
  background-color: #78787867;
  
}

.leaveHeader{
  color: #3430B3;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.leaveType{
  color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.leaveInput{
  display: flex;
padding: 14px 30px 14px 19px;
align-items: center;
border-radius: 10px;
border: 1px solid #CDCDCD;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}
.custom-arrow {
  position: absolute;
  top: 50%;
  right: 13%; 
  transform: translateY(-50%);
  width: 18px; 
  height: 18px; 
  background: url("/assets/image/applyLeave.png") center
    center no-repeat;
  background-color: #fff;
  background-size: contain;
  pointer-events: none;
}

.submitLeave{
  display: flex;
/* width: 258px; */
padding: 19px 54px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
background: #401DDE;
color: #FFF;

text-align: center;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
height: 20px;
}

.cancelLeave{
  display: flex;
/* width: 256px; */
height: 20px;
padding: 19px 54px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
background: #EF556A;
color: #FFF;

text-align: center;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}

/* update leave end */



.payroll_labelEarning{
  font-size: 23px;
  font-weight: 600;
  color: #129b4b;
}

.payroll_labelDeduction{
  font-size: 23px;
  font-weight: 600;
  color:red;
}


.timeInputCss{
  outline: none;
  border:none;
vertical-align: middle;
text-align: center;

  width: 40px;
}
/* / Hide the default spinner icons for number input / */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* / Hide the default spinner icons for number input in Firefox / */
input[type="number"] {
  -moz-appearance: textfield;
}

.saveCssOfferLetter{
  background-color: #421CDD;
  color: #fff;
}
.sendCssOfferLetter{
  background-color: #7919EF;
  color: #fff;
}
.reGanCssOfferLetter{
  background-color: #129B4B;
  color: #fff;
}
.deleteCssOfferLetter{
  background-color: #D92651;
  color: #fff;
}
.document-data::-webkit-scrollbar {
  display: none;
}

/* add performance start */

.leaveTitle {
  color: #343A40;
  text-align: center;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  margin-top: -25px;
}
.LeaveChart {

  display: flex;
  /* width: 95%; */
  padding: 38px 19px 30px 19px;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 34px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 15.7px 0px rgba(0, 0, 0, 0.14);
  margin: 10px;
}

.performance {

  display: flex;
  /* width: 95%; */
  padding: 38px 19px 30px 19px;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 34px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 15.7px 0px rgba(0, 0, 0, 0.14);
}

.nav-pills {
  display: flex;
  /* width: 183px;
height: 48px;  */
  /* padding: 10px 35px; */
  justify-content: center;
  align-items: center;
  border: 1px solid #C9CBA7;
  background: #F9FCED;
  margin-top: -39px;
}

.nav-link {
  display: flex;
  justify-content: center;
  color: #808547;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}



.nav-item {
  border-right: 1px solid #C9CBA7;
  padding: inherit;
}


.nav-item:last-child {
  border-right: none;
}

/* .nav-pills .nav-item.show .nav-link,
.nav-pills .nav-item.active {
  background-color: blue;
  color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
  
} */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #FFF !important;
  background-color: #421CDD !important;
  border-radius: 0px;
}

.status {
  display: flex;
  /* height: 58px; */
  padding: 10px 98.5px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 20px 20px 0px 0px;
  background: #401DDE;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.02);
  color: #FFF;
  /* margin-right: 10px; */
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.probationStatus {
  display: flex;
  justify-content: center;
  width: 262px;
  padding: 14px 36px;
  align-items: center;
  gap: 11px;
  border-radius: 20px 20px 0px 0px;
  background: #D4F3E1;

  color: #1C8649;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}


.completed-status {
  background: #D4F3E1;
  color: #1C8649;
}

.not-completed-status {
  background: #FFD5D1;
  color: #A94037;
}

.ongoing-status {
  background: #FFE5A2;
  color: #767219;
}

.statusPara {
  color: #DD1717;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.statusP {
  color: #343A40;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-align: justify;
}


.star-rating::before {
  content: "\2605";
  /* Unicode character for a solid star */
  color: gold;
}

/* Add the appropriate styles for half stars or empty stars if needed */
.star-rating[data-rating*=".5"]::before {
  content: "\2605\00BD";
  /* Unicode characters for a solid star and half star */
}

.star-rating[data-rating="0"]::before {
  content: "\2606";
  /* Unicode character for an empty star */
  color: #ccc;
}


.discipline {
  display: flex;
  width: 179.479px;
  padding: 11.633px 10.802px;
  align-items: center;
  gap: 9.14px;
  flex-shrink: 0;
  border: 1px solid #8C6A13;
  background: #FFE5A2;
  color: #8C6A13;

  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.disciplineRating {
  display: flex;
  height: 48.465px;
  align-items: flex-start;
  border-radius: 6.207px;
  border: 1.862px solid #E47D43;
}

.appraisal{
   
  font-weight: 600;

}
.appraisalText{
  color: #0C0E0F;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-align: start;
}

.appraisalStatus{
  border: 1px solid #146D38;
  background: #A4F2C4;
  color: #146D38;
  width: 90%;
  height: 40px;
  padding: 8px;
  margin-top: -10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noteCss{
  padding: 20px 20px 20px 20px !important;
  background-color: #F1EDFF !important;
  box-shadow: 0px 10px 15.7px 0px rgba(0, 0, 0, 0.14) !important;
}

.inputForMonth {
  outline: none;
  border: none;
  font-size: 22px;
}
.inputDivCss {
  border-bottom: 1.5px solid #a9a8ad;
  padding: 10px 0px 20px 0px;
}
.colorCss1 {
  border: 1.5px solid #8c6a13;
  color: #8c6a13;
  background-color: #ffe5a2;
}
.colorCss2 {
  border: 1.5px solid #146d38;
  color: #146d38;
  background-color: #a4f2c4;
}
.colorCss3 {
  border: 1.5px solid #274699;
  color: #274699;
  background-color: #c6d4fa;
}
.colorCss4 {
  border: 1.5px solid #cc2d5c;
  color: #cc2d5c;
  background-color: #ffd5d1;
}
.colorCss5 {
  border: 1.5px solid #cc2d2d;
  color: #cc2d2d;
  background-color: #ffd1d1;
}
.colorCss6 {
  border: 1.5px solid #ccc92d;
  color: #ccc92d;
  background-color: #fffcd1;
}
.colorCss7 {
  border: 1.5px solid #2dccbf;
  color: #2dccbf;
  background-color: #d1fdff;
}
.colorCss8 {
  border: 1.5px solid #9f2dcc;
  color: #9f2dcc;
  background-color: #f6d1ff;
}
.colorCss9 {
  border: 1.5px solid #cc822d;
  color: #cc822d;
  background-color: #fff0d1;
}
.boxForTitle {
  overflow: hidden;
  font-size: 18px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 75%;
  height: 40px;
  line-height: 40px;
  padding: 0px 0px 0px 5px;

}
.disciplineCss {
  border: 1.5px solid #8c6a13;
  color: #8c6a13;
  background-color: #ffe5a2;
}
.timingCss {
  border: 1.5px solid #146d38;
  color: #146d38;
  background-color: #a4f2c4;
}
.taskCss {
  border: 1.5px solid #274699;
  color: #274699;
  background-color: #c6d4fa;
}
.overallCss {
  border: 1.5px solid #cc2d5c;
  color: #cc2d5c;
  background-color: #ffd5d1;
}
.boxForTitle {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 40px;
}
.starCss {
    width: 75%;
  border: 1px solid #e47d43;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.labelCssForDemotion{
font-size: 18px;
font-weight: bold;

}
.boxColor8C6A13{
    border:1.5px solid #8C6A13;
    color: #8C6A13;
}
.boxColorDD1717{
    border:1.5px solid #DD1717;
    color: #DD1717;
}
.boxForDemotion{
  margin-top: -10px;
  text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    border-radius: 5px;
}
.performanceName{
  font-size: 22px;
    font-weight: 600;
    line-height: normal;
}
.boxColoraddPerformance{
  /* border:1.5px solid #C9CBA7; */
  /* color: #808547; */
}
.boxForaddPerformance{
  /* border:1.5px solid #8C6A13;
  color: #8C6A13; */
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  /* padding-left: 10px; */
}
/* add performance end */

.eyeButtonCss{
  background-color: #fff;
  outline: none;
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 0px 5px 5px;
  margin: 1px;
}
.focusCss:focus{
border: none !important;
outline: none !important;
}
.focusCss{
  border-right-width: 0px;
  border-left-width: 0px;
}
.changePassword{
  background-color: #e5e5e5;
    border-radius: 20px;
}




.calendar {
 
  margin: 0 auto;

gap: 47px;
border-radius: 10px;
background: #FFF;
position: relative;

box-shadow: 0px 4px 15.7px 0px rgba(0, 0, 0, 0.14);
}
.ActivitiesHeader {
  position: relative;
  background: #3330B1;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ActivitiesHeader::before,
.ActivitiesHeader::after {
    content: "";
    position: absolute;
    width: 50px; /* Adjust the width of the image */
    height: 50px; /* Adjust the height of the image */
    background-size: cover;
}

.ActivitiesHeader::before {
    width: 44px;
height: 35px;
position: absolute;
/* top: -27px; */
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
    background-image: url('/assets/image/performanceVector2.png'); /* Replace 'path/to/top_right_image.jpg' with the actual path to your top right image */
}

.ActivitiesHeader::after {
    width: 44px;
    height: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    background-image: url('/assets/image/performanceVector1.png'); /* Replace 'path/to/bottom_left_image.jpg' with the actual path to your bottom left image */
}

.performanceVector3{
width: 35px;
}
.performanceUserImg{
  width: 50px;
height: 50px;
flex-shrink: 0;
border-radius: 50%;
margin-top: -10px;
cursor: pointer;
}

.performanceUserName{
  color: #000;
font-size: 18px;
font-style: normal;
font-weight: 600;
padding-left: 20px;
}

.performanceUserEmail{
  color: #000;
font-size: 12px;
font-style: normal;
font-weight: 400;
padding-left: 20px;
}

.performance_button {
  margin-top: 40px;
  margin-bottom: 20px;
  outline: none;
  color: #2f37a4;
  border: 1px solid #2f37a4;
  background-color: #cccccc00;
  border-radius: 10rem;
  height: 3rem;
  width: 10rem;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.performance_button:hover {
  background-color: #2f37a4;
  color: #fff;
  font-weight: 600;
}

.starCssView {
  width: 100%;
border-radius: 5px;
padding: 0px 5px 0px 5px;
display: flex;
justify-content: space-around;
align-items: center;
}