You can add global styles to this file, and also import other style files
* {
    box-sizing: border-box;
  }
  :root {
    --background-color: black;
    --text-color: hsl(0, 0%, 100%);
    --none: none
  }
  body {
    margin: 0;
    background-color: var(--background-color);
  }
  body::-webkit-scrollbar {
    display: var(--none);
  }
