<div class="container">
    <div class="row">
        <div class="login_css">
            <div class="col-12 col-md-12 AVX_login_logo">
                <img src="../../assets/images/AVX_login_logo.svg" alt="">
            </div>
            <div class="col-12 col-md-12 AVX_login_input">
                <i class="fa fa-envelope"></i>
                <input type="text" placeholder="Enter email-id">
            </div>
            <div class="col-12 col-md-12 AVX_login_text">OTP</div>
            <div class="col-12 col-md-12 AVX_login_otp_input">
                <input type="tel"  maxlength="1" minlength="1">
                <input type="tel" maxlength="1" minlength="1">
                <input type="tel" maxlength="1" minlength="1">
                <input type="tel" maxlength="1" minlength="1">
            </div>
        </div>
    </div>
</div>