
<div>


    <!-- <div class="container"> -->
        <!-- <div class="row"> -->
            <div class="d-flex flex-wrap justify-content-center align-items-center mt-5">
                <div class="searchBar">
                    <div class="header_css_button_project" *ngIf="isOn">
                        <button data-bs-toggle="modal" data-bs-target="#addNewProject"><i class="fa fa-plus"></i> Add
                            New</button>
                    </div>
                    <div class="header_css_button_project" *ngIf="!isOn">
                        <button data-bs-toggle="modal" data-bs-target="#addNewTask"><i class="fa fa-plus"></i> Add
                            Task</button>
                    </div>
               <div class="creativeAssetSearch">
                <input type="text" id="searchBar" placeholder="Search" > <img src="../../../assets/images/creativeAssetsSearchIcon.svg" alt="" class="creativeAssetsSearchIcon">
               </div>
              </div>
              </div>
            
        <!-- </div> -->
        <div class=" d-flex justify-content-center align-items-center">
            <div class="toggle_css">
                <button class="button_css" [ngClass]="{'button_light': !isOn, 'button_success': isOn}"
                    (click)="toggleState(true)">
                    Project
                </button>
                <button class="button_css" [ngClass]="{'button_light': isOn, 'button_success': !isOn}"
                    (click)="toggleState(false)">
                    Task
                </button>
            </div>
        </div>
        <div class="" *ngIf="isOn">
            <div class="col-12 col-md-12 px-5 mt-5 overflow-auto ">
                <table class="table tAble_css table-striped">
                    <thead class="table-dark tHead_css">
                        <tr>
                            <th scope="col">Sr No</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Client Name</th>
                            <th scope="col">Starting Date</th>
                            <th scope="col">Deadline Date</th>
                            <th scope="col">Handel By</th>
                            <th scope="col">Download</th>
                            <th scope="col">Status</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody class="tBody_css">
                        <tr *ngFor="let projectData of projects;let i = index;">
                            <td scope="row" [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">{{i+1}}</td>
                            <td scope="row" [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">{{ projectData.name ||
                                "-"}}</td>
                            <td [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">{{ projectData.client_id.name || "-"
                                }}</td>
                            <td [ngClass]="{ 'bg-secondary': !projectData.is_enabled }"><i class="far fa-calendar"></i> {{ projectData.start_date | date:
                                'dd/MM/yyyy' || "-" }}</td>
                            <td style="color: #FF5B5B;" [ngClass]="{ 'bg-secondary': !projectData.is_enabled }"><i class="far fa-calendar" style="color: #FF5B5B;"></i> {{ projectData.deadline | date:
                                'dd/MM/yyyy' || "-" }}</td>
                            <td [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">{{ projectData.handel_by.name || "-"
                                }}</td>
                            <td [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">
                                <div data-bs-toggle="modal" (click)="getProjectById(projectData._id)"
                                    data-bs-target="#downloadProject">
                                    <img src="../../../assets/images/download_css_ing.svg" class="w-25" alt="">
                                </div>
                            </td>
                            <td [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">
                                <select class="select_css_code" [(ngModel)]="projectData.current_status"
                                    name="current_status"
                                    (change)="onChangeStatus(projectData._id,projectData.current_status)">
                                    <option value="Created">Created</option>
                                    <option value="Start">Start</option>
                                    <option value="Ongoing">Ongoing</option>
                                    <option value="Finished">Finished</option>
                                </select>
                            </td>
                            <td [ngClass]="{ 'bg-secondary': !projectData.is_enabled }">
                                <div class="icon_t_e_e">
                                    <i class="fa fa-trash"
                                        (click)="deleteProjectById(projectData._id,projectData.is_enabled)"
                                        *ngIf="projectData.is_enabled"></i>
                                    <i class="fas fa-trash-restore-alt"
                                        (click)="deleteProjectById(projectData._id,projectData.is_enabled)"
                                        *ngIf="!projectData.is_enabled"></i>
                                    <i *ngIf="projectData.is_enabled" class="fa fa-edit"
                                        (click)="getProjectById(projectData._id)" data-bs-toggle="modal"
                                        data-bs-target="#updateNewProject"></i>
                                    <i class="fa fa-eye" (click)="getProjectById(projectData._id)" data-bs-toggle="modal"
                                        data-bs-target="#viewNewProject"></i>
                                    <i *ngIf="projectData.is_enabled" class="fa fa-users"
                                        (click)="getProjectById(projectData._id)" data-bs-toggle="modal"
                                        data-bs-target="#viewProjectOpp"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="" *ngIf="!isOn">
            <div class="col-12 col-md-12 px-5 mt-5 overflow-auto ">
                <table class="table tAble_css table-striped">
                    <thead class="table-dark tHead_css">
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Task No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Assign To</th>
                            <th scope="col">Download</th>
                            <th scope="col">Status</th>
                            <th scope="col">Edit</th>
                          </tr>
                    </thead>
                    <tbody class="tBody_css">
                        <tr *ngFor="let task of tasks;let i = index;">
                            <td scope="row" [ngClass]="{ 'bg-secondary': !task.task_info.is_enabled }">{{ i+1 }}</td>
                            <td scope="row" [ngClass]="{ 'bg-secondary': !task.task_info.is_enabled }">{{ task.task_info.project_name  || "-" }}</td>
                            <td [ngClass]="{ 'bg-secondary': !task.task_info.is_enabled }">{{ task.task_info.task_number  || "-" }}</td>
                            <td [ngClass]="{ 'bg-secondary': !task.task_info.is_enabled }">{{ task.task_info.name  || "-" }}</td>
                            <td [ngClass]="{ 'bg-secondary': !task.task_info.is_enabled }">{{ task.task_info.assgined_team_member  || "-" }}</td>
                            <!-- <td>{{ task.handledBy }}</td> -->
                            <td [ngClass]="{ 'bg-secondary': !task.task_info.is_enabled }">
                                <div  data-bs-toggle="modal" (click)="getTaskById(task.task_info._id)"
                                data-bs-target="#downloadTask">
                                <img src="../../../assets/images/download_css_ing.svg" class="w-25" alt="">
                            </div>
                        </td>
                            <td [ngClass]="{ 'bg-secondary': !task.task_info.is_enabled }">
                              <select class="select_css_code" [(ngModel)]="task.task_info.current_status" name="current_status" (change)="onChangeStatus(task.task_info._id,task.task_info.current_status)">
                                <option value="Created">Created</option>
                                    <option value="Start">Start</option>
                                    <option value="Ongoing">Ongoing</option>
                                    <option value="Finished">Finished</option>
                              </select>
                            </td>
                            <td [ngClass]="{ 'bg-secondary': !task.task_info.is_enabled }">
                              <div class="icon_t_e_e">
                                <i class="fas fa-trash-restore-alt" *ngIf="!task.task_info.is_enabled" (click)="deleteTask(task.task_info._id,task.task_info.is_enabled)"></i>
                                <i class="fa fa-trash" *ngIf="task.task_info.is_enabled" (click)="deleteTask(task.task_info._id,task.task_info.is_enabled)"></i>
                                <i class="fa fa-edit" *ngIf="task.task_info.is_enabled" (click)="getTaskById(task.task_info._id)"  data-bs-toggle="modal" data-bs-target="#updateNewTask"></i>
                                <i class="fa fa-eye"  (click)="getTaskById(task.task_info._id)" data-bs-toggle="modal" data-bs-target="#viewNewTask"></i>
                              </div>
                            </td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="addNewProject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: yellow;">
                    <div class="col-12 col-md-12 d-flex flex-nowrap">
                        <div class="col-11 col-md-11 text_add_p_css">
                            <div class="modal-title fs-5" id="exampleModalLabel">Add Project</div>
                        </div>
                        <div class="col-1 col-md-1 text-end text-white">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body m-4">
                    <form #saveProjectForm="ngForm" (ngSubmit)="saveProject(projectSave)">
                        <div class="col-12 col-md-12 d-flex flex-wrap">
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Project Name</label>
                                    <input type="text" placeholder="Project Name" [(ngModel)]="projectSave.name" name="name"
                                        required>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 d-flex flex-wrap">
                                <div class="col-12 col-md-6">
                                    <div class="add_css_pro_code">
                                        <label>Starting Date</label>
                                        <input type="date" [(ngModel)]="projectSave.start_date" [min]="currentDate"
                                            name="start_date" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="add_css_pro_code">
                                        <label>Deadline Date</label>
                                        <input type="date" [(ngModel)]="projectSave.deadline" [min]="projectSave.start_date"
                                            name="deadline" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Short Name</label>
                                    <input type="text" placeholder="Short Name" [(ngModel)]="projectSave.short_name"
                                        name="short_name" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Client Name</label>
                                    <select [(ngModel)]="projectSave.client_id" name="client_id" required>
                                        <option value="" disabled selected>Select Client</option>
                                        <option *ngFor="let client of clients" [value]="client._id">{{client.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Project Type</label>
                                    <select [(ngModel)]="projectSave.project_type" name="project_type" required>
                                        <option value="" disabled selected>Select Project Type</option>
                                        <option *ngFor="let type of get_project_type" [value]="type._id">
                                            {{type.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Handled By</label>
                                    <select [(ngModel)]="projectSave.handel_by" name="handel_by" required>
                                        <option value="" disabled selected>Select Handled By</option>
                                        <option *ngFor="let handel_by of handel_By" [value]="handel_by._id">
                                            {{handel_by.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Upload Doc.</label>
                                    <input type="file" (change)="onChangeProjectSave($event)"
                                        [(ngModel)]="projectSave.project_resourses" name="project_resourses">
                                </div>
                            </div>
                            <!-- <div class="col-12 col-md-12">
                                <div class="add_css_pro_code">
                                    <label>Other Information</label>
                                    <input type="text" placeholder="Other Information" [(ngModel)]="projectSave.desc"
                                        name="desc">
                                </div>
                            </div> -->
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="save_css_button_code">
                                <button [disabled]="saveProjectForm.invalid" data-bs-dismiss="modal" aria-label="Close">Save</button>
                            </div>
                        </div>
                    </form>
    
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="modal fade" id="addNewTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: yellow;">
                    <div class="col-12 col-md-12 d-flex flex-nowrap">
                        <div class="col-11 col-md-11 text_add_p_css">
                            <div class="modal-title fs-5" id="exampleModalLabel">Add Task</div>
                        </div>
                        <div class="col-1 col-md-1 text-end text-white">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body m-4">
                    <form #saveProjectForm="ngForm" (ngSubmit)="saveProject(projectSave)">
                        <div class="col-12 col-md-12 d-flex flex-wrap">
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Project Name</label>
                                    <input type="text" placeholder="Project Name" [(ngModel)]="projectSave.name" name="name"
                                        required>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 d-flex flex-wrap">
                                <div class="col-12 col-md-6">
                                    <div class="add_css_pro_code">
                                        <label>Starting Date</label>
                                        <input type="date" [(ngModel)]="projectSave.start_date" [min]="currentDate"
                                            name="start_date" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="add_css_pro_code">
                                        <label>Deadline Date</label>
                                        <input type="date" [(ngModel)]="projectSave.deadline" [min]="projectSave.start_date"
                                            name="deadline" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Short Name</label>
                                    <input type="text" placeholder="Short Name" [(ngModel)]="projectSave.short_name"
                                        name="short_name" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Client Name</label>
                                    <select [(ngModel)]="projectSave.client_id" name="client_id" required>
                                        <option value="" disabled selected>Select Client</option>
                                        <option *ngFor="let client of clients" [value]="client._id">{{client.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Upload Doc.</label>
                                    <input type="file" (change)="onChangeProjectSave($event)"
                                        [(ngModel)]="projectSave.project_resourses" name="project_resourses">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Handled By</label>
                                    <select [(ngModel)]="projectSave.handel_by" name="handel_by" required>
                                        <option value="" disabled selected>Select Handled By</option>
                                        <option *ngFor="let handel_by of handel_By" [value]="handel_by._id">
                                            {{handel_by.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="add_css_pro_code">
                                    <label>Other Information</label>
                                    <input type="text" placeholder="Other Information" [(ngModel)]="projectSave.desc"
                                        name="desc">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="save_css_button_code">
                                <button [disabled]="saveProjectForm.invalid">Save</button>
                            </div>
                        </div>
                    </form>
    
                </div>
            </div>
        </div>
    </div> -->
    
    <div class="modal fade" id="updateNewProject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: yellow;">
                    <div class="col-12 col-md-12 d-flex flex-nowrap">
                        <div class="col-11 col-md-11 text_add_p_css">
                            <div class="modal-title fs-5" id="exampleModalLabel">Update {{projectUpdate.short_name}} Project
                            </div>
                        </div>
                        <div class="col-1 col-md-1 text-end text-white"><button type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button></div>
                    </div>
                </div>
                <div class="modal-body m-4">
                    <form #updateProjectForm="ngForm" (ngSubmit)="updateProjectById(projectUpdate)">
                        <div class="col-12 col-md-12 d-flex flex-wrap">
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Project Name</label>
                                    <input type="text" placeholder="Project Name" [(ngModel)]="projectUpdate.name"
                                        name="name" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 d-flex flex-wrap">
                                <div class="col-12 col-md-6">
                                    <div class="add_css_pro_code">
                                        <label>Starting Date</label>
                                        <input type="date" [(ngModel)]="projectUpdate.start_date" [min]="currentDate"
                                            name="start_date" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="add_css_pro_code">
                                        <label>Deadline Date</label>
                                        <input type="date" [(ngModel)]="projectUpdate.deadline"
                                            [min]="projectUpdate.start_date  || currentDate" name="deadline" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Short Name</label>
                                    <input readonly type="text" placeholder="Short Name"
                                        [(ngModel)]="projectUpdate.short_name" name="short_name" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Client Name</label>
                                    <select [(ngModel)]="projectUpdate.client_id._id" name="client_id" required>
                                        <option value="" disabled selected>Select Client</option>
                                        <option *ngFor="let client of clients" [value]="client._id">{{client.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Upload Doc.</label>
                                    <input type="file" (change)="onChangeProjectUpdate($event)"
                                        [(ngModel)]="projectUpdate.project_resourses" name="project_resourses">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Handled By</label>
                                    <select [(ngModel)]="projectUpdate.handel_by._id" name="handel_by" required>
                                        <option value="" disabled selected>Select Handled By</option>
                                        <option *ngFor="let handel_by of handel_By" [value]="handel_by._id">
                                            {{handel_by.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="add_css_pro_code">
                                    <label>Other Information</label>
                                    <input type="text" placeholder="other information" [(ngModel)]="projectUpdate.desc"
                                        name="desc">
                                </div>
                            </div>
                        </div>
    
                        <div class="col-12 col-md-12">
                            <div class="save_css_button_code">
                                <button [disabled]="updateProjectForm.invalid">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="viewNewProject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: yellow;">
                    <div class="col-12 col-md-12 d-flex flex-nowrap">
                        <div class="col-11 col-md-11 text_add_p_css">
                            <div class="modal-title fs-5" id="exampleModalLabel">{{projectUpdate.short_name}} Details</div>
                        </div>
                        <div class="col-1 col-md-1 text-end text-white"><button type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button></div>
                    </div>
                </div>
                <div class="modal-body m-4">
                    <div class="col-12 col-md-12 d-flex flex-wrap">
                        <div class="col-12 col-md-6">
                            <div class="add_css_pro_code">
                                <label>Project Name</label>
                                <span>{{projectUpdate.name}}</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex flex-wrap">
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Starting Date</label>
                                    <span>{{projectUpdate.start_date | date:'dd/MM/yyyy'}}</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="add_css_pro_code">
                                    <label>Deadline Date</label>
                                    <span>{{projectUpdate.deadline | date:'dd/MM/yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="add_css_pro_code">
                                <label>Handled By</label>
                                <span>{{projectUpdate.handel_by.name}}</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="add_css_pro_code">
                                <label>Client Name</label>
                                <span>{{projectUpdate.client_id.name}}</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="add_css_pro_code">
                                <label>Upload Doc.</label>
                                <span *ngFor="let project_resourses of projectUpdate.project_resourses , let i = index">
                                    {{project_resourses.name|| 'Document'}}</span>
                                <div *ngIf="projectUpdate.project_resourses == 0" class="d-flex">
                                    No Document
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="add_css_pro_code">
                                <label>Short Name</label>
                                <span>{{projectUpdate.short_name}}</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="add_css_pro_code">
                                <label>Other Information</label>
                                <span>{{projectUpdate.desc}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="downloadProject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: yellow;">
                    <div class="col-12 col-md-12 d-flex flex-nowrap">
                        <div class="col-11 col-md-11 text_add_p_css">
                            <div class="modal-title fs-5" id="exampleModalLabel">{{projectUpdate.short_name}} Details</div>
                        </div>
                        <div class="col-1 col-md-1 text-end text-white"><button type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button></div>
                    </div>
                </div>
                <div class="modal-body m-4">
                    <div class="col-12 col-md-12">
                        <div *ngFor="let project_resourses of projectUpdate.project_resourses , let i = index"
                            class="d-flex justify-content-between align-items-center">
                            <h2>{{project_resourses.name || 'Document'}}</h2>
                            <a [href]="'http://101.53.145.234:4005/' + projectUpdate.project_resourses.url" download>
                                <img src="../../../assets/images/download_css_ing.svg" class="w-25" alt="">
                            </a>
                        </div>
                        <div *ngIf="projectUpdate.project_resourses == 0"
                            class="d-flex justify-content-center align-items-center">
                            No Document
                        </div>
                        <div *ngIf="!projectUpdate.project_resourses"
                            class="d-flex justify-content-center align-items-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" style=" --bs-modal-zindex: 1000 !important;background-color: #58585867 !important;"
    id="viewProjectOpp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header" style="background-color: yellow;">
                <div class="col-12 col-md-12 d-flex flex-nowrap">
                    <div class="col-11 col-md-11 text_add_p_css">
                        <div class="modal-title fs-5" id="exampleModalLabel">Add {{projectUpdate.short_name}}
                            Participant</div>
                    </div>
                    <div class="col-1 col-md-1 text-end text-white"><button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button></div>
                </div>
            </div>
            <div class="modal-body m-4">
                <form #saveTeamMemberForm="ngForm" (ngSubmit)="addParticipant(addParticipantData)">
                    <div class="col-12 col-md-12 d-flex justify-content-center align-items-center">

                        <div class="teamMemberAdd">
                            <mat-form-field>
                                <mat-label>Team Member</mat-label>
                                <mat-select multiple aria-required="true" [(value)]="addParticipantData">
                                    <mat-option *ngFor="let getTeamMember of getTeamMemberList"
                                        [value]="getTeamMember._id">{{getTeamMember.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                    </div>
                    <div class="col-12 col-md-12">
                        <div class="save_css_button_code">
                            <button [disabled]="saveTeamMemberForm.invalid">Save</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>














  
  <!-- Modal addNewTask -->
  <div class="modal fade" id="addNewTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: yellow;">
            <div class="col-12 col-md-12 d-flex flex-nowrap">
                <div class="col-11 col-md-11 text_add_p_css"><div class="modal-title fs-5" id="exampleModalLabel">Add Task</div></div>
                <div class="col-1 col-md-1 text-end text-white"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            </div>
        </div>
        <div class="modal-body m-4">
            <form #saveTaskForm="ngForm" (ngSubmit)="saveTask(taskSave)">
          <div class="col-12 col-md-12 d-flex flex-wrap">
            <div class="col-12 col-md-6">
                <div class="add_css_pro_code">
                    <label>Select Project</label>
                    <select [(ngModel)]="taskSave.project_id" name="project_id">
                        <option disabled value="">Select Project</option>
                        <option *ngFor="let project of projectList" [value]="project._id">{{project.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="add_css_pro_code">
                    <label>Task Name</label>
                    <input type="text" placeholder="Task Name" [(ngModel)]="taskSave.name" name="name" required>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="add_css_pro_code">
                    <label>Assign To Team Member</label>
                    <select [(ngModel)]="taskSave.assgined_to" name="assgined_to" required>
                        <option disabled value="">Select Member</option>
                        <option *ngFor="let handel of handel_By" [value]="handel._id">{{handel.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="add_css_pro_code">
                    <label>Upload Doc.</label>
                    <input type="file" (change)="onChangeTaskSave($event)" [(ngModel)]="taskSave.task_attachement" name="task_attachement">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="add_css_pro_code">
                    <label>Start Date</label>
                    <input type="date" [(ngModel)]="taskSave.start_date" [min]="currentDate" name="start_date" required>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="add_css_pro_code">
                    <label>Deadline Date</label>
                    <input type="date" [(ngModel)]="taskSave.deadline" [min]="taskSave.start_date || currentDate " name="deadline" required>
                </div>
            </div>
            <div class="col-12 col-md-12">
                <div class="add_css_pro_code">
                    <label>Other Information</label>
                    <input type="text" placeholder="other information"  [(ngModel)]="taskSave.desc" name="desc">
                </div>
            </div>
          </div>
          <div class="col-12 col-md-12">
            <div class="save_css_button_code">
                <button  [disabled]="saveTaskForm.invalid">Save</button>
            </div>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>


   <!-- Modal updateNewTask -->
   <div class="modal fade" id="updateNewTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: yellow;">
            <div class="col-12 col-md-12 d-flex flex-nowrap">
                <div class="col-11 col-md-11 text_add_p_css"><div class="modal-title fs-5" id="exampleModalLabel">Update {{taskUpdate.name}} Task</div></div>
                <div class="col-1 col-md-1 text-end text-white"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            </div>
        </div>
        <div class="modal-body m-4">
            <form #updateTaskForm="ngForm" (ngSubmit)="updateTask(taskUpdate)">
                <div class="col-12 col-md-12 d-flex flex-wrap">
                    <div class="col-12 col-md-6">
                        <div class="add_css_pro_code">
                            <label>Select Project</label>
                            <select [(ngModel)]="taskUpdate.project_id" name="project_id">
                                <option disabled value="">Select Project</option>
                                <option *ngFor="let project of projectList" [value]="project._id">{{project.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="add_css_pro_code">
                            <label>Task Name</label>
                            <input type="text" placeholder="Task Name" [(ngModel)]="taskUpdate.name" name="name" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="add_css_pro_code">
                            <label>Assign To Team Member</label>
                            <select [(ngModel)]="taskUpdate.assgined_to" name="assgined_to" required>
                                <option disabled value="">Select Member</option>
                                <option *ngFor="let handel of handel_By" [value]="handel._id">{{handel.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="add_css_pro_code">
                            <label>Upload Doc.</label>
                            <input type="file" (change)="onChangeTaskSave($event)" [(ngModel)]="taskUpdate.task_attachement" name="task_attachement">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="add_css_pro_code">
                            <label>Start Date</label>
                            <input type="date" [(ngModel)]="taskUpdate.start_date" [min]="currentDate" name="start_date" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="add_css_pro_code">
                            <label>Deadline Date</label>
                            <input type="date" [(ngModel)]="taskUpdate.deadline" [min]="taskUpdate.start_date  || currentDate" name="deadline" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="add_css_pro_code">
                            <label>Other Information</label>
                            <input type="text" placeholder="other information"  [(ngModel)]="taskUpdate.desc" name="desc">
                        </div>
                    </div>
                  </div>
          <div class="col-12 col-md-12">
            <div class="save_css_button_code">
                <button [disabled]="updateTaskForm.invalid">Update</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>


  
   <!-- Modal ViewNewProject -->
   <div class="modal fade" id="viewNewTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background-color: yellow;">
            <div class="col-12 col-md-12 d-flex flex-nowrap">
                <div class="col-11 col-md-11 text_add_p_css"><div class="modal-title fs-5" id="exampleModalLabel">{{taskUpdate.name || 'Task'}} Details</div></div>
                <div class="col-1 col-md-1 text-end text-white"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            </div>
        </div>
        <div class="modal-body m-4">
          <div class="col-12 col-md-12 d-flex flex-wrap">
            <div class="col-12 col-md-6">
                <div class="add_css_pro_code">
                    <label>Project Name</label>
                    <span>{{taskUpdate.project_name}}</span>
                </div>
            </div>
            
            <div class="col-12 col-md-6">
                <div class="add_css_pro_code">
                    <label>Task No.</label>
                    <span>{{taskUpdate.task_number}}</span>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="add_css_pro_code">
                    <label>Task Name</label>
                    <span>{{taskUpdate.name}}</span>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="add_css_pro_code">
                    <label>Assign To Team Member</label>
                    <span>{{taskUpdate.assgined_to}}</span>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="add_css_pro_code">
                    <label>Upload Doc.</label>
                    <span *ngFor="let attachment of taskUpdate.attachment , let i = index">
                        {{attachment.name || 'Document'}}</span>
                        <div *ngIf="taskUpdate.attachment == 0" class="d-flex">
                            No Document
                        </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="add_css_pro_code">
                    <label>Description</label>
                    <span>{{taskUpdate.desc}}</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="downloadTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: yellow;">
                <div class="col-12 col-md-12 d-flex flex-nowrap">
                    <div class="col-11 col-md-11 text_add_p_css">
                        <div class="modal-title fs-5" id="exampleModalLabel">{{taskUpdate.name || 'Task'}} Details</div>
                    </div>
                    <div class="col-1 col-md-1 text-end text-white"><button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button></div>
                </div>
            </div>
            <div class="modal-body m-4">
                <div class="col-12 col-md-12">
                    <div  *ngFor="let attachment of taskUpdate.attachment , let i = index" class="d-flex justify-content-between align-items-center" >
                        <h2>{{attachment.name}}</h2>
                        <a href="'http://101.53.145.234:4005/' + taskUpdate.attachment.url" download>
                            <img src="../../../assets/images/download_css_ing.svg" class="w-25" alt="">
                        </a>
                    </div>
                    <div *ngIf="taskUpdate.attachment == 0" class="d-flex justify-content-center align-items-center">
                        No Document
                    </div>
                    <div *ngIf="!taskUpdate.attachment" class="d-flex justify-content-center align-items-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
