.header_css_added_project {
  font-size: 30px;
  font-weight: bold;
}
.header_css_button_project {
  display: flex;
  justify-content: end;
}
.header_css_button_project button {
  font-size: 19px;
  background-color: yellow;
  outline: none;
  padding: 10px;
  border: 1px solid yellow;
  border-radius: 10px;
  transition: transform .3s ease;
}
.header_css_button_project button:active {
  transform: scale(0.9);
}
.ban {
  overflow-x: scroll;
}
.tAble_css {
  border: 1px solid #e6e5fd;
  min-width: 1000px;
  /* overflow-x: scroll;
    overflow-y: hidden; */
}
.tHead_css {
  height: 60px;
}
.tHead_css tr th {
  text-align: center;
  vertical-align: middle;
}
.tBody_css tr {
  height: 60px;
  border-bottom: 4px solid #e6e5fd;
}
.tBody_css tr td {
  text-align: center;
  vertical-align: middle;
}
.select_css_code {
  width: 100%;
  background-color: #3b3a70;
  color: #fff;
  border-radius: 5px;
  height: 30px;
  outline: none;
}
.icon_t_e_e i {
  padding: 0px 5px;
  cursor: pointer;
}
.icon_t_e_e i:nth-child(1) {
  color: red;
}
.icon_t_e_e i:nth-child(2) {
  color: green;
}
.icon_t_e_e i:nth-child(3) {
  color: black;
}
.text_add_p_css {
  text-align: center;
  color: #000;
  font-weight: bold;
}
.add_css_pro_code {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.add_css_pro_code label {
  font-size: 17px;
  font-weight: bold;
}
.add_css_pro_code input,
.add_css_pro_code select {
  font-size: 15px;
  border: 2.5px solid #555353;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
  width: 80%;
}
.save_css_button_code {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.save_css_button_code button {
  background-color: yellow;
  color: #000;
  outline: none;
  border: 1px solid yellow;
  border-radius: 5px;
  padding: 10px 40px;
}
.save_css_button_code button:active {
  transform: scale(0.9);
}
.bg-secondary {
  background-color: #c2c2c2 !important;
}
.teamMemberAdd {
  font-size: 15px;
  border: 2.5px solid #555353;
  border-radius: 5px;
  padding: 1px;
  height: 60px;
}


.toggle_css {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 50px;
}
@media screen and (max-width: 1000px) {
  .toggle_css {
    width: 90%;
  }
}
.button_css {
  background-color: transparent;
  border: 1px solid black;
  width: 50%;
  height: 60px;
  font-size: 22px;
}
.button_light:hover {
  background-color: #f0f0f0;
}
.button_success {
  background-color: #4cff6b;
  font-weight: bold;
}
.button_danger {
  background-color: #ff4c4c;
  font-weight: bold;
}
.button_css:nth-child(1) {
  border-radius: 50px 0px 0px 50px;
}
.button_css:nth-child(2) {
  border-radius: 0px 50px 50px 0px;
}

.creativeAssetSearch{
  display: flex;
border-radius: 10px;
border: 2px solid #000;

background: #F8F9FF;
}
.searchBar{
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 90%;
  border-bottom: 2px solid #BCBBC3;
  padding-bottom: 10px;
  }
  
  .creativeAssetSearch input{
  border: none;
  background: transparent;
  outline: none;
  font-size: 18px;
  padding: 0 0 0 10px;
  }
  
  
  .creativeAssetsSearchIcon{
      width: 40px;
  height: 40px;
  padding: 6px;
     background-color: #393939;
  }