/* @font-face {
  font-family: "Airbolt";
  src: url("../../assets/font/airbolt/AirboltRegular.woff2") format("woff2"),
    url("../../assets/font/airbolt/AirboltRegular.woff") format("woff");
}
@font-face {
  font-family: "Helvetica";
  src: url("../../assets/font/helvetica/Helvetica-Bold.woff2") format("woff2"),
    url("../../assets/font/helvetica/Helvetica-Bold.woff") format("woff");
}
@font-face {
  font-family: "Michroma";
  src: url("../../assets/font/michroma/Michroma.woff2") format("woff2"),
    url("../../assets/font/michroma/Michroma.woff") format("woff");
} */
.slider_main_css {
  /* z-index: -1090 !important; */
  /* position: absolute; */
  /* background-image: url('../../assets/images/bg_home_page.svg'); */
  /* z-index: 10; */
  justify-content: center;
  align-items: center;
  display: flex;
  top: -120px !important;
}
.slider_text_css {
  /* background-image: url('../../assets/images/bg_home_page.svg'); */
  position: absolute !important;
  top: 100px !important;
  /* left: 120px !important; */
  z-index: 1090 !important;
}
.slider_on_img_div_css {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_on_img_css {
  width: 80%;
}
.slider_on_img_css img {
  width: 100%;
  border-radius: 0px;
  /* object-fit: contain;
  mix-blend-mode: darken;  */
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.rainbow {
  position: relative;
  z-index: 0;
  width: 100%;
  border-radius: 0px;
  overflow: hidden;
  padding: 5px;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #39995300;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#ffffff00, #ffffff00),
      linear-gradient(yellow, yellow), linear-gradient(#ffffff00, #ffffff00),
      linear-gradient(yellow, yellow);
    animation: rotate 10s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
    animation: opacityChange 10s infinite alternate;
  }
}

@keyframes opacityChange {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.text_on_slider_under_fff_yellow {
  color: #fff;
  font-size: 35px;
  line-height: 42px;
  font-family: "Helvetica", sans-serif;
  margin-top: 15px;
}
.text_on_slider_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.text_on_slider_button button {
  outline: none;
  background-color: transparent;
  color: yellow;
  border: 2px solid yellow;
  font-size: 30px;
  border-radius: 50px;
  padding: 10px 20px;
  transition: all 0.5 ease;
}
.text_on_slider_button button:hover {
  background-color: yellow;
  border: 2px solid yellow;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transform: scale(0.9);
}
.text_on_slider_css_fff {
  font-family: "Airbolt", sans-serif;
  font-size: 40px;
  color: #fff;
  line-height: 50px;
}
.text_on_slider_css_yellow {
  font-family: "Airbolt", sans-serif;
  font-size: 40px;
  color: yellow;
  line-height: 50px;
}

.main_slider_img {
  /* width: 100vw; */
  /* height: 105vh; */
  background-image: url("../../assets/images/bg_home_page.svg");
  background-size: cover;
  object-fit: cover;
  height: 750px;
  /* width: 100vw; */
  background-attachment: fixed;
}
.home_img_1_css img {
  width: 90%;
  /* filter: drop-shadow(1px 3px 5px black); */
}
.text_second_row_css_1 {
  font-family: "Michroma", sans-serif;
  font-size: 30px;
  line-height: 31px;
  color: black;
}
.text_second_row_css_2 {
  font-family: "Airbolt", sans-serif;
  font-size: 35px;
  line-height: 50px;
  color: black;
}
.text_second_row_css_3 {
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
  font-weight: 500 !important;
  color: black;
}
.years_15_css {
  position: relative;
  cursor: pointer;
}
.years_15_css::after {
  content: "";
  position: absolute;
  top: 30px; /* Move up by 10 pixels */
  left: 0;
  width: 100%; /* Set width to 30 pixels */
  height: 7px; /* Set thickness of the underline */
  background-color: yellow;
  z-index: -1;
}
.input_discover_works_css {
  border: 1px solid #919191;
  border-radius: 50px;
  line-height: 50px;
  margin: 20px 0px;
  display: flex;
}
.input_discover_works_css input {
  border: none;
  margin-left: 22px;
  outline: none;
  width: 56%;
  font-size: 25px;
}
.button_discover_work_css button {
  outline: none;
  border-radius: 50px;
  font-size: 18px;
  padding: 0px 40px;
  transform: rotate(5deg);
  position: relative;
  top: -8px;
  left: 55px;
  border: none;
  color: black;
  background-color: yellow;
  box-shadow: 2px 5px 5px black;
}
.button_discover_work_css button:hover {
  top: 0px;
  transform: rotate(0deg) scale(1.01);
}
.another_logos_css {
  border-radius: 50px 50px 0px 0px;
  /* background-color: #494949; */
  padding: 0px;
  background-image: url("../../assets/images/bg_another_logos.jpg");
  background-size: cover;
  object-fit: cover;
  height: auto;
  width: 100vw;
  background-attachment: fixed;
}
.we_take_second_text_1 {
  font-size: 30px;
  font-family: "Michroma", sans-serif;
  color: #fff;
  letter-spacing: 1.2px;
  line-height: 40px;
  margin-top: 100px;
  /* text-align: center; */
}
.we_take_second_text_2 {
  font-size: 30px;
  font-family: "Airbolt", sans-serif;
  color: yellow;
  letter-spacing: 1.2px;
  line-height: 35px;
}
.we_take_second_text_3 {
  font-size: 20px;
  font-family: "Helvetica", sans-serif;
  color: #fff;
  letter-spacing: 1.2px;
  line-height: 21px;
}
.logos_imgs_css {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.logos_img_css_bg_slider::-webkit-scrollbar {
  width: 0.01em;
}

.logos_img_css_bg_slider::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.logos_img_css_bg_slider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  margin-top: 100px;
  /* width: 200%;
  animation: marqueeSlide 20s linear infinite; */
  /* gap: 50px; */
  /* position: relative; */
}

@keyframes marqueeSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.logos_img_css_bg_slider .logos_img_css_1 {
  width: 200px;
  padding: 30px;
  transition: all 1s ease;
}
/* .logos_img_css_bg_slider .logos_img_css_1:hover {
  transform: scale(1.2);
  filter: drop-shadow(10px 10px 0px rgb(0, 0, 0));
} */

.logos_imgs_css .logos_img_css_1 {
  width: 200px;
  padding: 30px;
  transition: all 1s ease;
}
/* .logos_imgs_css .logos_img_css_1:hover {
  transform: scale(1.2);
  filter: drop-shadow(10px 10px 0px black);
} */

.video_img_css_on_img {
  margin-top: 20px;
  margin-bottom: 100px;
}
.video_img_css_on_img img {
  width: 100%;
  border: 2px solid yellow;
  padding: 0px;
}
.years_15_css_1 {
  position: relative;
  cursor: pointer;
}
.years_15_css_1::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: yellow;
  z-index: -1;
}

section .card-content-card .name-profession {
  height: 300px;
  width: 300px;
  padding: 35px 0px 0px 0px;
  background-image: url("../../assets/images/comma.png");
  background-repeat: no-repeat;
  background-position-y: 0px;
}

section .card-content-card .name-profession .name {
  font-size: 22px;
  font-weight: bold;
  line-height: 25px;
  font-family: "Helvetica", sans-serif;
}
section .card-content-card .name-profession .profession {
  font-size: 15px;
  line-height: 18px;
  font-family: "Helvetica", sans-serif;
}
section .card-content-card .card-content .card-img-text-content {
  margin-top: 100px;
  display: flex;
  width: 100%;
}

section .card-content-card .card-content .card-img-text-content .details-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2px;
}
section
  .card-content-card
  .card-content
  .card-img-text-content
  .details-user
  .name {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
}
section
  .card-content-card
  .card-content
  .card-img-text-content
  .details-user
  .poistion {
  font-size: 17px;
  font-weight: 100;
  color: #404040;
  font-family: "Helvetica", sans-serif;
}
section
  .card-content-card
  .card-content
  .card-img-text-content
  .details-user
  .star {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: start;
}
section
  .card-content-card
  .card-content
  .card-img-text-content
  .details-user
  .star
  i {
  color: #fff;
  background-color: #00b67a;
  font-size: 10px;
  padding: 4px;
}

section .card-content-card .card-content .card-img-text-content .image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .card-content-card .card-content .card-img-text-content .image img {
  height: 70%;
  width: 70%;
  border-radius: 50%;
}

.card-content-card {
  /* background-color: #fff; */
  margin-top: 3px;
  border-radius: 20px;
  border: 2px solid #bababa;
  cursor: pointer;
}
.card-content-card:hover {
  border: 2px solid #ecfa14;
  transform: scale(1.01);
  /* margin-top: 2px; */
}
.text_on_slider_button button {
  border: 1px solid black;
}
.text_on_slider_button button:hover {
  border: 1px solid yellow;
  transform: scale(0.9);
}

.card-content-card .card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px 25px 25px 25px;
}
.second-card-slider-css {
  display: flex;
  margin-top: 50px;
  padding-bottom: 50px;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.second-card-slider-css::-webkit-scrollbar {
  width: 0.5em;
}

.second-card-slider-css::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.slider_img_css_bg{
  display: flex;
  margin-top: 50px;
  padding-bottom: 95px;
  /* overflow-x: scroll; */
  background-image: url("../../assets/images/bg_for_card.svg");
  background-repeat: no-repeat;
  background-position-y: 490px;
}
.card-slider-css {
  
  width: 75%;
  display: flex;
  margin-top: 50px;
  padding-bottom: 50px;
  overflow-x: scroll;
  /* background-image: url("../../assets/images/bg_for_card.svg"); */
  background-repeat: no-repeat;
  background-position-y: 250px;
  /* justify-content: center; */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  
}
.card-slider-css-1 {
  
  width: 85%;
  display: flex;
  margin-top: 50px;
  padding-bottom: 50px;
  overflow-x: scroll;
  /* background-image: url("../../assets/images/bg_for_card.svg"); */
  background-repeat: no-repeat;
  background-position-y: 250px;
  /* justify-content: center; */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  
}
.card-slider-css::-webkit-scrollbar, .card-slider-css-1::-webkit-scrollbar  {
  width: 0.5em;
}

.card-slider-css::-webkit-scrollbar-thumb, .card-slider-css-1::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.text_look_over_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text_look_over_div .we_take_second_text_3 {
  width: 60%;
  text-align: center;
}
.video_bg_css {
  margin-top: 20px;
  padding-bottom: 60px;
  /* width: 100%; */
}
.video_bg_css img {
  /* margin-top: 20px;
  padding-bottom: 60px; */
  width: 100%;
}



.img_icon img {
  margin: 10px;
}
.bottom_img{
  display: flex;
  justify-content: center;
  align-items: start;
}
.bottom_img img{
  width: 60%;
}
.img_css_commma_2{
  margin-top: -41px;
}
.blog_css_text{
  font-size: 20px;
  font-weight: bold;
  text-align: start !important;
}

.box_main_css {
  background-color: #ccc;
  margin-top: -120px;
  margin-bottom: 100px;
  padding: 25px 0px;
  /* gap: 10px; */
}
.box_style_css {
  /* width: 19%; */
  cursor: pointer;
  /* perspective: 1000px; */
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 20px; */
  border: 3px solid #000;
  color: #000;
  margin: 10px;
  font-weight: bold;
  transition: all 1s ease;
  /* margin-top: -100px; */
}
.box_style_css:hover {
  animation: rotate-scale-down-hor 0.65s linear both;
  color: #fff;
  background-color: #000;
}
.box_style_css span {
  font-size: 20px;
}
.box_style_css:hover span {
  animation: rotate-scale-text-hor 0.65s linear both;
}
@keyframes rotate-scale-down-hor {
  0% {
    /* -webkit-transform: scale(1) rotateX(0); */
    transform: scale(1) rotateY(0);
  }
  50% {
    /* -webkit-transform: scale(0.9) rotateY(-180deg); */
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    /* -webkit-transform: scale(1) rotateY(-360deg); */
    transform: scale(1) rotateY(-180deg);
  }
}
@keyframes rotate-scale-text-hor {
  0% {
    transform: scale(1) rotateY(0);
  }
  50% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotateY(-180deg);
  }
}

.overwhelming_css {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overwhelming_css img {
  width: 50%;
  /* filter:  drop-shadow(2px 4px 6px black); */
  margin: 30px;
}
.overwhelming_text_css {
  width: 80%;
  font-size: 20px;
  text-align: center;
}
#client_satisfaction_css {
  width: 50% !important;
  line-height: 25px;
}
.collaborate_now_button_css {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.collaborate_now_button_css button {
  border-radius: 50px;
  border: 2px solid black;
  background-color: white;
  color: #000;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 25px;
  transition: all 0.5s ease;
}
.collaborate_now_button_css button:hover {
  border: 1px solid black;
  background-color: rgb(0, 0, 0);
  color: #ffff;
  font-weight: bold;
  transform: scale(0.9);
}

.video_portfolio_css {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
.video_portfolio_css div {
  width: 18%;
  margin: 5px;
}
.video_portfolio_css div img {
  width: 100%;
  cursor: pointer;
  /* margin: 10px; */
}
.video_portfolio_css img:hover {
  transform: scale(1.02);
}

#text_second_row_css_2_id {
  width: 50%;
}

.info-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.hover_css:hover .info-overlay {
  opacity: 1;
}
.hover_css {
  width: 18rem;
  position: relative;
  overflow: hidden;
  transition: all .1s ease;
  cursor: pointer;
}
.hover_css:hover img{
  /* margin: 10px; */
  transform: scale(.95);
}



@media screen and (max-width: 1199px) {
  .logos_img_css_bg_slider {
    margin-top: 18px;
  }

  .logos_img_css_bg_slider .logos_img_css_1 {
    width: 150px;
    padding: 10px;
  }
  .main_slider_img {
    height: 650px;
  }
  .input_discover_works_css {
    border: 1px solid #919191;
    border-radius: 50px;
    line-height: 25px;
    margin: 20px 0px;
    display: flex;
  }
  .input_discover_works_css input {
    border: none;
    margin-left: 22px;
    outline: none;
    width: 56%;
    font-size: 25px;
  }
  .button_discover_work_css button {
    border-radius: 50px;
    font-size: 18px;
    line-height: 25px;
    /* padding: 0px 40px; */
    transform: rotate(5deg);
    position: relative;
    top: -8px;
    left: 0px;
    border: none;
    color: black;
    background-color: yellow;
  }
}
@media screen and (max-width: 1024px) {
  .logos_img_css_bg_slider {
    margin-top: 18px;
  }

  .logos_img_css_bg_slider .logos_img_css_1 {
    width: 150px;
    padding: 10px;
  }
  .main_slider_img {
    height: 490px;
  }
  .slider_text_css {
    position: absolute !important;
    top: 50px !important;
    /* left: 30px !important; */
    z-index: 1090 !important;
  }
  .text_on_slider_under_fff_yellow {
    color: #fff;
    font-size: 15px !important;
    line-height: 20px !important;
    font-family: "Helvetica", sans-serif;
    margin-top: 15px;
  }
  .text_on_slider_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .text_on_slider_button button {
    outline: none;
    background-color: transparent;
    color: yellow;
    border: 1px solid yellow;
    font-size: 30px;
    border-radius: 50px;
    padding: 10px 20px;
  }
  .text_on_slider_button button:hover {
    background-color: yellow;
    border: 2px solid yellow;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transform: scale(0.9);
  }
  .text_on_slider_css_fff {
    font-family: "Airbolt", sans-serif;
    font-size: 20px !important;
    color: #fff;
    line-height: 25px !important;
  }
  .text_on_slider_css_yellow {
    font-family: "Airbolt", sans-serif;
    font-size: 20px !important;
    color: yellow;
    line-height: 25px !important;
  }
}
@media screen and (max-width: 991px) {
  #text_second_row_css_2_id {
    width: 100%;
  }

  #client_satisfaction_css {
    width: 100% !important;
    line-height: 25px;
  }

  .box_main_css {
    margin-top: -10px;
  }

  .logos_img_css_bg_slider {
    margin-top: 18px;
  }

  .logos_img_css_bg_slider .logos_img_css_1 {
    width: 150px;
    padding: 10px;
  }
  .main_slider_img {
    height: 390px;
  }
  .slider_main_css {
    top: 0px !important;
  }
}
@media screen and (max-width: 600px) {
  .card-slider-css{
    width: 100%;
  }
  .box_main_css {
    margin-top: -10px;
  }
  .logos_img_css_bg_slider {
    margin-top: 15px;
  }

  .logos_img_css_bg_slider .logos_img_css_1 {
    width: 100px;
    padding: 10px;
  }
  .main_slider_img {
    height: 300px;
  }
}
@media screen and (max-width: 450px) {
  .box_main_css {
    margin-top: 0px;
  }
  .logos_img_css_bg_slider {
    margin-top: 10px;
  }

  .logos_img_css_bg_slider .logos_img_css_1 {
    width: 100px;
    padding: 10px;
  }
  .main_slider_img {
    height: 290px;
  }
  /* banti */
  section .card-content-card .name-profession {
    height: 300px;
    width: 280px;
    padding: 35px 0px 0px 0px;
    background-image: url("../../assets/images/comma.png");
    background-repeat: no-repeat;
    background-position-y: 0px;
  }
  section .card-content-card .card-content .card-img-text-content {
    margin-top: 140px;
    display: flex;
    width: 100%;
  }
  .text_second_row_css_1 {
    font-family: "Michroma", sans-serif;
    font-size: 25px;
    line-height: 31px;
    color: black;
  }

  .home_img_1_css img {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .input_discover_works_css {
    border: 1px solid #919191;
    border-radius: 50px;
    line-height: 23px;
    margin: 20px 0px;
    display: flex;
  }
  .input_discover_works_css input {
    border: none;
    margin-left: 22px;
    outline: none;
    width: 56%;
    font-size: 22px;
  }
  .button_discover_work_css button {
    border-radius: 50px;
    font-size: 18px;
    /* line-height: 25px; */
    /* padding: 0px 40px; */
    transform: rotate(5deg);
    position: relative;
    top: -6px;
    left: 0px;
    border: none;
    color: black;
    background-color: yellow;
  }
  .slider_on_img_div_css {
    display: none;
  }
  .slider_text_css {
    position: absolute !important;
    top: 40px !important;
    left: 0px !important;
    z-index: 1090 !important;
  }
  .text_on_slider_under_fff_yellow {
    color: #fff;
    font-size: 15px !important;
    line-height: 15px !important;
    font-family: "Helvetica", sans-serif;
    margin-top: 13px;
  }
  .text_on_slider_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .text_on_slider_button button {
    outline: none;
    background-color: transparent;
    color: yellow;
    border: 1px solid rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 50px;
    padding: 5px 10px;
  }
  .text_on_slider_button button:hover {
    background-color: yellow;
    border: 2px solid yellow;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transform: scale(0.9);
  }
  .text_on_slider_css_fff {
    font-family: "Airbolt", sans-serif;
    font-size: 15px !important;
    color: #fff;
    line-height: 16px !important;
  }
  .text_on_slider_css_yellow {
    font-family: "Airbolt", sans-serif;
    font-size: 20px !important;
    color: yellow;
    line-height: 21px !important;
  }
}



