<div style="position: relative !important;">
  <div id="carouselExampleFade" class="carousel slide carousel-fade slider_main_css" data-bs-ride="carousel"
    data-bs-target="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img src="../../assets/images/bg_home_page.svg" class="d-block w-100 main_slider_img" alt="..."> -->
        <div class="d-block w-100 main_slider_img"></div>
      </div>
      <!-- <div class="carousel-item">
        <img src="../../assets/images/slider_2.jpg" class="d-block w-100 main_slider_img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/slider_3.jpg" class="d-block w-100 main_slider_img" alt="...">
      </div> -->
    </div>
    <button class="carousel-control-prev d-none" type="button" data-bs-target="#carouselExampleFade"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next d-none" type="button" data-bs-target="#carouselExampleFade"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container-fluid slider_text_css">
    <div class="col-xxl-12 col-12 d-flex flex-wrap">
      <div class="col-xxl-12 col-md-12 col-12 text-center">
        <div>
          <span class="text_on_slider_css_yellow">from script to final cut</span>
        </div>
        <div class="text_on_slider_under_fff_yellow">All Your Audio-Visual Content</div>
        <div class="text_on_slider_under_fff_yellow" style="color: yellow;">Challenges taken away</div>
        <div class="text_on_slider_button">
          <button style="border-color: yellow;" routerLink="/how-it-works">Collaborate now <i class="fa fa-arrow-right"></i></button>
        </div>
        <div class="mt-4 fs-5">
          <a href="#" class="text-white">
            <i class="fa fa-play-circle"></i> Watch Video
          </a>
        </div>
      </div>
      <div class="container-fluid">
        <div class="logos_img_css_bg_slider">
          <marquee behavior="scroll" direction="Rights" loop="infinite">
            <img src="../../assets/images/HCL_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/vodafone_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/airtel_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/idea_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/dp_world_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/hero_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/eduauraa_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/justdial_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/cocacola_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/grant_thornton_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/lumnx_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/lexi_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/bsh_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/dassault_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/concentrix_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/the_times_of_india_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/hindustantimes_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/properties_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/spicejet_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/provogue_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/prozone_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/goverment_of_india_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/bmw_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/cashkaro_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/phoenix_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/amazon_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/akzonobel_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/spice_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/samsuno_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/lg_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/vidyagyan_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/shiv_nadar_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/heroecotech_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/aonhewitt_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/sanofi_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/ascend_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/indosat_logo.svg" class="logos_img_css_1" alt="">
          </marquee>
        </div>
      </div>
      <!-- <div class="col-xl-6 col-md-6 col-12">
        <div class="slider_on_img_div_css">
          <div class="slider_on_img_css">
            <div class="rainbow">
              <img src="../../assets/images/slider_on_img.jpg" alt="">
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="container-fluid box_main_css">
    <div class="">
      <div class="col-12 col-md-11 offset-md-1 d-flex flex-wrap">
        <div class="col-12 col-md-2">
          <div class="box_style_css">
            <span><b>1,200+</b> AVS</span>
          </div>
        </div>
        <div class="col-12 col-md-2">
          <div class="box_style_css">
            <span><b>100+</b> ANTHEM <br>
              SONGS</span>
          </div>
        </div>
        <div class="col-12 col-md-2">
          <div class="box_style_css">
            <span><b>100+</b> BRANDS</span>
          </div>
        </div>
        <div class="col-12 col-md-2">
          <div class="box_style_css">
            <span><b>15+</b> YEARS AV <br>
              EXPERIENCE</span>
          </div>
        </div>
        <div class="col-12 col-md-2">
          <div class="box_style_css">
            <span><b>50+</b> EVENT <br>
              COMPANIES</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-top: 140px;">
      <div class="col-xl-12 col-md-12 col-12 text-center d-flex flex-column justify-content-center align-items-center">
        <div class="text_second_row_css_2 text-center" id="text_second_row_css_2_id">Getting AV Content made can be
          overwhelming</div>
        <div class="text_second_row_css_3" style="font-family: 'Michroma', sans-serif;">If you don’t have a strong AV
          partner...</div>
      </div>
      <!-- font-family: "Michroma", sans-serif; -->
    </div>

    <div class="row mt-5">
      <div class="col-xl-12 col-md-12 col-12 d-flex flex-wrap">
        <div class="col-12 col-md-4 col-xxl-4 my-2 d-flex justify-content-center align-items-center flex-column">
          <div class="overwhelming_css">
            <img src="../../assets/images/img_11_img.svg" alt="">
          </div>
          <div class="overwhelming_text_css">Getting the right script and then nailing the execution can become
            extremely stressful and frustrating</div>
        </div>
        <div class="col-12 col-md-4 col-xxl-4 my-2  d-flex justify-content-center align-items-center flex-column">
          <div class="overwhelming_css">
            <img src="../../assets/images/img_10_img.svg" alt="">
          </div>
          <div class="overwhelming_text_css">You waste your valuable time chasing the changes and iteration</div>
        </div>
        <div class="col-12 col-md-4 col-xxl-4 my-2  d-flex justify-content-center align-items-center flex-column">
          <div class="overwhelming_css">
            <img src="../../assets/images/img_12_img.svg" alt="">
          </div>
          <div class="overwhelming_text_css">You find yourself compromising on creative quality due to time pressure
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center flex-column mt-5">
      <div class="overwhelming_text_css" id="client_satisfaction_css">And this can lead to reduced client satisfaction,
        risking repeat business and potential revenue growth. We don’t want to see that happen to you.</div> <br>
      <div class="overwhelming_text_css" id="client_satisfaction_css">Over the past 15+ years, we’ve crafted over 1200
        audio-visuals for event companies and brands, partnering in their growth and success. Our expertise in cinematic
        storytelling can propel your vision to new heights as well.</div>
      <div class="collaborate_now_button_css">
        <button routerLink="/how-it-works">Collaborate now</button>
      </div>
    </div>
  </div>


  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12 d-flex flex-wrap">
        <div class="col-xl-6 col-md-6 col-12">
          <div class="home_img_1_css">
            <img src="../../assets/images/Rise_to_Top In_Class.svg" alt="">
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-12 d-flex justify-content-center align-items-center">
          <div class="text-start">
            <!-- <div class="text_second_row_css_1">We Understand You</div> -->
            <div class="text_second_row_css_2">Rise to <span class="years_15_css">Top</span> In <span
                class="years_15_css">Class</span></div>
            <div class="text_second_row_css_3">At AVX Mediaworkz, we know you are the kind of people who want to be
              <strong style="font-weight: bold !important;">‘Top in Class’</strong> In order to be that way, you need
              create high client satisfaction to repeat and multiply business. 
            </div>
            <div class="text_second_row_css_3">In the modern landscape, Events today have transformed into an
              Audio-Visual Experience demanding creative AU prowess but, the problem is there’s not many AV pros who
              truly get the whole package - the ones who can understand your event's vision, are expert at Film craft,
              and can write awesome copy.  Which makes you feel stressed and frustrated due to the high client
              expectations.
            </div>
            <!-- <div class="input_discover_works_css">
              <input type="text" placeholder="Search here...">
              <div class="button_discover_work_css">
                <button>Discover Works</button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12 d-flex flex-wrap">

        <div class="col-xl-6 col-md-6 col-12 d-flex justify-content-center align-items-center">
          <div class="text-start">
            <!-- <div class="text_second_row_css_1">We Understand You</div> The smooth way -->
            <div class="text_second_row_css_2">The <span class="years_15_css">smooth</span>&nbsp;<span
                class="years_15_css">way</span></div>
            <div class="text_second_row_css_3">We believe you shouldn't have to burned out to deliver on Client
              Expectations as far as Audio -Visuals are concerned. We understand what you go through to execute and
              deliver those ever-demanding events.
            </div>
            <div class="text_second_row_css_3">That’s why we make the AV making process as effortless for you as we can,
              while conceiving cinematic moments that can be felt & treasured through our signature- Cinematic
              Storytelling! 
            </div>
            <!-- <div class="input_discover_works_css">
              <input type="text" placeholder="Search here...">
              <div class="button_discover_work_css">
                <button>Discover Works</button>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <div class="home_img_1_css">
            <img src="../../assets/images/The_smooth_way.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12 d-flex flex-wrap">
        <div class="col-xl-6 col-md-6 col-12">
          <div class="home_img_1_css">
            <img src="../../assets/images/With_3_Simple_Steps_to_Success.svg" alt="">
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-12 d-flex justify-content-center align-items-center">
          <div class="text-start">
            <!-- <div class="text_second_row_css_1">We Understand You</div>  With 3 Simple Steps to Success-->
            <div class="text_second_row_css_2">With 3 Simple <span class="years_15_css">Steps</span> to <span
                class="years_15_css">Success</span></div>
            <div class="text_second_row_css_3">Here’s how this works in just 3 simple steps. 
            </div>
            <br>
            <div class="text_second_row_css_3"><span class="text-white bg-dark px-2">STEP - 1</span> Just drop on to our
              website and brief us the way you wish (There are loads of options from voice to video and more)
            </div>
            <br>
            <div class="text_second_row_css_3"><span class="text-white bg-dark px-2">STEP - 2</span> Schedule a meeting
              with us or allow us to call you at your convenient time to discuss your project
            </div>
            <br>
            <div class="text_second_row_css_3"><span class="text-white bg-dark px-2">STEP - 3</span> and sign up with
              your contact details. 
            </div>
            <br>
            <div class="text_second_row_css_3">That’s all! 
            </div>
            <!-- <div class="input_discover_works_css">
              <input type="text" placeholder="Search here...">
              <div class="button_discover_work_css">
                <button>Discover Works</button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12 d-flex flex-wrap">

        <div class="col-xl-6 col-md-6 col-12 d-flex justify-content-center align-items-center">
          <div class="text-start">
            <!-- <div class="text_second_row_css_1">We Understand You</div> Commanding and Controlling -->
            <div class="text_second_row_css_2"><span class="years_15_css">Commanding</span> and <span
                class="years_15_css">Controlling</span></div>
            <div class="text_second_row_css_3">At that moment, our advanced tech-infused systems spring into action,
              crafting a bespoke dashboard for you. This becomes your command center, where you can steer every aspect
              of your AV production, from the initial script to the final cut. It's all there at your fingertips,
              streamlining the entire process with detailed oversight—no more clutter of group chats or endless calls.
              Plus, we provide a dedicated account manager to ensure everything runs smoothly, done for you as
              committed, making the complex turn effortless.
            </div>
            <!-- <div class="text_second_row_css_3">That’s why we make the AV making process as effortless for you as we can, while conceiving cinematic moments that can be felt & treasured through our signature- Cinematic Storytelling! 
            </div> -->
            <!-- <div class="input_discover_works_css">
              <input type="text" placeholder="Search here...">
              <div class="button_discover_work_css">
                <button>Discover Works</button>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-12">
          <div class="home_img_1_css">
            <img src="../../assets/images/Commanding_and_Controlling.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12 d-flex flex-wrap">
        <div class="col-xl-6 col-md-6 col-12">
          <div class="home_img_1_css">
            <img src="../../assets/images/To_xpand_Differently.svg" alt="">
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-12 d-flex justify-content-center align-items-center">
          <div class="text-start">
            <!-- <div class="text_second_row_css_1">We Understand You</div> To Expand Differently -->
            <div class="text_second_row_css_2">To <span class="years_15_css">Expand</span>&nbsp;<span
                class="years_15_css">Differently</span></div>
            <div class="text_second_row_css_3">So, collaborate now and stop the cycle of stress, burnout, frustration
              and anxiety. Leave behind the endless hours in the editing studios, which could be better spent with
              friends and family or in pursuing new client relationships. End the cycle of settling for just 'nice'
              responses to your AV Content.  
            </div>
            <div class="text_second_row_css_3">Step into a world where High Client Appreciation repeats and multiplies
              business, setting the stage for your brand to thrive. 
            </div>
            <div class="text_second_row_css_3">With AVX, it's more than growth; it's about reshaping the landscape
              through new ways of making things happen. Collaborating with AVX Mediaworkz you will grow and expand
              Differently.
            </div>
            <!-- <div class="input_discover_works_css">
              <input type="text" placeholder="Search here...">
              <div class="button_discover_work_css">
                <button>Discover Works</button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container-fluid p-0" style="margin-top: 100px;">
    <div class="another_logos_css">
      <div class="container">
        <div class="d-flex justify-content-center align-items-center flex-column col-md-12 col-12 text-center">
          <!-- <div class="we_take_second_text_1">We Take</div> -->
          <div class="we_take_second_text_2 mt-5">PRIDE IN OUR WORK</div>
          <div class="we_take_second_text_3 mt-2">Together we have helped more than a dozen companies make their brands
            better.</div>
          <div class="logos_imgs_css col-md-12">
            <img src="../../assets/images/HCL_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/vodafone_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/airtel_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/idea_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/dp_world_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/hero_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/eduauraa_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/justdial_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/cocacola_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/grant_thornton_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/lumnx_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/lexi_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/bsh_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/dassault_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/concentrix_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/the_times_of_india_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/hindustantimes_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/properties_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/spicejet_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/provogue_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/prozone_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/goverment_of_india_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/bmw_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/cashkaro_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/phoenix_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/amazon_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/akzonobel_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/spice_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/samsuno_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/lg_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/vidyagyan_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/shiv_nadar_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/heroecotech_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/aonhewitt_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/sanofi_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/ascend_logo.svg" class="logos_img_css_1" alt="">
            <img src="../../assets/images/indosat_logo.svg" class="logos_img_css_1" alt="">

            <!-- <div class="col-md-12 col-12  d-flex justify-content-center align-items-center video_img_css_on_img">
              <img src="../../assets/images/video_img.svg" alt="">

            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="background-color: yellow; height: 30px; width: 100%;"></div>

  </div>
<!-- portfolio portfolio portfolio -->
  <div class="mt-5 text-center" id="portfolio">
    <div class="col-md-12 col-12 d-flex flex-wrap flex-column justify-content-center align-items-center">
      <div class="we_take_second_text_1" style="color: black;">Have a look over</div>
      <div class="we_take_second_text_2" style="color: black;"><span class="years_15_css_1">Our</span> work <span
          class="years_15_css_1">portfolio</span></div>
      <div class="text_second_row_css_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.</div>
      <div class="container">

        <div class="col-12 col-md-12 col-xxl-12">
          <div class="video_portfolio_css">
            <div *ngFor="let item of items">
              <img src="../../assets/images/video-bg_img.svg" alt="item">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="mt-5 text-center">
    <div
      class="col-md-12 col-12 d-flex flex-wrap flex-column justify-content-center align-items-center slider_img_css_bg">
      <div class="we_take_second_text_1" style="color: black;">What Our</div>
      <div class="we_take_second_text_2" style="color: black;"><span class="years_15_css_1">client</span> Says <span
          class="years_15_css_1">about us</span></div>
      <div class="col-md-12 col-12 card-slider-css">
        <section class="d-flex">
          <div class="container-fluid" *ngFor="let card of vCards()">
            <div class="content">
              <div class="card-content-card bg-white">
                <div class="card-content">
                  <div class="name-profession">
                    <p class="name">{{card.name}}</p>
                    <p class="profession">{{card.profession}}</p>
                  </div>

                  <div class="card-img-text-content">
                    <div class="image">
                      <img [src]="card.imageUrl" alt="">
                    </div>
                    <div class="details-user">
                      <div class="star">
                        <i class="fa fa-star" *ngFor="let star of getStars(card.stars)"
                          [style.color]="star ? 'yellow' : '#fff'" id="star"></i>
                      </div>
                      <div class="name">{{card.userName}}</div>
                      <div class="poistion">{{card.userPosition}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </section>
      </div>
      <div class="container">
        <div class="text-black float-end fs-5">Source : <b>Trustpilot</b></div>
      </div>
    </div>
  </div>
  <!-- ban -->
  <div class="container-fluid text-center mt-3">
    <div class="text_look_over_div">
      <div class="we_take_second_text_1" style="color: #000000;">Have a look over</div>
      <div class="we_take_second_text_2" style="color: #000000;"><span class="years_15_css_1">Our</span> work <span
          class="years_15_css_1">portfolio</span></div>
      <div class="we_take_second_text_3" style="color: #000000; font-size: 15px !important;">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
    <div class="container-fluid d-flex justify-content-center align-items-center">
      <div class="col-md-12 col-12 card-slider-css-1">
        <section class="d-flex">
          <div class="container-fluid" *ngFor="let card of vCards()">
            <div class="card hover_css" style="width: 18rem;">
              <img src="../../assets/images/jazz_img.svg" class="card-img-top" alt="...">
              <div class="info-overlay">
                <span><b>Portfolio Item 02</b></span>
                <span>Description and Details Here</span>
                <!-- Add more information as needed -->
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>

  <div class="container-fluid p-0">
    <div class="video_bg_css col-md-12 col-12">
      <img src="../../assets/images/video_bg_img.svg" alt="">
    </div>
  </div>
<!--  why-us why-us why-us -->
  <div class="container text-start mt-3" id="why-us">
    <div class="col-md-12 col-12 d-flex flex-wrap">
      <div class="col-md-6 col-12 ">
        <div class="text_look_over_div" style="align-items: start !important;">
          <div class="we_take_second_text_1 " style="color: #000000;">Check</div>
          <div class="we_take_second_text_2" style="color: #000000;"><span class="years_15_css_1">Why</span> to <span
              class="years_15_css_1">choose Us</span></div>
          <div class="we_take_second_text_3"
            style="color: #000000; font-size: 15px !important; text-align: start !important; width: 100% !important;">
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>

        <!-- <div class="col-md-12 col-12">
          <div class="row">
            <div class="col-md-12 col-12 pt-5 d-flex">
              <div class="col-md-2 col-3 justify-content-center align-items-center d-flex">
                <div class="img_icon">
                  <img src="../../assets/images/star-img.svg" alt="">
                </div>
              </div>
              <div class="col-md-10 col-9">
                <div style="font-size: 20px; font-weight: bold; font-family: 'Helvetica', sans-serif;">4.8/5 Star rating
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-12 pt-5 d-flex">
              <div class="col-md-2 col-3 justify-content-center align-items-center d-flex">
                <div class="img_icon">
                  <img src="../../assets/images/Heart_icon.svg" alt="">
                </div>
              </div>
              <div class="col-md-10 col-9">
                <div style="font-size: 20px; font-weight: bold; font-family: 'Helvetica', sans-serif;">100% Love it
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-12 pt-5 d-flex">
              <div class="col-md-2 col-3 justify-content-center align-items-center d-flex">
                <div class="img_icon">
                  <img src="../../assets/images/time_icon.svg" alt="">
                </div>
              </div>
              <div class="col-md-10 col-9">
                <div style="font-size: 20px; font-weight: bold; font-family: 'Helvetica', sans-serif;">24/7 creativity
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-12 pt-5 d-flex">
              <div class="col-md-2 col-3 justify-content-center align-items-center d-flex">
                <div class="img_icon">
                  <img src="../../assets/images/app_icon.svg" alt="">
                </div>
              </div>
              <div class="col-md-10 col-9">
                <div style="font-size: 20px; font-weight: bold; font-family: 'Helvetica', sans-serif;">90+ Design
                  Categories</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <!-- <div class="col-md-6 col-12">
        <div class="d-flex justify-content-center align-items-center mt-5 h-100">
          <img src="../../assets/images/man_video_img.svg" style="width: 100%;" alt="">
        </div>
      </div> -->
    </div>
    <div class="col-12 col-md-12 d-flex flex-wrap">
      <div class="col-md-4 col-12">
        <div class="row">
          <div class="col-md-12 col-12 pt-5 d-flex">
            <div class="col-md-2 col-3 justify-content-center align-items-center d-flex">
              <div class="img_icon">
                <img src="../../assets/images/Cinematic_Excellence.svg" alt="">
              </div>
            </div>
            <div class="col-md-10 col-9 mx-2">
              <div style="font-size: 20px; font-weight: bold; font-family: 'Helvetica', sans-serif;">Cinematic
                Excellence
              </div>
              <div>We adhere to a premium-only policy that guarantees high-quality cinematic work for every project.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-12 pt-5 d-flex">
            <div class="col-md-2 col-3 justify-content-center align-items-center d-flex">
              <div class="img_icon">
                <img src="../../assets/images/Expert_Script_Writers.svg" alt="">
              </div>
            </div>
            <div class="col-md-10 col-9 mx-2">
              <div style="font-size: 20px; font-weight: bold; font-family: 'Helvetica', sans-serif;">Expert Script
                Writers
              </div>
              <div>Our scripts are penned by seasoned writers with extensive backgrounds in advertising and film,
                ensuring that your client’s message hits the mark from the start.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-12 pt-5 d-flex">
            <div class="col-md-2 col-3 justify-content-center align-items-center d-flex">
              <div class="img_icon">
                <img src="../../assets/images/TECH_ENABLED_Smart_Streamlined_Process.svg" alt="">
              </div>
            </div>
            <div class="col-md-10 col-9 mx-2">
              <div style="font-size: 20px; font-weight: bold; font-family: 'Helvetica', sans-serif;">Visualised
                Precision
              </div>
              <div>To set clear expectations and minimize revisions, we provide detailed mood boards along with scripts,
                enhancing understanding and vision alignment.</div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12 col-12 pt-5 d-flex">
            <div class="col-md-2 col-3 justify-content-center align-items-center d-flex">
              <div class="img_icon">
                <img src="../../assets/images/Directed_by_Experts.svg" alt="">
              </div>
            </div>
            <div class="col-md-10 col-9 mx-2">
              <div style="font-size: 20px; font-weight: bold; font-family: 'Helvetica', sans-serif;">90+ Design
                Categories</div>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.</div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="col-md-4 col-12">
        <div class="row">
          <div class="col-md-12 col-12 pt-5 d-flex">
            <div class="col-md-2 col-3 justify-content-center align-items-center d-flex">
              <div class="img_icon">
                <img src="../../assets/images/Directed_by_Experts.svg" alt="">
              </div>
            </div>
            <div class="col-md-10 col-9 mx-2">
              <div style="font-size: 20px; font-weight: bold; font-family: 'Helvetica', sans-serif;">90+ Design
                Categories</div>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-12 pt-5 d-flex">
            <div class="col-md-2 col-3 justify-content-center align-items-center d-flex">
              <div class="img_icon">
                <img src="../../assets/images/TECH_ENABLED_Smart_Streamlined_Process.svg" alt="">
              </div>
            </div>
            <div class="col-md-10 col-9 mx-2">
              <div style="font-size: 20px; font-weight: bold; font-family: 'Helvetica', sans-serif;">TECH ENABLED Smart,
                Streamlined Process</div>
              <div>Our tech-driven workflow empowers you to take CONTROL of your project effortlessly, saving you time
                and reducing your effort.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="row">
          <div class="col-md-12 col-12 pt-5 d-flex flex-column">
            <div class="bottom_img">
              <img src="../../assets/images/bottom_img.svg" alt="">
            </div>
            <div class="img_css_commma_2">
              <img src="../../assets/images/comma_2.svg" class="w-100" alt="">
            </div>
            <div class="text-center mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
              a galley of type and scrambled it to make a type specimen book.</div>
            <div class="text-end mt-3"><b>- Vinay Jaiswal</b>, <u>Founder AVX Mediaworkz</u></div>
            <div class="mt-2">
              <img src="../../assets/images/comma_1.svg" class="w-100" alt="">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container d-flex justify-content-center align-items-center mt-5 pb-5">
    <div class="text_on_slider_button">
      <button style="color: #000000;" routerLink="/how-it-works">Get Started <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>

<!-- Blogs Blogs Blogs -->
  <div class="mt-5" id="blog">
    <div class="col-md-12 col-12 d-flex flex-wrap flex-column justify-content-center align-items-center">
      <div class="we_take_second_text_1" style="color: black;">Read our</div>
      <div class="we_take_second_text_2 text-center" style="color: black;"><span class="years_15_css_1">Blogs</span> & <span
          class="years_15_css_1">Tips School</span></div>
      <div class="container mt-5">
        <div class="col-12 col-md-12 col-xxl-12 d-flex flex-wrap">
          <div class="col-12 col-md-6 col-xxl-6">
            <img src="../../assets/images/img_for_down.svg" class="w-100 pe-3" alt="">
          </div>
          <div class="col-12 col-md-6 col-xxl-6 mt-2">
            <div class="col-12 col-md-12 col-xxl-12 d-flex flex-nowrap">
              <div class="col-3 col-md-4 col-xxl-3 py-2">
                <img src="../../assets/images/img_for_down_1.svg" class="w-100" alt="">
              </div>
              <div class="col-9 col-md-8 col-xxl-9 ps-2 d-flex justify-content-around flex-column">
                <span class="blog_css_text">Blog Headline Here, Lorem ipsum for example, It May look like this.</span>
                <div class="text-black">
                  <span>5 Months Ago | 15 Minute Read</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xxl-12 d-flex flex-nowrap">
              <div class="col-3 col-md-4 col-xxl-3 py-2">
                <img src="../../assets/images/img_for_down_1.svg" class="w-100" alt="">
              </div>
              <div class="col-9 col-md-8 col-xxl-9 ps-2 d-flex justify-content-around flex-column">
                <span class="blog_css_text">Blog Headline Here, Lorem ipsum for example, It May look like this.</span>
                <div class="text-black">
                  <span>5 Months Ago | 15 Minute Read</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xxl-12 d-flex flex-nowrap">
              <div class="col-3 col-md-4 col-xxl-3 py-2">
                <img src="../../assets/images/img_for_down_1.svg" class="w-100" alt="">
              </div>
              <div class="col-9 col-md-8 col-xxl-9 ps-2 d-flex justify-content-around flex-column">
                <span class="blog_css_text">Blog Headline Here, Lorem ipsum for example, It May look like this.</span>
                <div class="text-black">
                  <span>5 Months Ago | 15 Minute Read</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container d-flex justify-content-center align-items-center mt-5 pb-5">
          <div class="text_on_slider_button">
            <button style="color: #000000;">Read More <i class="fa fa-arrow-right"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

