.creativeAsset{
    font-size: 30px;
    font-weight: bold;
    }
    .creativeAssetsFolder{
        width: 160.76px;
        height: 160.307px;
    }
    
    .creativeAssetsFolderText{
        color: #473604;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    }
    .folder{
        display: flex;
        flex-wrap: wrap;
        /* margin: 0 auto; */
    }